<div class="smartbanner sb-android">
  <div class="sb-container">
    <a href="javascript:void(0);" class="sb-close">×</a>
    <img class="sb-app-icon" src="/images/share-img/apple-touch-icon-57x57.png"></span>
    <div class="sb-info">
      <span class="sb-title">Toggl Time Tracker</span><br />
      <span style="font-size: 11px; color: #999;">Official mobile app</span><br />
      <span style="color: #999;">FREE - In Google Play</span>
    </div>
    <a href="http://play.google.com/store/apps/details?id=com.toggl.timer" class="sb-cta">View</a>
  </div>
</div>