<section class="modal-overlay modal-video modal-overlay--visible">
  <div class="modal-overlay__content">
    <button class="modal-overlay__close"></button>
    <iframe id="ytplayer" type="text/html" src="https://www.youtube.com/embed/LsrqfjrlQw0?autoplay=1&modestbranding=1&rel=0&showinfo=0&color=white" frameborder="0" allowfullscreen>
  </div>
</section>
