<section class="modal-overlay">
  <div class="modal-overlay__content loading-overlay__content">
    <div class="nprogress-spinner"></div>
    <span class="js-modal-message">Verifying info from Google.</span>
  </div>
</section>
