<section class="modal-overlay">
  <div class="modal-overlay__content">
    <button class="modal-overlay__close"></button>
    <header>
      <img src="images/toggl-logo-icon.svg?1" alt="">
    </header>
    <form action="#" class="login-form">
      <div class="login-form__error">
        <strong>We're having some problems with our servers!<br />
          Follow the progress on our <a href="https://twitter.com/toggl" style="color: white; text-decoration: underline">twitter feed</a></strong>
      </div>
      <div class="login-form__field">
        <input name="email" type="email" placeholder="E-mail">
      </div>
      <div class="login-form__field">
        <input name="password" type="password" placeholder="Password">
      </div>
      <div class="login-form__controls">
        <label>
          <input name="remember_me" type="checkbox"> Remember me
        </label>
        <a href="/forgot-password" class="js-forgot-password">Forgot password?</a>
      </div>
      <div class="login-form__submit">
        <button type="submit" class="cta-button cta-button--inline-wider cta-button--filled cta-button--no-arrow cta-button--small js-ripple-button">Log in</button>
      </div>
      <div class="login-form__oauth">
        <a href="#" class="login-form__oauth__google">Log in with google</a>
      </div>
    </form>
  </div>
</section>
