@charset "utf-8";
/* Mobile Responsive (devices and browser) */
@media only screen  and (max-width:1024px) {
.wrapper .logo { /*width:calc(100% / 1 - 745px + 0px);*/ min-width:150px;}
}
@media only screen and (max-width:1280px) {
/*.top_section .banner_content {
    padding: 12.5% 0 320px;
}*/
}
@media only screen and (max-width:720px) {
	.banner_content h1{font-size: 65px;}
	.top_section .banner_content {padding: 145px 0 220px;}
	.main_content h2{font-size: 30px;}
}
@media only screen and (max-width:780px) {
	.banner_content h1{font-size: 50px;}
	.banner_content p{font-size: 17px;}
	/*.wrapper .btn{font-size: 18px;padding: 18px 37px;}*/
	
}
@media only screen and (max-width:620px) {
	.wrapper .btn{font-size: 18px;padding: 15px 30px;}
	.banner_content h1{font-size: 40px;}
	.banner_content p{font-size: 16px;}
	/*.top_section .banner_content {padding: 80px 0 120px;}*/
	.main_content h2{font-size: 25px;}
	.thanks_popup p{ font-size:12px;}
	
}
@media only screen and (max-width:580px) {
.wrapper .logo { height: 24px; min-width: 145px;padding-bottom: 45px; padding-left: 16px; padding-top: 17px;}
}
@media only screen and (max-width:566px) {
.wrapper .custom_btn {font-size: 14px; padding: 8px 10px;  width: 100%; max-width:360px;}
.request-specifics {  padding: 0 40px;}
.request-specifics input[type="text"]{margin-right: 0px;text-align: center;}
.main_content .bott_form_cont .link_btn { width: 210px;padding:12px 35px;font-size: 18px;}
.post_list .post_box h3		{font-size:14px;}
.post_list .post_box p		{ font-size:12px;}
}
@media only screen and (max-width:380px) {
	.banner_content .price_txt {font-size: 13px;}
	.banner_content p { font-size: 12px;}
	.banner_content h1 {font-size: 30px;}
	.main_content h2{font-size: 20px;}
	.post_list .post_box h3 {font-size: 15px;}
	.post_list .post_box p {font-size: 12px;}
	.request-specifics input[type="text"]{font-size: 15px;}
	.main_content .bott_form_cont .link_btn {width:150px;font-size: 13px;}
		
}
@media only screen and (max-width:320px) {
	.banner_content .price_txt {font-size: 12px;}
	.banner_content h1 {font-size: 20px;padding-bottom: 0px;}
	
	.main_content h2 { font-size: 17px;}
	
}