@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300italic,300,400italic,600italic,600,700,700italic,800,800italic);

@font-face {font-family: 'DIN_Next'; font-weight: bold; src: url('../fonts/2C814A_0_0.eot');src: url('../fonts/2C814A_0_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2C814A_0_0.woff2') format('woff2'),url('../fonts/2C814A_0_0.woff') format('woff'),url('../fonts/2C814A_0_0.ttf') format('truetype');}
  
@font-face {font-family: 'DIN Next'; font-weight: normal; src: url('../fonts/2C814A_1_0.eot');src: url('../fonts/2C814A_1_0.eot?#iefix') format('embedded-opentype'),url('../fonts/2C814A_1_0.woff2') format('woff2'),url('../fonts/2C814A_1_0.woff') format('woff'),url('../fonts/2C814A_1_0.ttf') format('truetype');}

@font-face {
    font-family: 'clear_sansregular';
    src: url('../fonts/clearsans-regular-webfont.eot');
    src: url('../fonts/clearsans-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/clearsans-regular-webfont.woff2') format('woff2'), url('../fonts/clearsans-regular-webfont.woff') format('woff'), url('../fonts/clearsans-regular-webfont.ttf') format('truetype'), url('../fonts/clearsans-regular-webfont.svg#clear_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

::-webkit-input-placeholder { 
    opacity:1; 
}
:-moz-placeholder {
    opacity:1;
    content: '*';
    color: darkred;
    font-size: 1.5rem;
}
::-moz-placeholder {
    opacity:1; 
}
:-ms-input-placeholder {
    opacity:1; 
}

* { box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box;  }
/* =Fonts
----------------------------- reset.css is here --------------------------------- */
input[type="submit"], a { cursor: pointer;
    transition: color 0.25s linear 0s, background-color 0.25s ease-in-out 0s, border-color 0.25s ease-in-out 0s;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td { margin:0; padding:0;}
table {	border-collapse:collapse; border-spacing:0;}
fieldset,img { border:0; }
address,caption,cite,code,dfn,em,strong,th,var {font-style:normal; font-weight:normal;}
ol,ul { list-style:none;}
caption,th {text-align:left;}
h1,h2,h3,h4,h5,h6 {	font-size:100%;	}
q:before,q:after {content:'';}
abbr,acronym { border:0;}
.clear_0{clear:both; font-size:0px;line-height:0px; display:block;}
.last	{margin:0 !important;}
.pad_last{padding:0 !important;}
.no_bg {background:none !important;}
a img { border: none; }
a 											{ text-decoration:none; outline:0; }
a:hover 									{ text-decoration:underline; outline:0}
html 										{  }
body										{ font-size:14px;  }
.flt_Lt										{ float:left;  display:inline;}
.flt_Rt										{ float:right; display:inline;}
.clear_0                                  	{ clear:both; font-size:0px;line-height:0px; display:block;}
html, body 									{ background:#fff; }
img   										{ max-width:100%; height:auto; width:100%; }

.no_border { border:none;}

input[type="submit"]					    { cursor:pointer; -webkit-appearance:none;}
a											{ color:#000; text-decoration:none; outline:0 none;}
a:hover										{ text-decoration:none;}
h1											{ font-size:24px; color:#0c1629; line-height:22px; font-weight:normal; text-transform:uppercase;  font-family: 'tenor';}
h2											{ font-size:24px; line-height:35px;   }
h3											{ font-size:18px; }
h4											{ font-size:16px;}
h5											{ font-size:14px;}
h6											{ font-size:12px;}
input										{ border:0px; border-radius:0px;}

h1, h2, h3,h5 , h6							{ color:#0c1629; font-weight:normal;}
p											{ font-size:18px; line-height:24px; color:#7f7f7f; padding-bottom:27px; font-family:Arial, Helvetica,  sans-serif; font-weight:normal; }

/*----------------------------------------------------------------------------------*/
.nostyle		{ list-style:none; margin:0; padding:0; line-height:0; font-size:0; }
.nostyle > li	{ font-size:14px; line-height:14px; }
.center-text	{ text-align:center; }
/*----------------------- COMMON STYLING ----------------------------*/

.wrapper		{ background:#fff; }
.container		{  margin:0 auto;max-width: 776px;width: 100%;padding: 0 15px; }
.top_section	{ background:url(../images/bg.jpg) no-repeat center top; background-size:cover; height:auto; }

.wrapper .logo	{/*max-width:300px; width:100%;*/width: calc(100% / 2 - 485px + 114px); background:url(../images/header-logo-background.gif) no-repeat center top; background-size:cover; text-align:right; padding:34px 30px; display:inline-block;  }
.wrapper .logo embed , .wrapper .logo embed svg	{ cursor:pointer; } 

.top_section .banner_content	{ /*padding:245px 0 320px;*/ text-align:center; position:relative;
  top: 42%;
  -webkit-transform: translateY(-42%);
  -ms-transform: translateY(-42%); 
  transform: translateY(-42%); }
.banner_content h1				{ font-family: 'DIN_Next'; font-weight: bold;  font-size:70px; line-height:60px; color:#ffffff; /*padding-bottom:20px;*/  }
.banner_content p				{ font-size:20px; line-height:28px; color:#fffefe; font-family: 'Open Sans', sans-serif; font-weight:300; padding:10px 0 36px 0;  }
.banner_content .price_txt		{ font-size:16px; line-height:26px; color:#fffefe; font-family: 'Open Sans', sans-serif; font-weight:400; display:block; padding-top:12px;  }

.top_form		{ position:relative; }
.wrapper .btn  { animation-iteration-count: infinite;  animation-direction: alternate;   animation-delay: 1s;   animation: moveRight 0.3s cubic-bezier(0.26, 0.68, 0.76, 0.64) 2.5s both;  font-family: 'Open Sans', sans-serif; text-transform:uppercase; padding:22px 45px; background:#f30c16; font-size:20px; line-height:22px; color:#fffefe; display:inline-block; }

.wrapper .btn:hover {
    background: none repeat scroll 0 0 #ce0009;
    border-color: #ce0009;
    color: #fff;
}
.top_form .send {
  width: 187px;
  height: 65px;
  text-align: center;
  background-color: #f30c16;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 66px;
  color: #fff;
}
.request-specifics input[type="text"],
.request-specifics input[type="email"] {
    border-bottom:1px solid #f21c25;
    border-image: none;
    border-style: solid;   
    font-family: clearsans_thin,sans-serif;
    font-size: 22px; color:#fffefe;
    margin-right: 20px;
    padding: 10px 14px 15px;
	max-width:360px;
    width: 100%; background:none; box-sizing:border-box; -webkit-box-sizing:border-box; -moz-box-sizing:border-box; font-family: 'Open Sans', sans-serif; font-weight:300; text-transform:none; outline:none !important;
	margin-bottom:10px;}
.request-specifics input.email_txt::-webkit-input-placeholder { color:#fffefe; }
.request-specifics input.email_txt::-moz-placeholder { color:#fffefe; } /* firefox 19+ */
.request-specifics input.email_txt:-ms-input-placeholder { color:#fffefe; } /* ie */	
.request-specifics input.botm_email{ color:#bebebe;}	

.main_content		{ padding:64px 10px; background:url(../images/content-section--twitter-bg.jpg) center top; }
.main_content .container   { max-width: 590px; }
.main_content h2			{ font-family: 'DIN_Next'; font-weight: normal;  font-size:38px; line-height:40px; color:#f30c16; padding-bottom:40px; text-transform:uppercase;  text-align:center; }

.main_content .post_list 	{}
.main_content .post_list > li		{ padding-bottom:10px; position:relative; }
.main_content .post_list .post_box	{ padding:22px 30px 19px 22px; background:#fff  no-repeat right top;  }
.main_content .post_list .post_box_one  { padding:10px 30px 10px 22px; background:#fff  no-repeat right top;  }
.post_list .post_box h3		{ font-family: 'clear_sansregular'; font-weight:normal;  font-size:16px; line-height:18px; color:#363636; padding-bottom:15px;  }
.post_list .post_box p		{ font-family: 'Open Sans', sans-serif; font-weight:400;  font-size:14px; line-height:22px; color:#616161; padding-bottom:5px;   }

.post_list .post_box h3	 a	{ color:#f30c16; }
.request-specifics			{ max-width:570px; margin:0 auto;  width:100%; }

.main_content .bott_form_cont	{  text-align:center; }
.main_content .bott_form_cont .link_btn	{ width:280px; }
.main_content .post_conainer			{  padding-bottom:10px;}
.top_section	,.main_content			{ height:auto;width: 100%;}

@media only screen and (max-width:776px) {	

.main_content	.container	{ background:url(../images/content-section--twitter-bg.jpg) center top;  }

}
.main_content .post_list > li:after {
	width:0;
	height: 0;
	border-top: 16px solid #d9d9d9;
	border-left: 16px solid transparent;
	right:0; top:0; z-index:999999; content:""; position:absolute; display:block;
}
.thanks_popup					{ text-align:center; width:465px; margin:0 auto; border-bottom:1px solid #f30c16; padding-bottom:10px;   }
.thanks_popup p					{ font-size:16px; line-height:26px; color:#fffefe; font-family: 'Open Sans', sans-serif; font-weight:400; display:block; padding:0px;  }

#thanks_botpopup  p				{ color:#616161;  }

#thanks_popup , .request-specifics , #thanks_botpopup { display:none; }

@media only screen and (max-width:580px) {  

.thanks_popup         { text-align:center; width:80%; margin:0 auto; border-bottom:1px solid #f30c16; padding-bottom:10px;   }

}
