<header>
  <div class="wrapper">
    <a href="/" class="logo">Toggl</a>
    <button class="nav-opener nav-opener--red"></button>
    {{log hideNav}}
    {{#unless hideNav }}
      {{#if navLight }}
        <nav class="main-nav main-nav--light">
        {{ else }}
          <nav class="main-nav">
      {{/if}}
      <ol>
        <li><a href="/features">Features</a></li>
        <li><a href="/pricing">Pricing</a></li>
        <li><a href="/about">About</a></li>
        <li class="logged" style="display:none"><a href="#" class="js-logout-button">Log out</a></li>
        <li class="logged" style="display:none"><a href="/app/" clickthrough class="cta-button cta-button--small cta-button--inline cta-button--filled">Go to tracker</a></li>

        <li class="not-logged"><a href="#" class="js-login-button">Log in</a></li>
        <li class="not-logged"><a href="/signup" class="cta-button cta-button--small cta-button--inline cta-button--filled cta-button--no-arrow js-ripple-button"  ga-track="signup, nav_click">Sign up</a></li>

      </ol>
      <ol class="secondary">
        {{> 'secondary-nav' }}
      </ol>
          </nav>
    {{/unless}}
  </div>
</header>
