<header>
  <div class="wrapper">
    <a href="/" class="logo" data-clicky-goal="Clicked navbar Toggl logo">Toggl</a>
    <button class="nav-opener nav-opener--red"></button>
    {{log hideNav}}
    {{#unless hideNav }}
      {{#if navLight }}
        <nav class="main-nav main-nav--light">
        {{ else }}
          <nav class="main-nav">
      {{/if}}
      <ol>
        <li><a href="/features" data-clicky-goal="Clicked navbar Features">Features</a></li>
        <li><a href="/pricing" data-clicky-goal="Clicked navbar Pricing">Pricing</a></li>
        <li><a href="https://blog.toggl.com" data-clicky-goal="Clicked navbar Blog" target="_blank">Blog</a></li>
        <li><a href="/business/" data-clicky-goal="Clicked navbar Business">Business</a></li>
        <li class="logged" style="display:none"><a href="#" class="js-logout-button" data-clicky-goal="Clicked navbar Log out">Log out</a></li>
        <li class="logged" style="display:none"><a href="/app/" clickthrough class="cta-button cta-button--small cta-button--inline cta-button--filled" data-clicky-goal="Clicked navbar Go to timer">Go to timer</a></li>

        <li class="not-logged"><a href="#" class="js-login-button" data-clicky-goal="Clicked navbar Log in">Log in</a></li>
        <li class="not-logged"><a href="/signup" class="cta-button cta-button--small cta-button--inline cta-button--filled cta-button--no-arrow js-ripple-button"  data-clicky-goal="Clicked navbar Sign up">Sign up</a></li>

      </ol>
      <ol class="secondary">
        {{> 'secondary-nav' }}
      </ol>
          </nav>
    {{/unless}}
  </div>
</header>
