<header>
  <div class="wrapper">
    <a href="index.html" class="logo">Toggl</a>
    <button class="nav-opener"></button>
    <nav class="main-nav">
      <ol>
        <li><a href="features.html">Features</a></li>
        <li><a href="about.html">About</a></li>
        <li><a href="#" class="js-login-button">Log in</a></li>
        <li><a href="new-signup.html" class="cta-button cta-button--small cta-button--inline cta-button--filled cta-button--no-arrow js-ripple-button">Sign up</a></li>
      </ol>
      <ol class="secondary">
        <li><a href="new-signup.html#pricing">Pricing</a></li>
        <li><a href="http://blog.toggl.com/">Blog</a></li>
        <li><a href="http://jobs.toggl.com/">Jobs</a></li>
        <li><a href="terms-new.html">Terms &amp; conditions</a></li>
        <li><a href="new-privacy.html">Privacy</a></li>
        <li><a href="features.html#download">Download</a></li>
        <li><a href="https://github.com/toggl/toggl_api_docs/blob/master/toggl_api.md">API</a></li>
        <li><a href="http://support.toggl.com/press-kit/">Press</a></li>
        <li><a href="http://support.toggl.com/">Support</a></li>
      </ol>
    </nav>
  </div>
</header>
