<section class="pricing" id="pricing">
  <h1 class="pricing__heading">Pricing</h1>
  <h3 class="pricing__subheading">All plans come with a 30-day free trial</h3>
  <div class="pricing__container cf">
    <div class="pricing__col">
      <div class="pricing__box">
        <h2 class="pricing__box--title">
          business
          <span>Complete team management</span>
        </h2>
        <div class="pricing__box--price">
          $49
        </div>
        <div class="pricing__box--desc">
          per user per month,<br>billed annually*
        </div>
        <a href="/signup/business" class="pricing__box--btn not-logged">
          Sign up <span>&rsaquo;</span>
        </a>
        <a href="https://toggl.com/app/subscription/allplans" class="pricing__box--btn logged">
          Subscribe <span>&rsaquo;</span>
        </a>
      </div>
      <input type="checkbox" class="pricing__check" id="pricing__check_1">
      <label class="pricing__features--label" for="pricing__check_1">
        <span><i>+</i>expand features</span>
        <span><i>-</i>hide features</span>
      </label>
      <ul class="pricing__features--list">
        <li>Tracking reminders</li>
        <li>Scheduled reports</li>
        <li>Locking timesheets</li>
        <li>Adding time for team</li>
        <li>Priority support</li>
        <li>Everything in Toggl Pro</li>
      </ul>
      <div class="pricing__text">
        *$59 per user per month <span>when billed monthly</span>
      </div>
    </div>
    <div class="pricing__col __plan__pro__plus __popular__choice">
      <div class="pricing__box">
        <h2 class="pricing__box--title">
          pro PLUS
          <span>Power up your team</span>
        </h2>
        <div class="pricing__box--price">
          $18
        </div>
        <div class="pricing__box--desc">
          per user per month,<br>billed annually*
        </div>
        <a href="/signup/pro_plus" class="pricing__box--btn not-logged">
          Sign up <span>&rsaquo;</span>
        </a>
        <a href="https://toggl.com/app/subscription/allplans" class="pricing__box--btn logged">
          Subscribe <span>&rsaquo;</span>
        </a>
      </div>
      <input type="checkbox" class="pricing__check" id="pricing__check_2">
      <label class="pricing__features--label" for="pricing__check_2">
        <span><i>+</i>expand features</span>
        <span><i>-</i>hide features</span>
      </label>
      <ul class="pricing__features--list">
        <li>One feature from Toggl Business</li>
        <li>Everything in Toggl Pro</li>
      </ul>
      <div class="pricing__text">
        *$20 per user per month <span>when billed monthly</span>
      </div>
    </div>
    <div class="pricing__col __plan__pro">
      <div class="pricing__box">
        <h2 class="pricing__box--title">
          pro
          <span>A flexible team tracker</span>
        </h2>
        <div class="pricing__box--price">
          $9
        </div>
        <div class="pricing__box--desc">
          per user per month,<br>billed annually*
        </div>
        <a href="/signup/pro" class="pricing__box--btn not-logged">
          Sign up <span>&rsaquo;</span>
        </a>
        <a href="https://toggl.com/app/subscription/allplans" class="pricing__box--btn logged">
          Subscribe <span>&rsaquo;</span>
        </a>
      </div>
      <input type="checkbox" class="pricing__check" id="pricing__check_3">
      <label class="pricing__features--label" for="pricing__check_3">
        <span><i>+</i>expand features</span>
        <span><i>-</i>hide features</span>
      </label>
      <ul class="pricing__features--list">
        <li>Unlimited team size</li>
        <li>Billable rates</li>
        <li>Time estimates</li>
        <li>Sub-projects</li>
        <li>Sharing reports</li>
        <li>Everything in Free plan</li>
      </ul>
      <div class="pricing__text">
        *$10 per user per month <span>when billed monthly</span>
      </div>
    </div>
    <div class="pricing__col __plan__free">
      <div class="pricing__box">
        <h2 class="pricing__box--title">
          free
          <span>Your basic productivity tool</span>
        </h2>
        <a href="/signup" class="pricing__box--btn not-logged">
          Sign up <span>&rsaquo;</span>
        </a>
        <a href="https://toggl.com/app/subscription/allplans" class="pricing__box--btn logged">
          Subscribe <span>&rsaquo;</span>
        </a>
      </div>
      <input type="checkbox" class="pricing__check" id="pricing__check_4">
      <label class="pricing__features--label" for="pricing__check_4">
        <span><i>+</i>expand features</span>
        <span><i>-</i>hide features</span>
      </label>
      <ul class="pricing__features--list">
        <li>Tracking time</li>
        <li>Basic reporting</li>
        <li>Teams up to 5</li>
        <li>Desktop and mobile apps</li>
        <li>Unlimited projects</li>
      </ul>
    </div>


  </div>
</section>
