<section class="pricing" id="pricing">
  <h1>Be Efficient. Be Smart. <em>Get Toggl.</em></h1>
  <div class="pricing__blocks">
    <a href="/business" target="_blank" class="pricing__block pricing__block--business">
      <div class="pricing__block--header">
        <h2>Business</h2>
        <div class="pricing__block--label">
          Coming fall 2015
        </div>
        <span>The complete time management package</span>
      </div>
      <div class="pricing__block--body">
        <ul>
          <li>Reports to email</li>
          <li>Time audits</li>
          <li>Locking timesheets</li>
          <li>Reminders</li>
          <li>Priority support</li>
          <li class="_bold">+ Everything in PRO</li>
        </ul>
        <div class="pricing__block--price">
          <span>$49</span>
          user/month, billed annually<br/>
          $59 billed monthly
        </div>
      </div>
    </a>
    <a href="http://support.toggl.com/category/pro-plan-subscription/" target="_blank" class="pricing__block pricing__block--pro">
      <div class="pricing__block--header">
        <h2>Pro</h2>
        <span>A flexible team tracker</span>
      </div>
      <div class="pricing__block--body">
        <ul>
          <li>Unlimited team size</li>
          <li>Billable rates</li>
          <li>Time estimates</li>
          <li>Project dashboard</li>
          <li>Bookmarked reports</li>
          <li class="_bold">+ Everything in FREE</li>
        </ul>
        <div class="pricing__block--price">
          <span>$5</span>
          user/month
        </div>
      </div>
    </a>
    <a href="http://support.toggl.com/tracking-time/" target="_blank" class="pricing__block pricing__block--free">
      <div class="pricing__block--header">
        <h2>Free</h2>
        <span>Your basic productivity tool</span>
      </div>
      <div class="pricing__block--body">
        <ul>
          <li>Teams up to 5</li>
          <li>Tracking time</li>
          <li>Extra apps</li>
          <li>Reporting</li>
          <li>Unlimited projects</li>
        </ul>
        <div class="pricing__block--price">
          Free
        </div>
      </div>
    </a>
  </div>
  <div class="pricing__button">
    <a class="cta-button cta-button--empty js-ripple-button" href="/signup">sign me up for a free account</a>
  </div>
  <div class="pricing__footnote">You can upgrade to pro once you have created your free toggl account.</div>
</section>
