<li><a href="/signup#pricing">Pricing</a></li>
<li><a href="http://blog.toggl.com/" target="_blank">Blog</a></li>
<li><a href="http://jobs.toggl.com/" target="_blank">Jobs</a></li>
<li><a href="/legal/terms">Terms</a></li>
<li><a href="/legal/privacy">Privacy</a></li>
<li><a href="/features#download">Download</a></li>
<li><a href="https://github.com/toggl/toggl_api_docs/blob/master/toggl_api.md" target="_blank">API</a></li>
<li><a href="http://blog.toggl.com/media-kit/" target="_blank">Media</a></li>
<li><a href="/tools">Tools</a></li>
<li><a href="http://support.toggl.com/" target="_blank">Support</a></li>
