<section class="content-section">
  <section class="content-section__centered-block">
    <img src="images/toggl-logo-icon.svg?1" alt="">
    <h2>561,556 happy togglers</h2>
    <p>Inga problem. Ange Toggl manuella läge och rekordtid arbetat. Glömmer att klicka betyder.</p>
  </section>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/friedrich.jpg?1');">
    <div class="content-section__background-tile-content">
      If it wasn't for Toggl we would be bankrupt.
      <footer>Friedrich from Seiko Digital</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/jack.jpg?1');">
    <div class="content-section__background-tile-content">
      We track everything. Everything!
      <footer>Jack from Sony Playstation</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/madeleine.jpg?1');">
    <div class="content-section__background-tile-content">
      Computers are never late.
      <footer>Madeleine from Dell</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/erica.jpg');">
    <div class="content-section__background-tile-content">
      Seconds become minutes, minutes become hours.
      <footer>Erica from Everlane</footer>
    </div>
  </blockquote>
</section>
