<section class="content-section">
  <section class="content-section__centered-block">
    <img src="images/toggl-logo-icon.svg?1" alt="">
    <h2>956,842 PRODUCTIVE TOGGLERS</h2>
    <p>Our leading time tracking software improves workplace productivity.</p>
  </section>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/makeable.jpg?1');">
    <div class="content-section__background-tile-content">
      One break per hour recharges willpower!
      <footer>Emily, Toggler from Makeable</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/webhomes.jpg?1');">
    <div class="content-section__background-tile-content">
      Do one thing at a time.
      <footer>Raine, Toggler from Station</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/offerpop.jpg?1');">
    <div class="content-section__background-tile-content">
      Define priorities, assign focus.
      <footer>Melissa, Toggler from Offerpop</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/matt_alexander.jpg');">
    <div class="content-section__background-tile-content">
      Measure it, improve it.
      <footer>Matt, Toggler from Chicago</footer>
    </div>
  </blockquote>
</section>
