{{> 'header' }}
<section class="hero hero--team hero--dynamic-height">
  <div class="hero__content">
    <h1>Behind the scenes</h1>
    <p>We're an eclectic mix of people from all over the world united by our belief that software should empower people, not get in their way.</p>
    <a href="#" class="cta-button cta-button--white cta-button--no-arrow js-ripple-button js-jobs-popup">
      <svg version="1.1" baseProfile="full"
       xmlns="http://www.w3.org/2000/svg"
       xmlns:xlink="http://www.w3.org/1999/xlink"
       xmlns:ev="http://www.w3.org/2001/xml-events"
        height="28px"
        width="28px"
      >
      <path fill="currentColor"
       d="M14.4,27.9 C7,27.9 0.9,21.9 0.9,14.4 C0.9,7 7,1 14.4,1 C21.9,1 27.9,7 27.9,14.4 C27.9,21.9 21.9,27.9 14.4,27.9 ZM14.4,3.2 C8.2,3.2 3.2,8.2 3.2,14.4 C3.2,20.7 8.2,25.7 14.4,25.7 C20.6,25.7 25.7,20.7 25.7,14.4 C25.7,8.2 20.6,3.2 14.4,3.2 ZM13.3,19.1 C13.2,19.2 13,19.2 12.9,19.2 C12.8,19.2 12.7,19.2 12.6,19.1 C12.4,19 12.2,18.8 12.2,18.5 C12.2,18.5 12.2,10.4 12.2,10.4 C12.2,10.1 12.4,9.9 12.6,9.8 C12.8,9.7 13.1,9.7 13.3,9.8 C13.3,9.8 18.9,13.9 18.9,13.9 C19.1,14 19.2,14.2 19.2,14.5 C19.2,14.7 19.1,14.9 18.9,15 C18.9,15 13.3,19.1 13.3,19.1 Z "/>
      </svg>
      See the video
    </a>   <a href="http://jobs.toggl.com/" class="cta-button cta-button--filled js-ripple-button">Join us</a>
  </div>
</section>
<section class="team team--checkered cf">

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-krister.jpg" alt="Krister Haav">
    </div>
    <div class="team__member__description">
      <h2>Krister Haav</h2>
      <h3 class="team__member__position">Product lead, TOGGL</h3>
      <p>Krister has no programming background whatsoever, which is why he’s so good at bossing the rest of us around. He’s a passionate scuba diver and reports once seeing his hand in front of his face while diving in the murky Baltic Sea.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-evelin.jpg" alt="Evelin Andrespok">
    </div>
    <div class="team__member__description">
      <h2>Evelin Andrespok</h2>
      <h3 class="team__member__position">Office Manager</h3>
       <p>Evelin worked as a policy analyst (think Jack Ryan) before coming to Toggl. Her role was to save humanity from itself and advocate for a decent life for all denizens of our planet. Evelin is extremely fast and has finished all the work she’s been given. Perhaps you have some ideas for something she could do?</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-tiina.jpg" alt="Tiina Käärik">
    </div>
    <div class="team__member__description">
      <h2>Tiina Käärik</h2>
      <h3 class="team__member__position">Customer support</h3>
       <p>Tiina suffers from an allergy to telephones, developed from years working at a call center for a large ferry company. (So if you get her on the phone, try to make her day interesting!) She’s also a professional bass (guitar) player and dreams of becoming a yoga instructor. Go figure.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-marek.jpg" alt="Marek Tihkan">
    </div>
    <div class="team__member__description">
      <h2>Marek Tihkan</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
       <p>Marek worked for some big name startups, but then saw the light and came to write backend code and improve development processes for Toggl, a soon-to-be big name startup. He is also a trained rock climber. </p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-indrek.jpg" alt="Indrek Vändrik">
    </div>
    <div class="team__member__description">
      <h2>Indrek Vändrik</h2>
      <h3 class="team__member__position">Desktop and Button Team Lead</h3>
       <p>When he’s not dealing with Toggl Desktop user interface issues, Indrek is a professional body builder. He is constantly hassling the rest of us about our diets, which makes us suspect he’s a serious closet junk food eater. Just why is there a lock on his lower right desk drawer?</p>
    </div>
  </article>

  <!-- mr fireball was here -->
  <!-- a bohemian coder was here -->

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-heidi.jpg" alt="Heidi Taperson">
    </div>
    <div class="team__member__description">
      <h2>Heidi Taperson</h2>
      <h3 class="team__member__position">Graphic Designer</h3>
       <p>Heidi’s a designer who says her goal is to “make Toggl look f***ing awesome.” Obviously, we refused her requests to print the actual f-word. She’s known for presenting well thought out ideas which conform to a document she calls “My Design Guidelines.” It’s usually easier to give in than to argue with her.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-annika.jpg" alt="Annika Helendi">
    </div>
    <div class="team__member__description">
      <h2>Annika Helendi</h2>
      <h3 class="team__member__position">Lead Generation Team Lead</h3>
       <p>Before Annika sold her soul to Toggl, she was on her way to becoming a professional basketball player. She's keen on SEO, growth hacking and jello shots. She claims to know every 50 Cent song by heart (she regularly sings them in the office). She also possesses a bag of magical fairy dust that will help Toggl dominate the time tracking world. We’re very glad she’s on our side.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-andrin.jpg" alt="Andrin Riiet">
    </div>
    <div class="team__member__description">
      <h2>Andrin Riiet</h2>
      <h3 class="team__member__position">Front-End Team Lead</h3>
       <p>Andrin doesn’t talk much, but when he does he doesn’t leave anything unsaid. He’s passionate about usability and building good user experiences. During his free time he plays snooker. Beware: Run the other way if he invites you to place a small wager on the game.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-liisa.jpg" alt="Liisa Toompuu">
    </div>
    <div class="team__member__description">
      <h2>Liisa Toompuu</h2>
      <h3 class="team__member__position">Product lead, Toggl Business</h3>
      <p>Liisa spent twelve years as an exchange student (eight in Thailand and four in England). No one in the office is quite sure how that’s possible. Liisa handles user onboarding, which is not related to water-boarding, and has more to do with users’ first-time experiences. How was your first time?</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-ervin.jpg" alt="Ervin Weber">
    </div>
    <div class="team__member__description">
      <h2>Ervin Weber</h2>
      <h3 class="team__member__position">Server Infrastructure</h3>
       <p>Ervin admits to being a hacker, though he won’t say exactly what he’s hacked. His Toggl specialties (all completely legal) are backend and databases. If you want to make him really happy, ask him about his new son.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-anna-liisa.jpg" alt="Anna-Liisa Karu">
    </div>
    <div class="team__member__description">
      <h2>Anna-Liisa Karu</h2>
      <h3 class="team__member__position">CFO</h3>
      <p>Anna-Liisa worked for us for eight years without officially being part of the team. How’s this possible? (Rest assured it wasn’t some scheme to skimp on taxes.) But finally we just got down on our knees and begged and she joined us as a full-time member. Anna-Liisa likes numbers. We’re glad for that. </p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-kyllike.jpg" alt="Küllike Kimmel">
    </div>
    <div class="team__member__description">
      <h2>Küllike Kimmel</h2>
      <h3 class="team__member__position">Onboarding manager</h3>
       <p>Küllike loves doing outdoorsy stuff - hiking, rafting, ziplining, scuba diving, camel riding, and more. (Toggl’s don’t-ask-don’t-tell policy forbids further queries). Before Toggl, she worked at a medieval restaurant where she learned to speak, yes, medieval. Anyway, at Toggl, she’s become an avid Nerf gun fighter.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-muffin.jpg" alt="Muffin, the office pug">
    </div>
    <div class="team__member__description">
      <h2>Muffin</h2>
      <h3 class="team__member__position">Cute Factor 10</h3>
       <p>Muffin likes to eat plants in pots (the bigger the better). He visits the office occasionally to conduct code reviews and barge in on discussions. Muffin doesn’t seem to stop growing and we’re starting to really worry about his body mass index. (What is the acceptable BMI level for pugs?)</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-alari.jpg" alt="Alari Aho">
    </div>
    <div class="team__member__description">
      <h2>Alari Aho</h2>
      <h3 class="team__member__position">CEO</h3>
      <p>Alari is the Father of Toggl. In fact, he used to ask us to address him as such. To his dismay nobody ever did. He's a good guy, though. For an engineer. </p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-anton.jpg" alt="Angel Anton">
    </div>
    <div class="team__member__description">
      <h2>Angel Anton</h2>
      <h3 class="team__member__position">Mobile Team Lead</h3>
       <p>Although he claims to be a nerd, Anton is a walking, talking guide to drinks available in the Caribbean. A former advertising man, he recently gave up the beach life for the streets and bars of Madrid, where his attention is now devoted to bikes and hipster music.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-marit.jpg" alt="Marit Martin">
    </div>
    <div class="team__member__description">
      <h2>Marit Martin</h2>
      <h3 class="team__member__position">PRODUCT LEAD, TEAMWEEK</h3>
       <p>Developers fear her for a good reason: she’s tough and demanding. Though she’s worked as a project manager for the best part of her life, Marit is also crazy about good design and modern art. For kicks, she’s currently doing a degree in psychology.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-michal.jpg" alt="Michal Miškerník">
    </div>
    <div class="team__member__description">
      <h2>Michal Miškerník</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
       <p>Michal is pleased to add to the colors and contradictions that define a modern IT company: he’s a Slovak living in Scotland who works for an Estonian company serving American customers. When he’s not doing front-end development, he studies computer science. When he’s not doing that he watches bad TV or takes long bicycle rides.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-elise.jpg" alt="Elise Pagnini">
    </div>
    <div class="team__member__description">
      <h2>Elise Pagnini</h2>
      <h3 class="team__member__position">PRODUCT LEAD, TOGGL BUSINESS</h3>
       <p>Elise lives in sunny San Diego with two giant cats who weigh ten kilos each. Elise also lives with her boyfriend, though she did not provide his weight. She loves reading, cooking, hiking, and going to the beach. She is a certified emergency medical technician, which often comes in handy at the Toggl Christmas party. </p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-martv.jpg" alt="Mart Virkus">
    </div>
    <div class="team__member__description">
      <h2>Mart Virkus</h2>
      <h3 class="team__member__position">MARKETING PROJECTS MANAGER</h3>
       <p>Mart has a background in anthropology - a discipline which has turned people-watching into a science. Mart also loves drawing comics and has an enviable collection of reaction GIFs. At Toggl, he most enjoys working on projects that make you go from <i>“that’s stupid”</i> to <i>“hmmm”</i>.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-serge.jpg" alt="Serge Herkül">
    </div>
    <div class="team__member__description">
      <h2>Serge Herkül</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
       <p>Serge has spent several years as a Java developer, doing large infrastructure applications. Tired of everything associated with big enterprise, he joined Toggl. He is a francophile, liking everything about France, starting with his girlfriend.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-laura.jpg" alt="Laura Noodapera">
    </div>
    <div class="team__member__description">
      <h2>Laura Noodapera</h2>
      <h3 class="team__member__position">Teamweek Lead Generation</h3>
       <p>Laura worked as a copywriter for different advertising agencies before taking it to the road in a hippie minivan in a juvenile act of rebellion. She has since returned to civilization to help Teamweek with their marketing game. Laura is also learning to become a dog trainer with plenty help from her puppy, named Friday.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-grethel.jpg" alt="Grethel Gahler">
    </div>
    <div class="team__member__description">
      <h2>Grethel Gahler</h2>
      <h3 class="team__member__position">SUPPORT TEAM LEAD</h3>
       <p>Grethel is calm, cool, and collected, three essential qualities for customer support. To stay that way, she likes to swim. (Because of her, we’re installing a pool in our office.) After university in the UK, she worked in tourism before gravitating to software marketing. But, oddly enough, what Grethel loves most are cars, and she says she wouldn’t mind being a taxi driver. Go figure.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-taavi.jpg" alt="Taavi Rehemägi">
    </div>
    <div class="team__member__description">
      <h2>Taavi Rehemägi</h2>
      <h3 class="team__member__position">Mobile Developer</h3>
       <p>Taavi is Toggl’s very first official Facebook-generation developer. He insists on using only Apple products and is a competitive kite surfer. Taavi is a bit secretive, which is why we don’t have too much information for his bio. If you learn something about him, please let us know.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-margus.jpg" alt="Margus Mahler">
    </div>
    <div class="team__member__description">
      <h2>Margus Mahler</h2>
      <h3 class="team__member__position">Back-End Team Lead</h3>
       <p>Cars, gadgets, and anything related to cool and new technology are Margus’ passions. He is vehement about taking the time to make everything work perfectly, which he calls “thorough” and we call “slow.”</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-madis.jpg" alt="Madis Lõhmus">
    </div>
    <div class="team__member__description">
      <h2>Madis Lõhmus</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
       <p>Before joining Toggl, Madis used to work in biomedical imaging. He’s keen on astronomy and is able to navigate using the stars. Not that he’d need this at Toggl. He also knows how to play the piano, the accordion and the trumpet - which he will need at Toggl.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-kadri.jpg" alt="Kadri Heinväli">
    </div>
    <div class="team__member__description">
      <h2>Kadri Heinväli</h2>
      <h3 class="team__member__position">Customer Support</h3>
      <p>Kadri is a proud mom of two. She’s been married for 15 years, which makes her feel a little bit old, but also very happy. She is keen on exercising and reading, and enjoys walking around her neighborhood, discovering its secrets and peeking in people’s windows (in a non-creepy way).</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-jaan.jpg" alt="Jaan Lambert">
    </div>
    <div class="team__member__description">
      <h2>Jaan Lambert</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
      <p>Before joining Toggl, Jaan used to work for a major telecom company. He’s into longboards and heavy metal, and enjoys playing the electric guitar. We figure he’ll fit right in.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-dunja.jpg" alt="Dunja Lazic">
    </div>
    <div class="team__member__description">
      <h2>Dunja Lazic</h2>
      <h3 class="team__member__position">Media Relations Manager</h3>
      <p>Dunja is a Croat living in Berlin. She likes normal human things like reading, writing, dogs, beer and chocolate. On the not-so-normal side, she is interested in dead languages - Dunja speaks Latin, Ancient Greek and (presumably) High Elvish. She is also excited about startups, and we are excited about her.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-artur.jpg" alt="Artur Cygan">
    </div>
    <div class="team__member__description">
      <h2>Artur Cygan</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
      <p>Artur used to dislike Apple products until he tried a MacBook for the first time. It didn’t take long before he started getting into skateboarding and gangsta rap. Artur lives in Cracow, Poland.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-paul.jpg" alt="Paul Scharf">
    </div>
    <div class="team__member__description">
      <h2>Paul Scharf</h2>
      <h3 class="team__member__position">Mobile Developer</h3>
      <p>Paul lives in Utrecht, Netherlands. He quit his computer science studies because he thinks working is more awesome (yes, he really said that). Paul has experience in leading a game development team, but he gave it all up to return to what he loves most - writing code without being interrupted.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-melissa.jpg" alt="Melissa Sepp">
    </div>
    <div class="team__member__description">
      <h2>Melissa Sepp</h2>
      <h3 class="team__member__position">Customer Experience Optimizer</h3>
      <p>Melissa likes taking pictures of the sky, which she insists can look “surprisingly varied”. She used to study film and has even made a few short movies (not about the sky). She likes to cycle, even when it’s snowing - a side effect of having lived in Sweden.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-robert.jpg" alt="Robert Fono">
    </div>
    <div class="team__member__description">
      <h2>Robert Fono</h2>
      <h3 class="team__member__position">Customer Support</h3>
      <p>At 6 feet tall, Robert is the only man in the world confident enough to ride a tiny scooter in public. When not assisting Toggl users, he helps his mom in organising programming and robotics courses for kids. If you think this is amazing, you can tell him so by emailing our customer support!</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-naeem.jpg" alt="Naeem Talukdar">
    </div>
    <div class="team__member__description">
      <h2>Naeem Talukdar</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
      <p>The second Naeem joined our Slack group, he set up this dope music channel for the rest of us nerds. We knew then and there, that this is a man who cares. Born in Lesotho and raised in Toronto, Naeem has a passion for sports, music and all things human. He also has pretty eyes, and our written permission to use this bio on his Tinder account.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-thiago.jpg" alt="Thiago Duarte">
    </div>
    <div class="team__member__description">
      <h2>Thiago Duarte</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
      <p>Back in 2012, Thiago sold all his worldly possessions to wander the Earth. In 2015, Toggl found him and signed him on to work on our webapp. He still doesn’t have an address and all we know is that he spends his entire salary on restaurants. If you’re a restauranteur you’d probably kill to find out where he lives (but honestly we don’t know, so don’t shoot).</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Damian Mee">
    </div>
    <div class="team__member__description">
      <h2>Damian Mee</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
      <p>Damian doesn’t believe that aliens will take over our planet soon. Damian is smart. But he does seem to have a very keen interest in futuristic stuff like super AI and machine learning, which makes us a little bit anxious. Damian hopes Elon Musk will adopt him one day, so he can fight to become his favourite son and score a free ticket to Mars.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Merlyn Rees">
    </div>
    <div class="team__member__description">
      <h2>Merlyn Rees</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
       <p>Merlyn comes from the fantasy realm of Wales - a place where he claims dragons and Lua developers actually exist. Currently living in the very real land of suburban England, he likes tinkering with his custom PC. Emits JavaScript when provoked. He likes metal (but who doesn’t).</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Luiz Crisostomo">
    </div>
    <div class="team__member__description">
      <h2>Luiz Crisostomo</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
       <p>Luiz is a keen bodyboarder. Bodyboarding is a pretty cool watersport, even though it sounds like it’s just surfing for lazy people. Young and happily married, the only real problem Luiz has in his life is what to write for his thesis. If you have any ideas, send them his way!</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Alexandre Gagnon">
    </div>
    <div class="team__member__description">
      <h2>Alexandre Gagnon</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
       <p>Alexandre is from Canada, the land of Moose and Very Nice People. Like most Toggl developers, Alexandre loves to play bass. Please note that playing bass is not a requirement for working at Toggl (but we do need more singers).</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Michelle Jackson">
    </div>
    <div class="team__member__description">
      <h2>Michelle Jackson</h2>
      <h3 class="team__member__position">Customer Support</h3>
      <p>Michelle’s currently wrapping up her Masters thesis, which deals with plague literature, death and zombies - you know, the usual stuff. She likes to write stories in her spare time (we’ll let you guess what those are about). Michelle also claims she is the undefeated champion of Tetris (and not too bad at Scrabble either).</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Tyler Crammond">
    </div>
    <div class="team__member__description">
      <h2>Tyler Crammond</h2>
      <h3 class="team__member__position">Front-End Developer</h3>
      <p>If you ever hit up the Toggl Christmas party and see someone furiously dancing to the "Greatest Hits of Human League", that’s Tyler. An 80’s man through and through, he’s also a bit of a gamer. On the crazier end of the spectrum, Tyler has a side gig as a cat whisperer - which he asked us to write about, but we’d really rather not.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Nick Robertson">
    </div>
    <div class="team__member__description">
      <h2>Nick Robertson</h2>
      <h3 class="team__member__position">Customer Support</h3>
      <p>Nick is our resident Australian. He’s got the accent too, though he won’t say “billabong” no matter how much we ask. Nick also knows the best “so I walked into a bar…” story we’ve ever heard - so if you see him make sure you ask him about it!</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Jaakko Vallo">
    </div>
    <div class="team__member__description">
      <h2>Jaakko Vallo</h2>
      <h3 class="team__member__position">Back-End Developer</h3>
      <p>As a native Finn, Jaakko had no trouble adjusting to our Estonian team and their love for short conversations and long, meaningful pauses. A developer by day, roadie by night, Jaakko is an active volunteer for local demoparties. He also loves spending his vacations travelling to various theme parks.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Josef Matas">
    </div>
    <div class="team__member__description">
      <h2>Jozef Matas</h2>
      <h3 class="team__member__position">Graphic Designer</h3>
      <p>Josef joined Teamweek to work on making your experience in the app easy on the eyes (and on the mind). A self-taught designer who never stops learning, he’s passionate about new ideas. Before joining Teamweek, Josef worked for a few US based startups, as well on his personal projects.</p>
    </div>
  </article>

  <article class="team__member">
    <div class="team__member__background">
      <img src="photos/team-na.jpg" alt="Nina Žderić">
    </div>
    <div class="team__member__description">
      <h2>Nina Žderić</h2>
      <h3 class="team__member__position">Onboarding manager</h3>
      <p>Nina is obsessed (in a non-homicidal way) with TV shows, always looking for the next big show to binge on. She’s an aspiring screenwriter too! When not trying to write the next Game of Thrones, she can be found hanging out with her friends playing board games. She describes herself as “an underdog”. Or a “regular loser”. It’s a fine line.</p>
    </div>
  </article>
</section>
{{> 'footer' }}
