{{> 'header' }}
<section class="hero hero--features">
  <div class="hero__background" style="background-image: url(photos/features-hero-bg.jpg?1);"></div>
  <div class="hero__content hero__content--stretched">
    <div>
      <h1>INSTANT PRODUCTIVITY <br/> BOOSTS</h1>
      <div class="timer cf">
        <div class="timer__task">Reading the Features page</div>
        <button class="timer__button timer__button--stop js-ripple-button">Stop</button>
        <div class="timer__time">0 sec</div>
      </div>
    </div>
  </div>
</section>
<section class="content-section content-section--centered content-section--desktop-no-padding">
  <h2>One-click time tracking.</h2>
  <p>
    With Toggl you track time in real time. You never lose a minute of your billable time. If you forget to switch it on, then enter time later on. Organize your time by projects or tags, and mark it as “billable.”
  </p>
</section>
<section class="content-section content-section--centered content-section--desktop-no-padding content-section--bottom-gradient content--light content--with-top-gap content-section--mobile-highlighted">
  <h2>IDEAL FOR TEAMS.<br />Boost Group Productivity.</h2>
  <p>
    Toggl is built for teams. Your entire staff will be set up and running in minutes. It’s as easy as Twitter - no training required. Start out simple, and drill deeper with user rights and project setup later on.
  </p>
</section>
<section class="content-section content-section--centered content-section--white-background">
  <div class="pie-chart">
    <span class="pie-chart__tooltip">Drawing pie charts <em>4h 51min</em></span>
    <canvas id="js-pie-chart-canvas" class="pie-chart__canvas" height="350" width="350"></canvas>
  </div>
  <h2>Sexy Reports.<br /> Transparent billing.</h2>
  <p>
    Get an instant overview of your billable time and team progress. Export timesheets. E-mail (or print) professional reports directly to customers or bosses. There are dozens of cool Pro features you’ll grow to love.
  </p>
</section>
<section class="content-section content-section--centered content-section--white-background">
  <img src="photos/sandclock.svg?1" alt="Sandclock for time tracking" class="js-scroll-reveal">
  <a id=download><h2>Toggl Anywhere.</h2></a>
  <p>Your time entries are synced in real time. Offline support keeps you toggling even when out of Wifi or mobile coverage areas. Hit the button on your iPhone and the timer automatically starts on your computer. That simple. Oh, and Toggl plays well with your Trello, Asana or other favorite productivity tool.</p>
  <ol class="platforms-list js-scroll-reveal">
    <li class="platform platform--iphone">
      <a href="http://appstore.com/toggl/newtoggltimer">Iphone</a>
    </li>
    <li class="platform platform--android">
      <a href="https://play.google.com/store/apps/details?id=com.toggl.timer">Android</a>
    </li>
    <li class="platform platform--windows">
      <a href="https://www.toggl.com/api/v8/installer?app=td&platform=windows&channel=stable">Windows</a>
    </li>
    <li class="platform platform--macos">
      <a href="https://www.toggl.com/api/v8/installer?app=td&platform=darwin&channel=stable">Mac OS X</a>
    </li>
    <li class="platform platform--linux">
      <a href="https://www.toggl.com/api/v8/installer?app=td&platform=linux&channel=stable">Linux</a>
    </li>
    <li class="platform platform--extra">
      <a href="/tools">Extras</a>
    </li>
  </ol>
</section>
<div class="content-section content-section--white-background">
  <section class="content-section content-section--centered content-section--highlighted">
    <h2>Need more reasons?</h2>
    <ul class="checklist">
      <li>
        <strong>Have an unlimited number of projects and clients</strong> - No joke. Add as many as you need. It’s still free.
      </li>
      <li>
        <strong>Color code your projects</strong> - It makes time-usage graphs colorful and adds spice to time tracking. Try pink.
      </li>
      <li>
        <strong>Add sub-projects</strong> - Gives you wiggle room for job tracking.
      </li>
      <li>
        <strong>Divide teams into user groups</strong> - Great for companies with many different departments and teams. Makes the project manager’s life a lot easier.
      </li>
      <li>
        <strong>View the dashboard</strong> - Compare current tracking data with the previous week to see who’s Employee of the Week.
      </li>
      <li>
        <strong>Set billable rates</strong> - Because some hours are worth more than others.
      </li>
      <li>
        <strong>Share time reports</strong> - Brag about your logged hours. Share reports via custom link, or export timesheets to Excel, CSV and PDF files.
      </li>
      <li>
        <strong>Use rounding and decimals</strong> - This is loved by lawyers. For special workflows Toggl has special features.
      </li>
      <li>
        <strong>Track time while offline</strong> - Hours tracked offline are synced to your account once you’re back online.
      </li>
    </ul>
    <a href="/signup" class="cta-button cta-button--empty js-ripple-button">Get started</a>
  </section>
</div>
{{> 'footer' }}
