{{> 'header' }}
<section class="hero hero--forgot-password hero--dynamic-height">
  <div class="hero__content cf">
    <h1>Dang! Forgot your password?</h1>
  </div>
</section>
<section class="content-section content-section--signup">
  <form action="#" method="post" class="forgot-password-form signup-form">
    <div class="signup-form__info"></div>
    <div class="signup-form__error"></div>
    <div class="signup-form__field">
      <input name="email" type="email" placeholder="E-mail">
    </div>
    <div class="signup-form__submit">
      <button type="submit" class="cta-button cta-button--filled js-ripple-button">Reset my password</button>
    </div>
  </form>
</section>
{{> 'footer' }}
