{{> 'header' }}
<section class="hero hero--front">
  <div class="hero__background">
    <section class="hero__manual-video js-manual-video" style="display:none;">
    </section>
    <video preload="none" class="js-automatic-video" muted poster="/images/share-img/video-placeholder.jpg">
      <source src="https://462e248addf43461ebf1-67d25b13c2734524734b517d4cf06455.ssl.cf1.rackcdn.com/videos/fp-video.mp4" type="video/mp4"></source>
      <source src="https://462e248addf43461ebf1-67d25b13c2734524734b517d4cf06455.ssl.cf1.rackcdn.com/videos/fp-video.webm" type="video/webm"></source>
    </video>
  </div>
  <div class="hero__content content--light hero__content--centered">
    <section class="js-manual-video">
      <h1 class="hero-timer-heading hero-timer-heading__manual">Leading time tracking tool</h1>
      <h3 class="manual-time-start">
        <div class="seen-wrapper">
          <a href="#" class="video-force-start">See the video</a>
        </div>
      </h3>
    </section>
    <section class="js-automatic-video">
      <h1 class="hero-timer-heading" data-default-text="Toggl anything"></h1>
      <h1 class="hero-timer-heading"></h1>
      <span class="hero-timer" style="opacity: 0;">
        <span class="seconds"></span>.<span class="milliseconds"></span>
      </span>
    </section>

  </div>
  <a href="/signup" class="cta-button cta-button--filled js-ripple-button" ga-track="signup, home_click">Start tracking</a>
  <div class="js-play-pause-controls" style="display: none;">
    <div class="video-pause-button" style="display:none;"> </div>
    <div class="video-play-button"> </div>
  </div>
  <div class="video-mute-button js-automatic-video">
    <svg height="32" version="1.1" width="32" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 64 64">
      <defs></defs>
      <g class="audio-waves">
        <path class="first" fill="white" d="m 38,23 -3,3 c 2,2 3,4 3,6 0,2 -1,5 -3,6 l 3,3 c 2,-2 4,-6 4,-9 0,-4 -1,-7 -4,-9 z"></path>
        <path class="second" fill="white" d="m 50,32 c 0,-6 -2,-11 -6,-15 L 41,20 c 3,3 5,8 5,12 0,5 -2,9 -5,12 l 3,3 C 48,43 50,38 50,32 z"></path>
        <path class="third" fill="white" d="m 59,32 c 0,-8 -3,-16 -9,-22 l -3,3 c 5,5 8,11 8,18 0,7 -3,14 -8,18 l 3,3 c 6,-5 9,-13 9,-22 z"></path>
      </g>
      <polygon fill="white" points="12,40 26,52 26,10 12,22 0,22 0,40"></polygon>
    </svg>
  </div>
</section>
<section class="content-section content-section--centered content-section--centered--padded-more">
  <div class="timer cf">
    <div class="timer__task">Reading toggl.com</div>
    <button class="timer__button timer__button--stop js-ripple-button">Stop</button>
    <div class="timer__time">0 sec</div>
  </div>
  <h2>The ultimate timer. It's insanely simple.</h2>
  <p>
    Toggl’s time tracker is built for speed and ease of use. Time keeping with Toggl is so simple that you’ll actually use it. Toggl drives a stake in the heart of timesheets.
  </p>
  <a href="/signup" class="cta-button cta-button--empty js-ripple-button" ga-track="signup, home_click">Get Started</a>
</section>
{{> 'toggler-grid'}}
{{> 'footer' }}
