{{> header hideNav=true }}
<div class="hero__content cf">
  <h1>WELCOME TO TOGGL!</h1>
  <p>It's so easy you'll actually use it!</p>
</div>
<section class="content-section content-section--centered">
  <ul class="checklist">
    <li>
      <b>Track anywhere.</b><br>
      In the office, out of office - doesn’t matter. Take Toggl with you on
      your phone.
    </li>
    <li>
      <b>Super easy reporting</b><br>
      We’ll create beautiful charts from your tracked time - they were made for
      sharing!
    </li>
    <li>
      <b>Conquer your goals</b><br>
      Hoping to improve your time management?<br />
      Track it - then see how you’re doing against your estimations.
    </li>
  </ul>
  <a
    class="cta-button cta-button--medium cta-button--inline cta-button--empty js-ripple-button"
    data-clicky="signup:nav_click"
    href="/app/"
    clickthrough>
    START TRACKING NOW
  </a>
</section>
