{{> header hideNav=true }}
<div class="hero__content cf">
  <h1>Welcome to Toggl!</h1>
  <p>We’re glad you’re here - it was about time!<br>
  Keeping track of your time with Toggl is as easy as can be.</p>
</div>
<section class="content-section content-section--centered">
  <h2>With Toggl you can:</h2>
  <ul class="checklist">
    <li>
      <b>Track anywhere.</b><br>
      Use our web tracker, desktop app or Toggl Button Chrome Extension
      inside other web tools. Get our mobile app and track on the go.
      No more excuses!
    </li>
    <li>
      <b>Create beautiful reports.</b><br>
      See where your time really went with our colorful charts. Group your
      time by project, client or task, and dig deep into the details. They’re
      also easy to share!
    </li>
    <li>
      <b>Increase your team’s productivity.</b><br>
      Set estimates for your shared projects and see how the reality measures
      up. Assign tasks and get notified when they’re approaching their goal.
    </li>
  </ul>
  <a
    class="cta-button cta-button--medium cta-button--inline cta-button--filled js-ripple-button"
    data-clicky-goal="OBM62 - Clicked navbar signup"
    href="/app/"
    clickthrough>
    START TRACKING NOW
  </a>
</section>
