{{> 'header' }}
<section class="hero hero--signup hero--dynamic-height">
  <div class="hero__content cf">
    <h1>Reset your password</h1>
  </div>
</section>
<section class="content-section content-section--signup">
  <form accept-charset="UTF-8" id="reset-form" method="post" class="signup-form">
    <div style="margin:0;padding:0;display:inline">
      <input name="utf8" type="hidden" value="✓">
      <input id="reset_code" name="code" type="hidden" value="">
    </div>
    <div class="signup-form__error" style="display:none"></div>
    <div class="signup-form__field">
      <input name="password" type="password" placeholder="New password">
    </div>
    <div class="signup-form__field">
      <input name="passwordConfirm" type="password" placeholder="Confirm password">
    </div>
    <div class="signup-form__submit">
      <button type="submit" class="cta-button cta-button--filled js-ripple-button">Reset my password</button>
    </div>
  </form>
</section>
{{> 'footer' }}
