{{> 'header' }}
<section class="hero hero--signup hero--dynamic-height">
  <div class="hero__content cf">
    <h1>Get started now!</h1>
  </div>
</section>
<section class="content-section content-section--signup">
  <form action="#" class="signup-form">
    <div class="signup-form__field">
      <input type="email" placeholder="E-mail">
    </div>
    <div class="signup-form__field">
      <input type="password" placeholder="Password">
    </div>
    <div class="signup-form__submit">
      <button type="submit" class="cta-button cta-button--filled js-ripple-button">Sign up for free</button>
    </div>
    <div class="signup-form__oauth">
      <a href="#">
        <svg version="1.1" baseProfile="full"
         xmlns="http://www.w3.org/2000/svg"
         xmlns:xlink="http://www.w3.org/1999/xlink"
         xmlns:ev="http://www.w3.org/2001/xml-events"
          height="32px"
          width="22px"
        >
        <path fill="currentColor"
         d="M21.84,0 C21.84,0 14.301,0 11.789,0 C7.28300000000002,0 3.04200000000003,3.36599999999999 3.04200000000003,7.26499999999999 C3.04200000000003,11.249 6.11300000000006,14.465 10.698,14.465 C11.0170000000001,14.465 11.327,14.4589999999999 11.63,14.437 C11.332,14.998 11.12,15.631 11.12,16.288 C11.12,17.395 11.724,18.293 12.487,19.026 C11.91,19.026 11.353,19.043 10.745,19.043 C5.16399999999999,19.043 0.86800000000005,22.547 0.86800000000005,26.182 C0.86800000000005,29.761 5.57799999999997,32 11.159,32 C17.522,32 21.0359999999999,28.4400000000001 21.0359999999999,24.86 C21.0359999999999,21.99 20.177,20.272 17.522,18.42 C16.6130000000001,17.7859999999999 14.876,16.244 14.876,15.337 C14.876,14.275 15.183,13.752 16.8049999999999,12.502 C18.467,11.222 19.644,9.42100000000005 19.644,7.32799999999997 C19.644,4.83399999999995 18.518,2.40499999999997 16.404,1.60299999999995 C16.404,1.60299999999995 19.59,1.60299999999995 19.59,1.60299999999995 C19.59,1.60299999999995 21.84,0 21.84,0 ZM18.329,24.2430000000001 C18.409,24.575 18.452,24.9160000000001 18.452,25.265 C18.452,28.157 16.562,30.418 11.138,30.418 C7.28099999999995,30.418 4.49400000000003,28.01 4.49400000000003,25.117 C4.49400000000003,22.283 7.95000000000005,19.923 11.808,19.9640000000001 C12.708,19.973 13.547,20.116 14.309,20.359 C16.403,21.795 17.905,22.606 18.329,24.2430000000001 ZM12.152,13.455 C9.56299999999999,13.378 7.10199999999998,10.599 6.65499999999997,7.24599999999998 C6.20799999999997,3.89300000000003 7.94399999999996,1.327 10.533,1.40300000000002 C13.122,1.47900000000004 15.5839999999999,4.16999999999996 16.0309999999999,7.52300000000002 C16.477,10.876 14.741,13.5309999999999 12.152,13.455 Z "/>
        </svg>
        Sign up with Google
      </a>
    </div>
  </form>
</section>
{{> 'pricing-boxes' }}
{{> 'footer' }}
