{{#unless simple}}
  {{> 'header' }}
{{/unless}}

<section class="hero hero--textpage hero--dynamic-height">
  <div class="hero__content cf">
    <h1>General Terms of Service</h1>
  </div>
</section>
<section class="content-section content-section--textpage">
  <p>These terms of service govern the relationship between Supplier (as defined below in section 1.1) and anyone who downloads, saves, installs, uses or accesses, or attempts to use or access, any Toggl time tracking, time reporting or time management application provided by Supplier, i.e. respective software, services and/or related resources ("Toggl"). The terms laid down below apply regardless of the environment in which Toggl is used, the geographic location of such use and the technical means employed therefor. Please consider these terms carefully, for it is only if you fully agree with them that you may use the applications referred to. If you find anything in this text that you do not understand or agree with, please refrain from using Toggl. Any download, installation, use or access of Toggl or any part thereof shall be deemed to constitute your consent to be bound by these terms of service.</p>

  <h1>1. Interpretation</h1>

  <p>1.1. The following terms, when capitalised, shall have the meanings ascribed to them below:</p>

  <p>"Agreement" -- the contract between the Parties, comprising these terms of service (as amended from time to time), Supplier's privacy policy (available at <a href="https://toggl.com/legal/privacy">https://toggl.com/legal/privacy</a>), and such other terms concerning the Service as the Parties may agree to;</p>

  <p>"Content" -- the information and technical resources provided by Supplier to its customers for their use in conjunction with the Software, and the features of the Software itself. Items of Content are usually grouped into standard packages referred to as Service Plans;</p>

  <p>"Customer" -- any person or entity that has a valid User Account or maintains a full or partial copy of any Software. Each Customer should take this term as referring specifically to them, unless the context otherwise requires;</p>

  <p>"Customer Details" -- such Personal Data about Customer and Representative as Customer or Representative makes available to Supplier in connection with this Agreement or the Service. Customer Details may, e.g., include such information as Customer's or Representative's name, date of birth, address, email address, picture, time zone, business or tax registration number, personal identification number, the method by which Customer pays for the Service, and information about third-party services that Customer or Representative uses for accessing or otherwise in conjunction with the Service;</p>

  <p>"End User" -- any person that Customer permits or causes to have access to the Service or any part thereof, whether through the User Account or otherwise (including anyone who downloads the Software, or uses or accesses the Service, on Customer's behalf);</p>

  <p>"Intellectual Property" -- (a) any and all trademarks, service marks, domain names and business names, brands, rights pertaining to inventions, designs, databases and proprietary information (including, without limitation, trade secrets and know-how), patents, copyrights (including both economic as well as moral rights) and (b) any and all other items (including rights and other benefits) considered to be items of intellectual property under the applicable law;</p>

  <p>"Party" -- each of Customer and Supplier (collectively, "the Parties");</p>

  <p>"Personal Data" -- any information considered to be personal data under the law governing this Agreement (the current legal definition of personal data being as follows: "any information relating to an identified or identifiable natural person, regardless of the state and form of such information");</p>

  <p>"Representative" -- any person representing Customer upon its entry into the Agreement;</p>

  <p>"Service" -- depending on the context, either (a) Supplier's making available of the Software, the User Account, Content and customer support, or (b) the Software, the User Account, Content and customer support collectively or in any combination;</p>

  <p>"Service Plan" -- a standard set of Content that Supplier has agreed to provide. Each Service Plan has a distinctive name or name extension (such as "free", "pro" or "business", for instance), and different prices are usually charged for different Service Plans. The features and prices of the various Service Plans can be studied on Supplier's website. Upon specific agreement with Supplier, a Service Plan may also include specialised items (such as Content from other Service Plans or custom Content), and attach terms not applicable to other Service Plans;</p>

  <p>"Software" -- Toggl time tracking software and such other Supplier-developed programs as Supplier may make available in conjunction therewith, including such patches, updates, upgrades, other modifications and replacements thereof as Supplier may from time to time provide;</p>

  <p>"Supplier" -- Toggl OÜ, a private limited company incorporated under Estonian law, commercial register number 11346813, having its principal place of business at Rävala 8, 10143 Tallinn, Estonia, email support [a] toggl.com;</p>

  <p>"User Account" -- a Supplier-provided user account whose purpose is to allow Customer to access and use Content (or certain Content) and engage in certain data processing activities;</p>

  <p>"User Data" -- any information that Customer, an End User, or any other Service user collects, enters, records, stores, uses, controls, modifies, arranges, deletes, discloses, makes available, transmits or otherwise processes through or by means of the Service;</p>

  <p>"User Environment" -- the user environment provided via the Service. Certain parts of the User Environment are private (customers' personal pages), some are shared, and some public.</p>

  <p>1.2. The words "herein", "hereto", "hereof", "hereunder", "hereby" and "herewith" refer to this Agreement. Words denoting a gender or genders shall be read as referring to all genders, unless the context otherwise requires.</p>

  <p>1.3. This Agreement (as amended from time to time) constitutes the entire agreement between the Parties relating to the subject matter hereof and supersedes all prior agreements and understandings between the Parties with respect to that subject matter.</p>

  <p>1.4. In case of conflict between any provision herein and any statement, representation or other information published on Supplier's website or contained in any other materials or communications the provision in the Agreement shall prevail.</p>

  <h1>2. Commencement</h1>

  <p>2.1. This Agreement shall be effective between Supplier and Customer as of the moment when the party to be identified as Customer installs, downloads or saves any part of the Software, obtains a User Account or agrees or is deemed to have agreed to the terms hereof, whichever occurs first.</p>

  <p>2.2. Anyone who uses, accesses or attempts to use or access any part of the Service shall by so doing be deemed to have agreed to the terms hereof.</p>

  <h1>3. Licence</h1>

  <p>3.1. Subject to the terms set forth herein, Supplier grants to Customer, and the latter accepts, for the term hereof, a limited, non-exclusive and non-transferable (save as provided in section 3.2) licence to use such features of the Service as included in Customer's Service Plan.</p>

  <p>3.2. With respect to assignment, sub-licensing and other disposals, the Parties have agreed that:</p>

  <p>(a) Customer shall not, without the prior explicit consent of Supplier, sub-license, assign, encumber or otherwise dispose of any of its rights or obligations hereunder, except that (i) the foregoing restriction does not apply to Customer's disposal of its monetary claims (i.e., claims for a specific amount of money to be paid to Customer) and (ii) Customer may assign the entire Agreement, i.e. all its rights and obligations hereunder, by way of general succession or enterprise transfer (the assuming party, respectively, being either Customer's general successor or the acquirer of Customer's enterprise to which this Agreement pertains);</p>

  <p>(b) Supplier may: (i) in its sole discretion sub-license, assign, encumber and otherwise dispose of any and all of its rights hereunder; (ii) dispose, in any manner that Supplier reasonably deems appropriate, of any and all of its obligations hereunder, provided it notifies Customer thereof.</p>

  <p>3.3. The Service may only be accessed through the interface(s) that Supplier has provided therefor and must not be accessed or attempted to be accessed in any manner not approved by Supplier.</p>

  <p>3.4. Customer may make copies of the Software for its own installation, archival and backup purposes only.</p>

  <h1>4. Service</h1>

  <p>4.1. Supplier will use commercially reasonable efforts to provide the Service to Customer throughout the term of this Agreement in accordance with Customer's Service Plan.</p>

  <p>4.2. Customer acknowledges that: (a) the Service has not been designed to meet Customer's individual requirements; (b) the operation of the Service may from time to time encounter technical or other problems and may not continue uninterrupted or without errors; (c) the Service is not fault-tolerant and has not been designed for use in inherently dangerous circumstances, such as, e.g., the operation of "major sources of danger", traffic control or life support systems, handling hazardous substances and other activities where the failure of the Service could lead to death, personal injury or environmental damage.</p>

  <p>4.3. The Service is provided on an "as is" and "as available" basis. Customer's selection and use of the Service is at Customer's own risk, as are Customer's and End Users' exposure to, down- and upload of, as well as transmission, other processing and possession of information, programs and other items through or due to the Service.</p>

  <p>4.4. Supplier has no obligation to enhance, modify or replace any part of the Service, or to continue developing or releasing new versions thereof.</p>

  <p>4.5. Supplier aims to respond to support requests within 24 business hours but makes no commitment as to how quickly support will be provided or issues will be resolved.</p>

  <p>4.6. Some parts of the Service may have been translated into other languages, but it is only those that are available in English that Supplier has approved for use.</p>

  <p>4.7. The Service may provide links or access to third-party websites, resources or services and these may provide links or access to the Service. Supplier is not responsible for the qualities (including the availability, reliability and security) of such external sites, resources or services, does not endorse them and shall not be liable for any loss, damage, expenses or other consequences resulting from their existence, absence, qualities, use or inability to use them.</p>

  <h1>5. Payment</h1>

  <p>5.1. By installing any part of the Software, obtaining a User Account or otherwise subscribing to the Service or any part thereof, or subscribing any part of the User Environment to a Service Plan, Customer shall be deemed to have agreed to, and accepted liability for the payment of, all fees and other charges associated with the applicable Service Plan, and consented to such fees and charges being calculated, billed, revised and adjusted according to the rules Supplier has established for that Service Plan (which, if not specified in the subscription documents, are available on Supplier's website). The same applies, mutatis mutandis, where Customer permits or causes itself to be designated as the payor for someone else's subscription.</p>

  <p>5.2. Service fees are usually calculated on a per user per month basis (monthly amount per workspace member), and charged monthly or yearly -- depending on the Service Plan and other particulars of the subscription.</p>

  <p>5.3. Unless otherwise specifically agreed, the billing cycle for any chargeable Service Plan commences on the date when the subscription to that plan takes effect, or, if the subscription includes a free trial period, on the first day following the trial.</p>

  <p>5.4. Payment for the Service is due in advance by the first day of each billing period, and must be effected either by credit card, PayPal, or such other means as accepted by Supplier. Customer shall ensure that sufficient funds are available on the relevant account and acknowledges that late payment may result in the suspension of Service or termination of the Agreement.</p>

  <p>5.5. All payments for the Service are handled by a third-party payment gateway. Supplier is not responsible for the processing of Customer's payments and shall not be liable for any matter in connection therewith.</p>

  <p>5.6. Supplier may change the fees, rates and the billing cycle applicable to Customer's Service Plan upon a month's notice. If Customer does not agree with the respective change(s), its sole and exclusive remedy shall be to unsubscribe from the Service Plan in question. The fact of Customer remaining subscribed to the Service Plan after any such change(s) shall be deemed to constitute its consent to the respective change(s).</p>

  <p>5.7. Customer acknowledges that Service fees are non-refundable. For instance: (a) if Customer unsubscribes from a Service Plan or its Service Plan or subscription is modified or the Agreement is terminated or modified in the middle of a billing period, no refund will be given to Customer for any payment relating to that billing period; (b) payments attributable to future billing periods will not be refunded, unless otherwise explicitly agreed.</p>

  <p>5.8. Upon on an upgrade or a downgrade from one chargeable Service Plan to another the amounts that Customer has prepaid for the original Service Plan (i.e., the credit remaining on the relevant subscription) will be applied against the amounts payable for the new Service Plan. The same applies, mutatis mutandis, if Customer's subscription to a Service Plan is modified in a manner that necessitates an adjustment of the applicable fee(s).</p>

  <p>5.9. Supplier's fees and rates are exclusive of value added tax, sales tax and other public burdens, save where Supplier has otherwise explicitly stated. Customer shall be solely responsible for all taxes, duties and burdens that may be levied on its purchase, import, or use of the Service.</p>

  <p>5.10. All sums payable to Supplier hereunder shall be paid in full, without deducting or allowing the deduction of any currency conversion, wire transfer, remittance or other charges relating to the payment (or any handling of the payment) thereof.</p>


  <h1>6. Customer's undertaking</h1>

  <p>6.1. Customer must be a person (natural or legal) or an entity with legal capacity.</p>

  <p>6.2. It is not Supplier's intention to solicit, induce or encourage any person not possessing active legal capacity to subscribe to the Service or use same. For the protection of those whose active legal capacity is restricted, Supplier prohibits any such person from subscribing to, being subscribed to, and from using, the Service. In case of natural persons, full active legal capacity is usually acquired by becoming of legal age (the age of majority), which, pursuant to the law governing this Agreement, occurs when one attains 18 years of age. It is for the reasons noted in the preceding part of this section that each natural-person Customer and any Representative of a non-natural-person Customer must represent to Supplier, and by his/her subscribing to the Service (or, respectively, by subscribing Customer to the Service) does so represent, that s/he is at least 18 years old and fully capable of entering into contracts. The same representation is deemed to be made each time that the Service is used and Customer acknowledges that Supplier relies on this representation being true throughout the term hereof.</p>

  <p>6.3. Customer must comply and shall cause each End User to comply with all laws, rules and regulations applicable to their use of the Service and their processing of User Data.</p>

  <p>6.4. Customer warrants that it will not use the Service for sending unsolicited communications or for uploading, transmitting, delivering, running, possessing or storing harmful code, malware or illegal content, and must ensure that no End User engages in any such activity.</p>

  <p>6.5. Any User Data that conflicts with the provisions of this Agreement may be removed, disabled and/or destroyed by Supplier at its sole discretion.</p>

  <p>6.6. Without derogating from any of Customer's statutory obligations, Customer undertakes that it will not, and will not allow any End User to: (a) interfere with the proper functioning of the Service; (b) impose an unreasonable load on the Service or its infrastructure; (c) copy (except as expressly permitted herein), reproduce, translate, adapt, arrange or otherwise alter the Software or reproduce the results of any such activity; (d) decompile, disassemble or otherwise reverse engineer the Software; (e) remove, alter, hide or obscure any copyright notice, trademark or other proprietary rights notice embedded in, appearing on or otherwise pertaining to the Service; (f) create or attempt to create any product or service that is substantially similar to, or performs the same or substantially similar functions as, or otherwise competes with the Service, or purports to be created, provided or approved by Supplier.
  </p>

  <p>The undertakings of Customer set forth in this section 6.6 shall also be deemed to have been made by anyone who uses, accesses, or attempts to use or access any part of the Service.</p>

  <h1>7. Representative's undertaking</h1>

  <p>7.1. Representative personally warrants to Supplier that: (a) Customer conforms to the description set forth in section 6.1; (b) s/he has the authority to act on Customer's behalf; (c) this Agreement is binding on Customer.</p>

  <p>7.2. Representative undertakes to Supplier, and the latter agrees, that if Customer does not conform to the description referenced in section 7.1 (a), or if this Agreement proves to be void due to Representative's lack or excess of authority, Representative shall, at Supplier's option (to be exercised by notice pursuant to this Agreement), be deemed to have entered into the Agreement on his/her own behalf (i.e., as Customer). For the avoidance of doubt, Supplier's exercise, or it not exercising, the aforesaid option shall not prejudice any other right or remedy available to Supplier under the Agreement or the applicable law.</p>

  <h1>8. User Account</h1>

  <p>8.1. Customer shall be fully responsible for the activity that occurs under its User Account, including all User Data processing and other acts performed through or by means of such User Account, and must notify Supplier immediately of any breach of security relating to or unauthorised use of its User Account.</p>

  <p>8.2. With respect to Customer's usernames, passwords and authentication tokens, the Parties have agreed that Customer shall be responsible for: (a) maintaining the confidentiality of such usernames, passwords and tokens; (b) all acts performed by the use of, and all consequences of use or misuse of, any such username, password or token.</p>

  <p>8.3. Supplier shall not be responsible for any loss, damage or other consequences that may result from any unauthorised use of Customer's User Account, username, password or authentication token.</p>

  <p>8.4. Supplier has no obligation to monitor or access any User Account, but may do so in cases where such action is reasonably justified (e.g., in order to prevent illegal or harmful activity, provide customer support, or perform its legal duties).</p>

  <p>8.5. Supplier may, in its sole discretion, disable, close or restrict access to any User Account that is used to infringe on any Intellectual Property or any proprietary or personal right of any party.</p>

  <h1>9. Rights</h1>

  <p>9.1. All Service-related Intellectual Property shall belong to Supplier. Customer shall not acquire any right thereto or interest therein or otherwise in connection with the Service, except for the limited rights of use expressly set forth in this Agreement. All rights not expressly granted herein shall be deemed withheld.</p>

  <p>9.2. Nothing in this Agreement or anyone's conduct hereunder shall be construed to create, or provide grounds for the creation of, any right of security or possession, ownership, or any other real right (ius in re) in or for the benefit of Customer or any End User with respect to any item belonging to or in the possession of Supplier, unless Supplier has explicitly consented to the creation thereof.</p>

  <h1>10. Disclaimers</h1>

  <p>10.1. Any warranty of Supplier not expressly stated herein shall be deemed withheld. Supplier disclaims, to the fullest extent permitted under the applicable law, all statutory warranties and course of performance, course of dealing and usage related licensees' and users' expectations.</p>

  <p>10.2. Supplier (inter alia) makes no representation and gives no warranty with regard to the following: (a) that the Service will meet Customer's or End Users' requirements or expectations; (b) that access to, or the operation or use of, the Service will be uninterrupted, secure or error-free; (c) that any defects in the Service will be corrected; (d) that the Service or any means by which the Service is accessed or used is free of malware or other harmful components; or (e) with respect to any third-party software, service, information, infrastructure, resource, or any other third-party item.</p>

  <h1>11. Limitation of liability</h1>

  <p>11.1. Supplier shall not be liable for any loss, damage, expenses or other harmful consequences resulting from (a) anyone's use or inability to use the Service, (b) the properties of the Service, (c) the need to procure, or the procurement of, substitute goods or services or any other substitute benefit for the Service or any information, asset or other benefit received, owned, controlled or otherwise enjoyed through the Service, (d) any message or other communication received, or any transaction entered into, through or from the Service, (e) unauthorised access to, or interruption, alteration, loss, corruption or deletion of, Customer's or any End User's transmissions or data, (f) the statements or conduct of any person having access to the Service, or (g) any other matter relating to the Service or any part thereof; REGARDLESS of whether such are suffered or incurred directly or indirectly or are immediate or consequential and whether arising in contract, tort or otherwise; PROVIDED, HOWEVER, that (α) this section shall not prevent claims for the compensation of direct patrimonial loss suffered by Customer due to Supplier's intentional or grossly negligent breach of this Agreement, or patrimonial loss resulting from Supplier's causing personal injury to, or the death of, Customer, AND that (β) the total cumulative liability of Supplier -- hereunder and otherwise -- shall in no event exceed the total amount of all fees and other charges (exclusive of value added and sales taxes) that Customer disbursed to Supplier for the Service during the 12 months immediately preceding that month in which the event giving rise to liability occurred.</p>

  <p>11.2. Neither Party shall be liable for breaching its obligations due to a circumstance it reasonably could not have foreseen and which is beyond its control, such as, e.g., a force of nature, an act of a legislative or an executive authority, war, civil unrest, act of terror, strike, Internet failure or any other circumstance qualifying as force majeure under the applicable law -- to the extent that the respective circumstance prevented or hindered the Party's performance. For the avoidance of doubt, the provisions of this section: (a) are not intended to derogate from, or limit the application of, any statutory limitation or exclusion of liability; (b) shall not be construed to limit the amount of, or excuse Customer from paying, any fee or other consideration owed hereunder.</p>

  <h1>12. Indemnification</h1>

  <p>12.1. Customer shall defend, indemnify and hold harmless Supplier, its officers, directors, employees, contractors, agents and representatives from and against all claims made by, and all damages, liabilities, penalties, fines, costs and expenses payable to, any third party, which arise from Customer's or any End User's: (a) breach of this Agreement; (b) use of the Service; (c) processing of User Data; (d) contributions to the Service; or (e) infringement of any Intellectual Property or any proprietary or personal right.</p>

  <h1>13. Data protection</h1>

  <p>13.1. Customer and Representative acknowledge that Customer Details and certain other information about Customer and End Users is collected and processed through the Service. Supplier's use of this information is subject to its privacy policy, which is available at <a href="https://toggl.com/legal/privacy">https://toggl.com/legal/privacy</a>. Customer and Representative further acknowledge that by downloading, installing, using or accessing any part of the Service a data subject is deemed to have agreed to the collection and processing of such information about them, and in such manner, as set forth in Supplier's privacy policy, including to this information being transferred to, and processed in, such countries and by such parties as specified in the privacy policy.</p>

  <p>13.2. Supplier is neither the controller nor the processor (neither "chief", "responsible", "authorised", nor any other processor) of User Data and has no obligation whatsoever in connection with such data or the processing thereof. User Data is processed either by Customer, End Users, or other users of the Service. Any enquiry, request, objection, complaint or claim that Customer or an End User may have in connection with User Data or any processing thereof should be addressed to the user in charge of the relevant workspace or other part of the User Environment (usually, the administrator thereof). Supplier is under no obligation to participate in user disputes or take any action in connection therewith.</p>

  <h1>14. Modification</h1>

  <p>14.1. Customer acknowledges that, from time to time, circumstances may arise that make it necessary or desirable to modify certain provisions of this Agreement. Such circumstances include: (a) Supplier's modification of the Service; (b) a significant change in Supplier's legal environment; (c) an order or a judgment being entered against or in favour of Supplier; (d) a significant corporate event, such as, e.g., Supplier's merger or acquisition, or its change of legal form; (e) Supplier's transfer of the enterprise, or a part of the enterprise, to which this Agreement pertains; (f) the ambiguity, invalidity, voidability or unenforceability of a provision herein; (g) any other event whose occurrence in Supplier's reasonable judgment necessitates an amendment hereto.</p>

  <p>14.2. Customer agrees that: (a) upon the occurrence of any of the circumstances referenced in the preceding section, Supplier shall be entitled to make such changes to the Agreement as it reasonably deems appropriate; (b) Supplier's ability to foresee an event or to prevent it from happening shall not prejudice its right to amend the Agreement under point (a) of this section; (c) Supplier may amend the Agreement by notifying Customer thereof, or by posting a revised version of the Agreement in the User Environment or on a website and providing Customer a link thereto; (d) if the revised version of the Agreement includes an amendment that reduces Customer's rights or increases its responsibilities, then Supplier will provide Customer reasonable prior notice of such new version's entry into force.</p>

  <p>14.3. Notwithstanding anything herein to the contrary, Supplier reserves the right to modify the Service at any time for any reason, with or without notice. Unless otherwise expressly agreed, the use of any new features, versions, releases, updates or other modifications that Supplier may make available in connection with the Service shall be subject to the Agreement. Customer's continued use of the Service after any such modification shall be deemed to constitute its consent to the respective modification(s).</p>

  <p>14.4. If Customer does not agree with Supplier's changes (whether to the Agreement or the Service), its sole and exclusive remedy shall be to cancel the Agreement and terminate its use of the Service.</p>

  <h1>15. Suspension</h1>

  <p>15.1. Supplier may discontinue providing the Service or any part thereof upon a month's notice, and may, with or without notice, suspend or restrict access to the Service for any Customer whose payment for the Service remains overdue for more than a week, or whose use of the Service conflicts with the provisions of this Agreement.</p>

  <p>15.2. Supplier may suspend performance under the Agreement in whole or in part with immediate effect if it is required by law or a judicial or an administrative authority to refrain from performing its obligations hereunder.</p>

  <h1>16. Termination</h1>

  <p>16.1. This Agreement can only be terminated by closing Customer's User Account.</p>

  <p>16.2. Either Party may close the User Account, and shall thereby be deemed to have cancelled the Agreement, provided that: (a) if the User Account is closed by Supplier, Customer must be given at least a month's notice thereof (unless section 16.4 applies or the User Account is closed at Customer's request); and (b) if the User Account is closed by a Party who is entitled to withdraw from the Agreement, the respective Party has failed to notify the other that its closure of the User Account is to be construed as a withdrawal (which notice must be served prior to, or concurrently with, closing the User Account and shall result in the Agreement being deemed to have been terminated by withdrawal).</p>

  <p>16.3. In order for Customer to close the User Account, Customer must log on to the Service and follow the instructions provided there (or, should such be unavailable, notify Supplier thereof and follow the latter's instructions).</p>

  <p>16.4. Upon a Party's material breach of this Agreement the other Party may terminate the Agreement forthwith. Each of the following shall constitute a material breach of Agreement by the respective Party: (a) a Party having breached any of its principal obligations hereunder fails to discontinue or remedy such breach within 30 days after notice from the other Party specifying the breach and requiring it to be discontinued or remedied; (b) any act, omission, event or circumstance considered under the applicable law to be a Party’s material breach of this Agreement.</p>

  <p>16.5. A Customer who enters into this Agreement as a "consumer" (as determined under the applicable law, but generally -- a natural person not transacting within the scope of his/her business or professional activities) may withdraw from the Agreement within 14 days of having become a party hereto. Notwithstanding anything herein to the contrary, any consumer who withdraws from the Agreement pursuant to the preceding sentence is entitled to a full refund of all fees and other charges s/he has paid to Supplier hereunder, provided, however, that s/he also returns to Supplier, or reasonably compensates Supplier for the value of, everything s/he has received hereunder.</p>

  <p>16.6. Customer understands and agrees that upon any termination of this Agreement: (a) all rights that Customer has been granted hereunder will terminate; (b) Customer must cease all activities authorised by the Agreement; (c) all amounts owed to Supplier hereunder become due; (d) all User Data and other information associated with the User Account may be deleted, or may become inaccessible to Customer; (e) Customer will receive no refund, exchange or other compensation for any unused time or credit on a subscription, for any licence or subscription fee, any data associated with any User Account, or for anything else; (f) all its Software-related obligations hereunder shall survive until Customer has fully removed all Software from its devices, systems and storage media.</p>

  <h1>17. Law</h1>

  <p>17.1. This Agreement and all matters relating to the Service shall be governed by Estonian law. The United Nations Convention on Contracts for the International Sale of Goods does not apply to any of the foregoing.</p>

  <h1>18. Jurisdiction</h1>

  <p>18.1. Any dispute arising from or otherwise concerning this Agreement (including disputes concerning the formation or validity hereof), or relating to the Service, shall be settled by arbitration by the Arbitration Court of the Estonian Chamber of Commerce and Industry in Tallinn (the "Arbitration Court"), with arbitration to be conducted in accordance with the then-current rules of the Arbitration Court. Each Party, and anyone who uses, accesses or attempts to use or access any part of the Service, hereby irrevocably submits to the said jurisdiction and waives any and all objections they may have thereto.</p>

  <p>18.2. Any decision (order, judgment or other) that the Arbitration Court may deliver in a Parties' dispute or in connection with the Service shall be enforceable in all jurisdictions.</p>

  <h1>19. Notice</h1>

  <p>19.1. Customer agrees that Supplier may provide notice to Customer by posting it on the Service or by sending it to the email address associated with Customer's User Account.</p>

  <p>19.2. All notices, requests, enquiries, complaints and other communications that Customer wishes to address to Supplier should be sent to the email or postal address specified in section 1.1 under the term "Supplier" (or such other address or email address as Supplier may have provided to Customer for this purpose).</p>

  <h1>20. Miscellaneous</h1>

  <p>20.1. If any provision of this Agreement violates any mandatory rule of the applicable law and proves to be void as a result thereof, such provision shall, for those specific circumstances and only in that particular respect in which it is void, be deemed to have been amended so as to comply with the law. Any such amendment shall be confined to the minimum necessary to make the provision valid and shall retain as much of its original ambit and meaning as possible.</p>

  <p>Last revised: November 30, 2015</p>
</section>

{{#unless simple}}
  {{> 'footer' }}
{{/unless}}
