{{> 'header' }}
<section class="hero hero--textpage hero--dynamic-height">
  <div class="hero__content cf">
    <h1 class="smaller">Integrate Toggl with other tools</h1>
    <p class="larger">Maximize productivity by connecting different tools with Toggl time tracking or build your own custom integrations using our public API.</p>
  </div>
</section>

<div class="tools_container">
  <div class="section group">
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Teamweek" src="images/tools/teamweek.png">

          <h3>Teamweek</h3>

          <p>Plan your team's tasks on this online Gantt tool.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="http://support.toggl.com/freshbooks/" target="_blank">Learn more about the integration</a></p>
          </div><img alt="Freshbooks" src="images/tools/freshbooks.png">

          <h3>Freshbooks</h3>

          <p>Sync your time entries to Freshbooks for swift invoicing.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Github" src="images/tools/github.png">

          <h3>Github</h3>

          <p>Start the Toggl timer inside Github with the help of Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://cloudwork.com/apps/toggl" target="_blank">See what integrations are available</a></p>
          </div><img alt="CloudWork" src="images/tools/cloudwork.png">

          <h3>CloudWork</h3>

          <p>Integrates Toggl with PivotalTracker, Asana, Zendesk and more.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Podio" src="images/tools/podio.png">

          <h3>Podio</h3>

          <p>Track time inside Podio and boost your productivity.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Asana" src="images/tools/asana.png">

          <h3>Asana</h3>

          <p>Use Toggl Button to start tracking time in Asana and to improve efficiency.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Trello" src="images/tools/trello.png">

          <h3>Trello</h3>

          <p>One-click time tracking from Trello cards and check-list items.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="http://support.toggl.com/basecamp/" target="_blank">Learn more about the integration</a></p>
          </div><img alt="Basecamp" src="images/tools/basecamp.png">

          <h3>Basecamp</h3>

          <p>Easily send your to-dos, projects and users into Toggl.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Worksection" src="images/tools/worksection.png">

          <h3>Worksection</h3>

          <p>Easy and simple time tracking with Toggl inside Worksection.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://www.geckoboard.com/integrations/toggl/" target="_blank">Set up the integration</a></p>
          </div><img alt="Geckoboard" src="images/tools/geckoboard.png">

          <h3>Geckoboard</h3>

          <p>See your Toggl stats on a Geckoboard business dashboard.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Producteev" src="images/tools/producteev.png">

          <h3>Producteev</h3>

          <p>Coordinate tasks with your teams and track time with Toggl as well.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Redbooth" src="images/tools/redbooth.png">

          <h3>Redbooth</h3>

          <p>Track time with Toggl Button and improve productivity.</p>
        </div>
      </div>
    </div>
  </div>

  <p class="tools_bottom">*3rd party integrations are not endorsed or tested by Toggl. Toggl does not assume responsibility or liability for any issues caused by the use of these products.</p>

  <h2 class="tools_bottom">Didn’t find what you were looking for?</h2>

  <h3 class="tools_bottom">No problem. Create a new integration using our <span><a href="https://github.com/toggl/toggl_api_docs" target="_blank">public API</a></span> or add a new tool to Toggl Button <span><a href="https://github.com/toggl/toggl-button" target="_blank">Chrome extension</a></span>.</h3>
</div>
{{> 'footer' }}
