{{> 'header' }}
<section class="hero hero--textpage hero--dynamic-height">
  <div class="hero__content cf">
    <h1 class="smaller">Integrate Toggl with other tools</h1>
    <p class="larger">Maximize productivity by connecting different tools with Toggl time tracking or build your own custom integrations using our public API.</p>
  </div>
</section>

<div class="tools_container">
  <div class="section group">
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/salesforce-time-tracking" target="_blank">Learn more and get the Chrome extension</a></p>
          </div><img alt="Salesforce" src="images/tools/salesforce-2016.png">

          <h3>Salesforce</h3>

          <p>Log your time spent on clients and tasks inside Salesforce.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="http://support.toggl.com/freshbooks/" target="_blank">Learn more about the integration</a></p>
          </div><img alt="Freshbooks" src="images/tools/freshbooks.png">

          <h3>Freshbooks</h3>

          <p>Sync your time entries to Freshbooks for swift invoicing.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="GitHub" src="images/tools/github.png">

          <h3>GitHub</h3>

          <p>Start the Toggl timer inside GitHub with the help of Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
             <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Teamweek" src="images/tools/teamweek.png" width="150">

          <h3>Teamweek</h3>

          <p>Plan your team's tasks on this online Gantt tool.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Podio" src="images/tools/podio.png">

          <h3>Podio</h3>

          <p>Track time inside Podio and boost your productivity.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/asana-time-tracking" target="_blank">Learn more and get the Chrome extension</a></p>
          </div><img alt="Asana" src="images/tools/asana.png">

          <h3>Asana</h3>

          <p>Use Toggl Button to start tracking time in Asana and to improve efficiency.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/trello-time-tracking" target="_blank">Learn more & start tracking</a></p>
          </div><img alt="Trello" src="images/tools/trello.png">

          <h3>Trello</h3>

          <p>One-click time tracking from Trello cards and check-list items.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="http://support.toggl.com/basecamp/" target="_blank">Learn more about the integration</a></p>
          </div><img alt="Basecamp" src="images/tools/basecamp.png">

          <h3>Basecamp</h3>

          <p>Easily send your to-dos, projects and users into Toggl.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Worksection" src="images/tools/worksection.png">

          <h3>Worksection</h3>

          <p>Easy and simple time tracking with Toggl inside Worksection.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://www.geckoboard.com/integrations/toggl/" target="_blank">Set up the integration</a></p>
          </div><img alt="Geckoboard" src="images/tools/geckoboard.png">

          <h3>Geckoboard</h3>

          <p>See your Toggl stats on a Geckoboard business dashboard.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Producteev" src="images/tools/producteev.png">

          <h3>Producteev</h3>

          <p>Coordinate tasks with your teams and track time with Toggl as well.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Redbooth" src="images/tools/redbooth.png">

          <h3>Redbooth</h3>

          <p>Track time with Toggl Button and improve productivity.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Xero" src="images/tools/xero.png">

          <h3>Xero</h3>

          <p>Track time inside this popular accounting tool.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Google Drive Docs" src="images/tools/googledrive.png">

          <h3>Google Drive Docs</h3>

          <p>Start Toggl timer on your Google Docs.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/todoist-time-tracking" target="_blank">See how to track time in Todoist</a></p>
          </div><img alt="Todoist" src="images/tools/todoist.png">

          <h3>Todoist</h3>

          <p>Learn how much time your tasks take.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Zendesk" src="images/tools/zendesk.png">

          <h3>Zendesk</h3>

          <p>Good browser integration for time tracking.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="BitBucket" src="images/tools/bitbucket.png">

          <h3>BitBucket</h3>

          <p>Simple time tracking via Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Drupal" src="images/tools/drupal.png">

          <h3>Drupal</h3>

          <p>Very simple time tracking integration.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/wunderlist-time-tracking" target="_blank">Learn more and start logging your time</a></p>
          </div><img alt="Wunderlist" src="images/tools/wunderlist.png">

          <h3>Wunderlist</h3>

          <p>Track your tasks and learn where the time goes.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Pivotal Tracker" src="images/tools/pivotaltracker.png">

          <h3>Pivotal Tracker</h3>

          <p>Track the work time you spend on tickets.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Gmail" src="images/tools/gmail.png">

          <h3>Gmail</h3>

          <p>Track how much time handling every email takes.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/jira-time-tracking" target="_blank">Learn more and start tracking time in JIRA</a></p>
          </div><img alt="Jira" src="images/tools/jira.png">

          <h3>JIRA (cloud)</h3>

          <p>Great alternative for JIRA time tracking solution.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Countersoft Gemini" src="images/tools/countersoft.png">

          <h3>Countersoft Gemini</h3>

          <p>Accurate work hours tracking with Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="YouTrack" src="images/tools/youtrack.png">

          <h3>YouTrack (cloud)</h3>

          <p>Great time management extension for auditing your time usage.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="AnyDo" src="images/tools/anydo.png">

          <h3>AnyDo</h3>

          <p>Track your to-do list time usage with Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="CapsuleCRM" src="images/tools/capsule.png">

          <h3>CapsuleCRM</h3>

          <p>Insanely simple time tracking solution inside Chrome.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Unfuddle" src="images/tools/unfuddle.png">

          <h3>Unfuddle</h3>

          <p>Time usage tracking with powerful Chrome extension.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Gitlab" src="images/tools/gitlab.png">

          <h3>Gitlab</h3>

          <p>Track your work minutes, hours and even seconds.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Teamwork" src="images/tools/teamwork.png">

          <h3>Teamwork</h3>

          <p>Track how much time team members spend on different tasks.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Axosoft" src="images/tools/axosoft.png">

          <h3>Axosoft</h3>

          <p>Audit your time usage and analyze the results.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Trac" src="images/tools/trac.png">

          <h3>Trac</h3>

          <p>Best timesheet alternative for simple and quick work time tracking.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Toodledo" src="images/tools/toodledo.png">

          <h3>Toodledo</h3>

          <p>Get a timer button inside this tool and start tracking.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Taiga" src="images/tools/taiga.png">

          <h3>Taiga</h3>

          <p>Integrate with leading time tracking tool and boost productivity.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="HabitRPG" src="images/tools/habitrpg.png">

          <h3>HabitRPG</h3>

          <p>Time tracking integration that allows tracking inside Chrome.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Esa" src="images/tools/esa.png">

          <h3>Esa</h3>

          <p>Track your work and analyze results in Toggl.</p>
        </div>
      </div>

      <div class="col span_1_of_4">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Redmine" src="images/tools/redmine.png">

          <h3>Redmine</h3>

          <p>Super simple time tracking solution via Toggl Button.</p>
        </div>
      </div>
    </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Sifter" src="images/tools/sifter.png">

          <h3>Sifter</h3>

          <p>Real time work tracking with the help of Toggl Button.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://toggl.com/google-calendar-timer-integration" target="_blank">Learn more & start tracking</a></p>
          </div><img alt="Esa" src="images/tools/google-calendar-toggl-integration.png">

          <h3>Google Calendar</h3>

          <p>Track how much time your calendar events take.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Esa" src="images/tools/sprintly-toggl-integration.png">

          <h3>Sprintly</h3>

          <p>Track all your hours and minutes and analyze how productive you really are.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Esa" src="images/tools/flow-toggl-integration.png">

          <h3>Flow</h3>

          <p>Track your task time usage and analyze productivity.</p>
        </div>
      </div>
    </div>
  </div>

    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/" target="_blank">Set up your Zapier account & start tracking</a></p>
          </div><img alt="Zapier" src="images/tools/zapier.png">

          <h3>Zapier</h3>

          <p>Connect Toggl to Google Sheets, Slack and over 450 apps.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="TestRail" src="images/tools/testrail.png">

          <h3>TestRail</h3>

          <p>Integrate time tracking into your workflow with this popular testing tool.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Bugzilla" src="images/tools/bugzilla.png">

          <h3>Bugzilla</h3>

          <p>Log your time spent on bug tracking.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Breeze logo" src="images/tools/breeze.png">

          <h3>Breeze</h3>

          <p>Record all your project hours with this simple integration.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="GQueues" src="images/tools/gqueues.png">

          <h3>GQueues</h3>

          <p>Record your hours and minutes within this task management tool.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Wrike logo" src="images/tools/wrike-toggl-integration.png">

          <h3>Wrike</h3>

          <p>Start your work timer directly from this online collaboration tool.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Assembla logo 2016" src="images/tools/assembla.png">

          <h3>Assembla</h3>

          <p>Integrate it with Toggl and track your hours.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Waffle.io logo 2016" src="images/tools/waffleio.png">

          <h3>Waffle</h3>

          <p>Track your productivity with this easy integration.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/2363/get-new-toggl-time-entries-in-slack/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Slack logo 2016" src="images/tools/slack.png">

          <h3>Slack</h3>

          <p>Share new Toggl Time Entries in Slack messages.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/twitter/35485/toggl-new-time-entry-to-twitter-create-tweet/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Twitter logo 2016" src="images/tools/twitter.png">

          <h3>Twitter</h3>

          <p>Tweet a new time entry on Toggl.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/pipedrive/toggl/33568/pipedrive-new-deal-to-toggl-new-client/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Pipedrive logo 2016" src="images/tools/pipedrive.png">

          <h3>Pipedrive</h3>

          <p>Add new deal in Pipedrive as new Client in Toggl.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/mysql/3421/add-toggl-time-entry-to-mysql/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="MySQL logo 2016" src="images/tools/MySQL.png">

          <h3>MySQL</h3>

          <p>Add new Toggl time entries to MySQL.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Codeable logo 2016" src="images/tools/codeable.png">

          <h3>Codeable</h3>

          <p>Time keeping is a breeze with this productivity-boosting integration.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn" target="_blank">Get the Chrome extension & start tracking</a></p>
          </div><img alt="Eventum logo" src="images/tools/eventum.png">

          <h3>Eventum</h3>

          <p>Track hours and minutes by integrating this tool with Toggl.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://cloudwork.com/apps/toggl" target="_blank">See what integrations are available</a></p>
          </div><img alt="CloudWork" src="images/tools/cloudwork.png">

          <h3>CloudWork</h3>

          <p>Integrates Toggl with PivotalTracker, Asana, Zendesk and more.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/evernote/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="CloudWork" src="images/tools/evernote.png">

          <h3>Evernote</h3>

          <p>Append Toggl time entries to an Evernote note.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/beeminder/37796/toggl-new-time-entry-to-beeminder-add-datapoint/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Beeminder logo 2016" src="images/tools/beeminder.png">

          <h3>Beeminder</h3>

          <p>Automatically updates Beeminder graph with new Toggl time logs.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/5034/issue-invoices-on-zoho-invoice-for-new-toggl-time-entries/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Zoho Invoice logo" src="images/tools/zoho-invoice.png">

          <h3>Zoho Invoice</h3>

          <p>Issues invoices for new Toggl time entries.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/271/log-toggl-time-entries-in-clio/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Clio logo" src="images/tools/clio.png">

          <h3>Clio</h3>

          <p>Log Toggl time entries in Clio.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/hipchat/3875/hipchat-message-from-toggl-time-entry/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="HipChat" src="images/tools/hipchat.png">

          <h3>HipChat</h3>

          <p>Get a HipChat message from new Toggl time entry.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/dropbox/4602/create-dropbox-folder-from-toggl-projects/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Dropbox logo 2016" src="images/tools/dropbox.png">

          <h3>Dropbox</h3>

          <p>Create new Dropbox folder from new Toggl projects.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://appcenter.intuit.com/toggl-to-quickbooks" target="_blank">Learn more about the integration</a></p>
          </div><img alt="QuickBooks Online logo" src="images/tools/quickbooks-online.png">

          <h3>QuickBooks Online</h3>

          <p>Send Toggl time recordings to QuickBooks Online.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/4855/send-new-visual-studio-online-work-items-to-toggl-as-new-tasks/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Visual Studio Online logo" src="images/tools/visual-studio-online.png">

          <h3>Visual Studio Online</h3>

          <p>Send new Visual Studio Online work items to Toggl as new tasks.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/2263/create-toggl-tasks-from-workboard-action-items/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Workboard" src="images/tools/workboard.png">

          <h3>Workboard</h3>

          <p>Creates Toggl tasks from Workboard action items.</p>
        </div>
      </div>
    </div>
    <div class="tools_row">
      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/google-tasks/toggl/2605/create-toggl-task-from-google-tasks/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Google Tasks logo 2016" src="images/tools/googletasks.png">

          <h3>Google Tasks</h3>

          <p>Create new Toggl task from new tasks in a Google Tasks.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/zoho-crm/2712/zoho-crm-module-from-toggl-time-entry/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Zoho CRM logo 2016" src="images/tools/zohocrm.png">

          <h3>Zoho CRM</h3>

          <p>Creates Zoho CRM module item from new Toggl time logs.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/zaps/5210/create-freeagent-tasks-for-new-toggl-time-entries/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Freeagent logo 2016" src="images/tools/freeagent.png">

          <h3>FreeAgent</h3>

          <p>Create FreeAgent tasks for new Toggl time entries.</p>
        </div>
      </div>

      <div class="col span_1_of_4 padded">
        <div class="tool_box">
          <div class="overlay_container">
            <p class="overlay_text"><a href="https://zapier.com/zapbook/toggl/wordpress/31659/toggl-new-project-to-wordpress-create-post/" target="_blank">See how to set it up via Zapier</a></p>
          </div><img alt="Wordpress logo 2016" src="images/tools/wordpress.png">

          <h3>WordPress</h3>

          <p>New Project in Toggl creates a WordPress post.</p>
        </div>
      </div>
    </div>

  </div>

  <p class="tools_bottom">*3rd party integrations are not endorsed or tested by Toggl. Toggl does not assume responsibility or liability for any issues caused by the use of these products.</p>

  <h2 class="tools_bottom">Didn’t find what you were looking for?</h2>

  <h3 class="tools_bottom">No problem. Create a new integration using our <span><a href="https://github.com/toggl/toggl_api_docs" target="_blank">public API</a></span> or add a new tool to Toggl Button <span><a href="https://github.com/toggl/toggl-button" target="_blank">Chrome extension</a></span>.</h3>
</div>
{{> 'footer' }}
