{{> 'header' }}
<section class="hero hero--unsubscribe hero--dynamic-height">
  <div class="hero__content cf">
    <div class="unsubscribe-error js-error" style="display: none;"></div>
    <h3 class="js-description">{{description}}</h3>
    <button class="cta-button cta-button--no-arrow cta-button--filled js-ripple-button js-unsubscribe">Unsubscribe</button>
  </div>
</section>
{{> 'footer' }}
