{{> 'header' }}
<section class="hero hero--signup hero--dynamic-height">
  <div class="hero__content cf">
    <h1>{{ title }}</h1>
    <p>{{{ caption }}}</p>
  </div>
</section>
<section class="content-section content-section--user-has-invitation">
  <p>
    This account has a pending invitation.<br />
    Accept it by following the instructions in the e-mail we’ve just resent you!
  </p>
  <p>
    <a href="/signup" class="cta-button cta-button--filled js-ripple-button">Sign up with a different e-mail instead</a>
  </p>
</section>
{{> 'footer' }}

