<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Best Tools for <br /> Software Development teams in 2016</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article justify-all">
        <div class="col-1">
          <img src="images/landing-pages/best-developer-team-tools-2016-toggl-cover.jpg" alt="Developers working ina an office" />
        </div>
        <div class="col-2">
          <p class="margin-top-25">
            If you work in web & software development, you really can’t afford to lag behind with the tools you’re using.
          </p>
          <p>
            This isn’t just about maintaining a technological edge over your competition. As your teams grow, you will need to do more with less - at least in the beginning. Having the right tools at your disposal can make the difference between a well-oiled machine and a sinking ship.
          </p>
          <p>
            These are our top picks for essential development tools for 2016 - all tried and proven by our staff.
          </p>
        </div>
      </article>

       <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="https://github.com" target="_blank"><img src="images/landing-pages/github-cloud-code-repository-toggl.jpg" alt="GitHub git version control and code repos" /></a>
        </div>
        <div class="col-2">
          <h2><span>1. GitHub</span> for version control </h2>
          <p>
            GitHub is a web-based Git repository hosting service, and the largest and most popular code repository in the world - with good reason. Software development teams love GitHub for its intuitive interface which makes for hassle-free code collaboration. Adding even more value from a collaborative perspective, are GitHub's many added features - having a single place for managing your pull requests and tracking your issues is hugely helpful.
          </p>
          <p>
            Companies embracing an open source mindset will also appreciate the flexible pricing model, with public repositories hosted for free, and private ones costing monthly fees depending on the number of contributors.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for public repos, plans for private repos start at 7$ per month. </li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://www.atlassian.com/software/jira" target="_blank"><img src="images/landing-pages/jira-atlassian-project-management-scrum-toggl.jpg" alt="Jira by Atlassian" /></a>
        </div>
        <div class="col-2">
          <h2><span>2. Jira </span> for project management</h2>
          <p>
            To say Jira is another popular development planning tool is an understatement. Made by the Atlassian group, Jira is a capable project and issue tracker. 
          </p>
          <p>
            Also adding to its popularity among agile software development teams, are its easy-to-use customizable Scrum and Kanban boards. A great choice of software for teams who are looking for an out-of-the-box whole product service with ironclad reputation.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free trial, team based prices start from 10$ per month.</li>
          </ol>
        </div>
      </article>

      <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="https://toggl.com/web-development-companies" target="_blank"><img src="images/landing-pages/toggl-online-timesheets-tool-logo.jpg" alt="Toggl logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2><span>3. Toggl </span> for time tracking</h2>
          <p>
            You can’t improve what you can’t measure.
          </p>
          <p>
            If you’re running a software development agency, time is your biggest enemy. Securing new clients while taking care of older ones without compromising the quality of your work is crucial for any software business.
          </p>
          <p>
            Tracking time with Toggl is effortless and gives you a detailed overview of how profitable your company is, making it easy to scale your business and client base in a sustainable way. It also helps that Toggl integrates with over 50 other online tools - including all those on this list.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for basic, Pro costs 5$ per user/month.</li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://www.atlassian.com/software/bitbucket" target="_blank"><img src="images/landing-pages/atlassian-bitbucket-code-repository-git-toggl.jpg" alt="Bitbucket by Atlassian" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>4. Bitbucket</span> for Atlassian fans </h2>
          <p>
            GitHub might be king, but if you’re using Jira for project management, Bitbucket is a very strong contender for an alternative hosting service for repositories using the Git version control system. 
          </p>
          <p>
            That’s because both Jira and Bitbucket are owned by Atlassian, which obviously means the two share a deep integration, making for a seamless working experience.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for small teams, team based prices start from 10$.</li>
          </ol>
        </div>
      </article>

      <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="https://trello.com" target="_blank"><img src="images/landing-pages/trello-project-management-tool.jpg" alt="Trello logo" /></a>
        </div>
        <div class="col-2">
          <h2><span>5. Trello</span> for backlog and ideas</h2>
          <p>
            We mentioned Jira already for project management, but Trello is another tool adding a few interesting fearures in the mix.
          </p>
          <p>
            Sporting a significantly sleeker (and arguably more intuitive) look, Trello’s focus is on simplicity and visual appeal. Made up of different easy-to-manage boards, there are a number of ways to use Trello, but we specifically use it as an icebox, and for easy tracking of ideas from early concept to finished feature.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Basic version is free, Paid plans start from 8.33$ per user/month.</li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://teamweek.com" target="_blank"><img src="images/landing-pages/teamweek-cloud-gantt-chart-tool-toggl.jpg" alt="Teamweek project management tool with Gantt" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>6. Teamweek</span> - the next gen Gantt chart</h2>
          <p>
            People have a love-hate relationship with Gantt charts. While the core idea of this project management system is sound, Gantt charts can be awfully tricky to use - especially in agile teams dealing with rapidly changing circumstances and short development cycles.
          </p>
          <p>
            If you’re looking for a tool that has the big-picture insight of a Gantt chart, but is also flexible and easy to use by project managers and employees alike, look no further than Teamweek. A relative newcomer to the project management market, Teamweek is making strides in terms of usability and UX design, and it’s well worth getting into before your competition gets the jump on you.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for small teams, paid plans start at 29$ per month.</li>
          </ol>
        </div>
      </article>

    </section><!-- end posts -->

    <a href="#" class="btn btn-big-cta">Sign up for a free Toggl account</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank">Toggl Button Chrome Extension</a></li>
              <li><a href="https://toggl.com/how-to-create-simple-excel-timesheet" target="_blank">Excel timesheet tutorial</a></li>
              <li><a href="https://itunes.apple.com/us/app/toggl-timer/id885767775?mt=8" target="_blank">Timer App for iPhone</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://toggl.com/best-productivity-tools-2016" target="_blank">Best productivity tools of 2016</a></li>
              <li><a href="https://support.toggl.com/toggl-desktop-for-mac-osx/" target="_blank">Time Tracking Widget for Mac</a></li>
              <li><a href="https://support.toggl.com/toggl-desktop-for-windows/" target="_blank">Time Tracking for Windows</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
