<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Best online productivity <br /> tools and apps to use in 2016</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article justify-all">
        <div class="col-1">
          <img src="images/landing-pages/productivity-work-tools.jpg" alt="Man working on a mac computer and being productive" />
        </div>
        <div class="col-2">
          <p class="margin-top-25">
            As 2016 draws nearer, it’s time to look at what you can do to improve time management and make your business grow faster, all the while keeping your expenses under control. We’ve put together this short list of must-have productivity apps for the new year.
          </p>
          <p>
            Most of these popular web tools are free, but we have also added pricing info on their advanced features.
          </p>
        </div>
      </article>

      <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="/" target="_blank"><img src="images/landing-pages/toggl-online-timesheets-tool-logo.jpg" alt="Toggl logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2><span>1. Log </span> your work hours with Toggl</h2>
          <p>
            Excel timesheets don’t give real insights on how productive you really are. Toggl has changed the time management field by providing a really simple time recording tool for solo users and teams. Toggl also has powerful reports, giving you an accurate breakdown of how you’re spending your time.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for basic, Pro costs 9$ per user/month </li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://todoist.com" target="_blank"><img src="images/landing-pages/todoist-task-list-manager.jpg" alt="Todoist logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2><span>2. Never </span> miss a task with Todoist </h2>
          <p>
            Keeping an eye on your big goals is easy, but remembering all the tiny errands that come and go can get tricky. Todoist is an excellent task management app for managing your to-do lists, sporting a sleek look and keeping you on top of your daily tasks!
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free basic version, 29$ per year for Premium. </li>
          </ol>
        </div>
      </article>

      <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="https://trello.com" target="_blank"><img src="images/landing-pages/trello-project-management-tool.jpg" alt="Trello logo" /></a>
        </div>
        <div class="col-2">
          <h2><span>3. Organise </span> your projects with Trello</h2>
          <p>
            Trello is an amazing and simple project management and collaboration tool that uses cards to organize your ideas. Its biggest virtue is the visually appealing and simple user interface which feels intuitive, making it easy to track your project progress using <a href="/web-development-companies" target="_blank">Kanban methodology.</a>
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Basic version is free, Business version costs 8.33$ per user/month </li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://slack.com" target="_blank"><img src="images/landing-pages/slack-team-communication-tool.jpg" alt="Slack logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>4. Keep</span> people talking with Slack </h2>
          <p>
            Good communication is the cornerstone of great teamwork. Slack is an outstanding app for keeping your discussions and chatter organised by sorting them into different channels. What’s more, it lets you integrate update feeds from your other apps.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free for small teams, Advanced plans start from 6.67$ per user/month </li>
          </ol>
        </div>
      </article>

      <article class="row variant1 justify-all">
        <div class="col-1">
          <a href="https://evernote.com" target="_blank"><img src="images/landing-pages/evernote-recording-notes.jpg" alt="Evernote logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2><span>5. Save</span> your notes with Evernote</h2>
          <p>
            Have you ever had a good idea only to forget it by the time you get to the office? Evernote is the best multi-platform notepad out there, letting you record and organise your notes in text, images or audio on the go.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Basic version is free, Plus costs 19.99 per year </li>
          </ol>
        </div>
      </article>

      <article class="row variant2 justify-all">
        <div class="col-1">
          <a href="https://www.freshbooks.com/features/online-invoicing" target="_blank"><img src="images/landing-pages/freshbooks-invoicing-tool.jpg" alt="Freshbooks logo 2016" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>6. Send</span> your invoices with Freshbooks</h2>
          <p>
            Freshbooks is the perfect accounting tool for non-accountants. Creating invoices can be a huge hassle if you lack experience in bookkeeping - luckily, Freshbooks has stripped invoicing down to it’s core components, in a simple UI that’s guaranteed to save you hours upon hours on accounting work.
          </p>
          <ol class="post-alphabetical">
            <li><span class="alph-num"> Pricing: </span> Free 30-day trial, paid plans start at 9.95$ per month </li>
          </ol>
        </div>
      </article>

    </section><!-- end posts -->

    <a href="/signup" class="btn btn-big-cta">Sign up for a free Toggl account</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank">Get Toggl Timer Chrome Extension</a></li>
              <li><a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">Fact! Time tracking saves $12 441 per team </a></li>
              <li><a href="https://itunes.apple.com/us/app/toggl-timer/id885767775?mt=8" target="_blank">Get time tracker for iPhone</a></li>
              <li><a href="https://blog.toggl.com/" target="_blank">Read Toggl Time Management Blog</a></li>
              <li><a href="/pomodoro-timer-toggl" target="_blank">Try time tracking with Pomodoro add-on</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="/web-development-companies/" target="_blank">Implement time tracking in agile teams</a></li>
              <li><a href="https://support.toggl.com/toggl-desktop-for-windows/" target="_blank">Get Windows time tracker</a></li>
              <li><a href="https://support.toggl.com/business" target="_blank">Learn about Toggl for Business</a></li>
              <li><a href="http://jobs.toggl.com/" target="_blank">Apply for a remote job in Toggl</a></li>
              <li><a href="/timesheet-reminders" target="_blank">Team forgets to fill timesheets?</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
