<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">How to track time <br /> in Google Calendar?</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="col-1">
          <img src="images/landing-pages/toggl-button-integrations.png" alt="Toggl Button integrations listed" />
        </div>
        <div class="col-2">
          <p class="article-intro">
            If you are a fan of Google products - especially Chrome and Calendar - then this one is perfect for you. A Chrome extension that provides very simple integration between Toggl time tracking software and Google Calendar. Here's how to set it up:
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/toggl-login-screen.png" alt="Toggl login screenshot" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>1. Create </span> or log into your Toggl account</h2>
          <p>
            First things first. Make sure you have a fully functional Toggl account - doesn’t matter if it’s a free, Pro or Business plan account, the extension works with all of them. If you are creating a new account from scratch you might want to set up a few projects first so you could allocate your time logs from Google Calendar to these.
          </p>
          <p>
            NB: It’s important that you are logged into Toggl’s web version when you want to use the extension. The Toggl tab can be closed after logging in.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/toggl-button-chrome-store.png" alt="Toggl Button in Chrome Store" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin-75"><span>2. Add </span> the Toggl Button extension to Chrome </h2>
          <p>
            Get the extension from Chrome’s web store and download it in your browser. It’s very easy and requires only one click. On top of the Google Calendar integration the extension also works in numerous other web tools.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/timer-google-calendar.png" alt="Timer button inside Google Calendar" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin-55"><span>3. Open </span> your calendar and start tracking</h2>
          <p>
            Now head over to your Google Calendar and click on the event that’s coming up. You’ll see a timer button there (if you have followed previous steps and the extension is up-to-date). Click on it to start the automatic timer inside Toggl. All the data gets synced in real time and you can stop the time entry by starting another one, by clicking on the Toggl icon on the browser header or by going into Toggl and stopping it.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/timesheets-calendar-data-toggl.png" alt="Graphs based on Timesheets inside Toggl" /></a>
        </div>
        <div class="col-2">
          <h2 class="top-margin-55"><span>4. Analyse </span> your timesheets inside Toggl </h2>
          <p>
            Whenever you want to get an overview of time spent, just open your Toggl account and check out the reports section. There are multiple ways to handle your time logs data: you can see reports along with colorful graphs,  get a public bookmark link to share them, export as PDFs or even as Excel timesheets.
          </p>
        </div>
      </article>

    </section><!-- end posts -->

    <a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank" class="btn btn-big-cta">Get the Chrome extension</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank">Toggl Button Chrome Extension</a></li>
              <li><a href="https://toggl.com/employee-timesheet-template" target="_blank">Employee Timesheet Template</a></li>
              <li><a href="https://itunes.apple.com/us/app/toggl-timer/id885767775?mt=8" target="_blank">Timer App for iPhone</a></li>
              <li><a href="https://blog.toggl.com/" target="_blank">Time Management Blog</a></li>
              <li><a href="https://toggl.com/online-stopwatch" target="_blank">Online Stopwatch</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://support.toggl.com/toggl-desktop-for-mac-osx/" target="_blank">Time Tracking Widget for Mac</a></li>
              <li><a href="https://support.toggl.com/toggl-desktop-for-windows/" target="_blank">Time Tracking for Windows</a></li>
              <li><a href="https://support.toggl.com/toggl-desktop-for-linux/" target="_blank">Time Tracking for Linux</a></li>
              <li><a href="http://jobs.toggl.com/" target="_blank">Remote Jobs in Toggl</a></li>
              <li><a href="https://play.google.com/store/apps/details?id=com.toggl.timer&hl=en" target="_blank">Android Timer App</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
