<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">How to calculate<br />billable hours<br />using Toggl</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="col-1">
          <a href="https://toggl.com" target="_blank"><img src="images/landing-pages/calculating-billable-hours-in-toggl-cover.jpg" alt="Reporting timesheet data" /></a>
        </div>
        <div class="col-2">
          <p class="article-intro">
            For people working in professions where their clients are billed by the hour, keeping an accurate log on the time spent on clients can mean the difference between success and failure. Rightsizing your fees is key, as unreasonably high prices can drive away customers, while selling your services too cheap can crush your resources.
          </p>
          <p>
            In Toggl Pro, we’ve made it easy for you to separate your billable hours from unbilled work, and to keep your records accurate to the second.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/how-to-calculate-billable-hours-01-separating-unbillable-work.gif" alt="Separating billable hours from unpaid work" />
        </div>
        <div class="col-2">
          <h2><span>1. Separating</span> billable and non-billable time</h2>
          <p>
            Not all work time is billable. For example, when sending invoices to your clients, you might want to exclude the time spent answering their emails.
          </p>
          <p>
            In Toggl you can choose if you want a specific time entry to be billable or not when you start it. In the web app, simply click on the dollar sign to mark it as billable. Similarly, you can make earlier entries billable.
          </p>
          <p>
            You can also create different projects and determine which of their subtasks should be billable. Time tracked under the billable projects or their billable tasks will automatically be added up as billable time.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/how-to-calculate-billable-hours-02-assigning-hourly-rate.png" alt="Assigning default billable rate to a workspace" />
        </div>
        <div class="col-2">
          <h2><span>2. Calculating</span> rates for billable hours</h2>
          <p>
            Once you have separated unbillable work form billable time, you can
            If you’re charging different rates from different clients and projects, or if some of your contractors work for higher fees, you will need to use several billable rates.
          </p>
          <p>
            Toggl uses a three-level hierarchy to separate different rates. The <strong>default hourly rate</strong> can be set from the workspace settings page - this is the rate Toggl uses to calculate your fees when you're tracking billable time and when no other rates have been applied.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/how-to-calculate-billable-hours-03-team-member-rate.jpg" alt="Assign custom hourly rates to employees" />
        </div>
        <div class="col-2">
          <h2><span>3. Calculating</span> employee billable hours</h2>
          <p>
            Team member rates let you <strong>assign specific hourly rates for different people</strong> working for you.
          </p>
          <p>
            This is useful when you're working with people with a wide variety of skills and professions. For example, developers' time might be considered more expensive than that of copywriters. When you have team member specific rates in place, these will be used instead of your default hourly rate where applicable.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/how-to-calculate-billable-hours-05-billable-hours-for-special-projects.jpg" alt="Calculating project specific hourly rates" />
        </div>
        <div class="col-2">
          <h2><span>4. Calculating</span> rates for project-based work</h2>
          <p>
            Sometimes you might need to work on a project that is billed differently from your normal fees, requiring you to calculate it's price separately.
          </p>
          <p>
            To make it easier to separate such probjects from your other billable work, Toggl lets you assign a custom hourly rate to any project. What's more, if there are several people working for a project, they can be assigned custom hourly rates of their own. This can be useful for separating the more expensive work from simpler tasks.
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/how-to-calculate-billable-hours-04-tracking-total-earnings-and-progress.jpg" alt="Calculating your total billable hours and Toggl reports" />
        </div>
        <div class="col-2">
          <h2><span>5. Tracking</span> costs in real time</h2>
          <p>
            Toggl has a powerful integrated reporting system, and all your time is automatically sorted and can be instantly viewed in different reports. This means you don't have to add up your billable hours manually.
          </p>
          <p>
            The reports give you an overview of how much your projects are earning you and how much of your time has been spent on profitable activities, but there is also a Project Dashboard feature, letting you break down projects and their profitability by tasks.
          </p>
          <p>
            Aside from that, it will also show you if your time spending stays within the limits you’ve set, which makes it easier to catch runaway activities that could cost you a lot of money in the long run.
          </p>
        </div>
      </article>

    </section><!-- end posts -->

    <a href="https://toggl.com/signup" class="btn btn-big-cta">Let me try the Free Account</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="https://toggl.com/">Free Time Tracking Software</a></li>
              <li><a href="https://blog.toggl.com" target="_blank">Visit the Toggl Blog</a></li>
              <li><a href="https://support.toggl.com" target="_blank">Toggl Support Database</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">Does time tracking save money?</a></li>
              <li><a href="https://support.toggl.com/category/team-management/" target="_blank">Using Toggl with a team</a></li>
              <li><a href="https://toggl.com/project-collaboration-with-timesheets" target="_blank">Improving collaboration with time tracking</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
