{{> header }}
<section class="airport-hacks">
  <div class="ah__head">
    <div class="ah__container">
      <h1 class="ah__title">
        Kanban Time:<span> Why Your  <br> Development Hours </br> matter</br></span>
      </h1>
    </div>
  </div>
  <div class="ah__container _inner">
    <div class="ah__social">
      <a href="https://twitter.com/home?status=A%20Kanban%20board%20is%20a%20great%20tool%20-%20until%20you%20add%20time,%20money%20%26%20clients%20(Comic)%3A%20https%3A//toggl.com/kanban-time-tracking%20via%20%40Toggl" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.015px" height="20.003px" viewBox="0 0 24.015 20.003" enable-background="new 0 0 24.015 20.003" xml:space="preserve"><path fill="#ED1C24" d="M24.015,2.369c-0.884,0.402-1.833,0.673-2.83,0.795c1.017-0.624,1.798-1.614,2.166-2.793 c-0.952,0.579-2.006,0.999-3.129,1.225C19.324,0.614,18.043,0,16.626,0C13.906,0,11.7,2.262,11.7,5.05 c0,0.397,0.043,0.782,0.128,1.152C7.732,5.99,4.102,3.98,1.672,0.925C1.247,1.671,1.005,2.538,1.005,3.464 c0,1.752,0.869,3.297,2.191,4.203C2.389,7.64,1.629,7.413,0.965,7.035C0.964,7.056,0.964,7.077,0.964,7.098 c0,2.446,1.699,4.487,3.952,4.951c-0.413,0.115-0.849,0.177-1.298,0.177c-0.318,0-0.626-0.031-0.927-0.09 c0.627,2.005,2.447,3.466,4.602,3.505c-1.687,1.355-3.81,2.163-6.119,2.163c-0.398,0-0.789-0.024-1.175-0.071 c2.18,1.433,4.77,2.269,7.552,2.269c9.063,0,14.019-7.694,14.019-14.368c0-0.219-0.005-0.436-0.014-0.652 C22.519,4.271,23.354,3.381,24.015,2.369z"/></svg>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//toggl.com/kanban-time-tracking" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.009px" height="19.994px" viewBox="0 0 20.009 19.994" enable-background="new 0 0 20.009 19.994" xml:space="preserve"><path fill="#ED1C24" d="M17.51,0H2.501C1.126,0,0,1.125,0,2.499v14.996c0,1.375,1.126,2.497,2.501,2.497h7.591v-7.168H7.694V9.702 h2.397V8.138c0-2.412,1.782-4.301,4.058-4.301h2.209v3.526H14.38c-0.516,0-0.668,0.297-0.668,0.706V9.7h2.645v3.124h-2.645v7.17 h3.796c1.377,0,2.5-1.124,2.5-2.498V2.499C20.012,1.125,18.887,0,17.51,0z"/></svg>
      </a>
      <a href="https://plus.google.com/share?url=https%3A//toggl.com/kanban-time-tracking" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.012px" height="19.994px" viewBox="0 0 20.012 19.994" enable-background="new 0 0 20.012 19.994" xml:space="preserve"><path fill="#ED1C24" d="M10.535,16.065c0-0.168-0.018-0.331-0.054-0.487c-0.036-0.155-0.074-0.3-0.114-0.433c-0.04-0.132-0.11-0.27-0.211-0.414c-0.1-0.145-0.184-0.267-0.252-0.367c-0.068-0.1-0.174-0.218-0.319-0.354c-0.144-0.136-0.255-0.238-0.331-0.306c-0.076-0.068-0.205-0.17-0.385-0.306c-0.181-0.136-0.305-0.228-0.373-0.276c-0.068-0.049-0.2-0.14-0.397-0.277c-0.196-0.136-0.319-0.22-0.367-0.253c-0.136-0.015-0.336-0.023-0.601-0.023c-0.433,0-0.858,0.028-1.275,0.084c-0.417,0.056-0.85,0.157-1.299,0.301c-0.449,0.144-0.842,0.329-1.179,0.552C3.043,13.73,2.766,14.03,2.55,14.407c-0.217,0.377-0.325,0.805-0.325,1.286c0,0.545,0.142,1.032,0.427,1.46c0.285,0.429,0.657,0.765,1.118,1.009c0.462,0.245,0.945,0.427,1.45,0.547c0.505,0.12,1.014,0.18,1.527,0.18c0.473,0,0.924-0.05,1.353-0.151c0.429-0.1,0.832-0.256,1.209-0.468c0.377-0.212,0.676-0.506,0.897-0.883C10.425,17.01,10.535,16.569,10.535,16.065z M9.092,5.707c0-0.48-0.066-0.991-0.198-1.532c-0.132-0.541-0.32-1.063-0.565-1.568c-0.244-0.505-0.581-0.922-1.01-1.25C6.89,1.029,6.41,0.865,5.881,0.865c-0.746,0-1.323,0.276-1.731,0.828C3.74,2.246,3.536,2.908,3.536,3.677c0,0.376,0.046,0.772,0.139,1.19c0.092,0.416,0.234,0.832,0.426,1.249c0.193,0.416,0.417,0.791,0.674,1.123C5.031,7.572,5.344,7.842,5.712,8.05C6.082,8.259,6.47,8.363,6.88,8.363c0.777,0,1.341-0.243,1.69-0.727C8.918,7.151,9.092,6.509,9.092,5.707z M7.516,0h5.256l-1.623,0.949H9.525c0.569,0.361,1.01,0.865,1.323,1.514c0.313,0.649,0.469,1.326,0.469,2.031c0,0.593-0.092,1.12-0.276,1.58c-0.185,0.46-0.409,0.831-0.674,1.112c-0.265,0.28-0.529,0.539-0.794,0.775C9.308,8.197,9.084,8.441,8.9,8.693C8.715,8.946,8.623,9.216,8.623,9.505c0,0.208,0.066,0.412,0.199,0.612c0.132,0.2,0.304,0.392,0.516,0.577c0.213,0.184,0.448,0.376,0.704,0.577c0.256,0.2,0.513,0.422,0.77,0.667c0.256,0.244,0.491,0.508,0.704,0.792c0.212,0.285,0.385,0.625,0.517,1.021c0.132,0.397,0.198,0.823,0.198,1.28c0,1.282-0.562,2.411-1.684,3.389c-1.219,1.049-2.902,1.573-5.051,1.573c-0.473,0-0.952-0.04-1.438-0.12c-0.485-0.08-0.974-0.214-1.467-0.403c-0.493-0.188-0.928-0.42-1.305-0.696c-0.377-0.276-0.686-0.634-0.926-1.069C0.12,17.268,0,16.782,0,16.245c0-0.489,0.149-1.029,0.445-1.621c0.256-0.513,0.641-0.956,1.154-1.328c0.513-0.372,1.094-0.657,1.744-0.853c0.649-0.196,1.27-0.341,1.864-0.432c0.594-0.093,1.195-0.146,1.804-0.162c-0.513-0.665-0.769-1.262-0.769-1.79c0-0.096,0.008-0.191,0.023-0.282c0.016-0.092,0.037-0.17,0.06-0.235C6.35,9.476,6.382,9.39,6.422,9.282c0.04-0.108,0.069-0.194,0.084-0.258c-0.321,0.04-0.601,0.06-0.842,0.06c-1.195,0-2.219-0.393-3.073-1.178C1.738,7.121,1.311,6.135,1.311,4.95c0-1.121,0.381-2.124,1.143-3.009c0.761-0.885,1.7-1.452,2.814-1.7C6.021,0.08,6.771,0,7.516,0z M20.012,3.076v1.539h-3.078V7.69h-1.54V4.614h-3.078V3.076h3.078V0h1.54v3.076H20.012z"/></svg>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//toggl.com/kanban-time-tracking&title=Kanban%20Time%3A%20Why%20Tracking%20Your%20Development%20Hours%20Matters&summary=We%20explain%20why%20tracking%20development%20time%20is%20less%20about%20employee%20monitoring,%20and%20more%20about%20strategic%20business%20intelligence.&source=" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.012px" height="20.015px" viewBox="0 0 20.012 20.015" enable-background="new 0 0 20.012 20.015" xml:space="preserve"><path fill="#ED1C24" d="M4.532,2.17c0,1.198-0.873,2.169-2.308,2.169C0.873,4.339,0,3.369,0,2.17C0,0.943,0.902,0,2.28,0 C3.659,0,4.504,0.943,4.532,2.17z M0.113,20.014V6.054h4.279v13.96H0.113z M6.952,10.507c0-1.742-0.056-3.197-0.113-4.453h3.716 l0.198,1.942h0.084c0.562-0.915,1.943-2.256,4.25-2.256c2.814,0,4.925,1.913,4.925,6.024v8.251h-4.278v-7.737 c0-1.798-0.62-3.027-2.168-3.027c-1.182,0-1.884,0.828-2.194,1.627c-0.113,0.285-0.141,0.685-0.141,1.085v8.052H6.952V10.507z"/></svg>
      </a>
    </div>
    <h2 class="ah__subtitle">
      Accounting for time in agile software development
    </h2>
    <p>
      You've been there. A new client signs on, asking you to build them a website. They tell you what they think they need. You listen, nod and then tell them what they actually need. You shake hands, sign on the budget, translate the client's question into a language the programmers understand, set up your Kanban board and start working.
    </p>
    <p>
      Oh but you made a mistake signing on that budget, didn't you?
    </p>
    <p>
      Before long, you'll find that your backlog isn't clearing (in fact it seems to be growing) as the client keeps coming back with feedback, that your developers are taking 60 minutes to fix a bug instead of 30 and that dear god you wish you had asked for a bigger budget.
    </p>
    <p>
      It's OK, you're not alone in this. This happens all too often, when teams think "organisation" and not "time".
    <div class="ah__main--image">
      <img src="images/landing-pages/toggl-time-tracking-problems-in-kanban-teams.jpg" alt="Kanban Problems - What Happens When Kanban Teams Forget About Time">
    </div>

    <h2 class="ah__subtitle _lower">
      So, You think you Kanban?
    </h2>
      <p>
        Kanban boards are superb tools for organising development workflow.
      </p>
      <p>
        It’s the flexibility that makes Kanban a better method for agile teams than, say, Scrum, which (in it’s simplest form) relies on highly target oriented sprints to develop software in an incremental way. Don’t get me wrong - Scrum is great if you don’t need to worry about interruptions (or if you have staff in place to deal with interruptions), but if you can’t afford to run fully dedicated teams against highly specific goals, Kanban is probably a better option.
      </p>
      <p>
        At it's very core, a Kanban board has three basic states - <i>"To Do"</i>, <i>"Doing"</i> and <i>"Done"</i>.
      </p>
      <p>
        For smart business leaders, however, the states read <i>"How much to do?"</i>, <i>"Doing for how long?"</i> and <i>"Is it really done?"</i>
      </p>
    <h2 class="ah__subtitle _lower">
      Kanban & metrics (or why time matters)
    </h2>
      <p>
        So why is time so important? For two reasons.
      </p>
      <p>
        The first reason is a tactical one (yes yes, tactics and strategy are intertwined, but bear with me here) - <strong>you need to watch your lead time.</strong>
      </p>
      <p>
        <a href="https://en.wikipedia.org/wiki/Lead_time" target="_blank">Lead time</a> is basically the time it takes for a ticket or an issue to go from being added to the backlog to being done. The shorter the lead time, the more efficient you are - if you're working off a fixed budget, you'll be more profitable and if you're working for hourly rates, your client will be happy too (well, for obvious reaosns).
      </p>
      <p>
        While not all Kanban teams use time tracking, I would argue the time factor is nonetheless a core part of the Kanban philosophy - though it is not always so overtly stated. A major (and known) benefit of using a Kanban system is its ability to point out bottlenecks in the development process, usually by way of imposing a limit on the number of active tasks a team can have open at any time - if the number of active tasks is too high, the team will have to identify the problem and solve any issues.
      </p>
      <p>
        But bottlenecks are the last symptom of an organisational issue. Having an accurate overview of your lead times will point to inefficiencies much sooner. Oh and by the way, inefficiencies don't necessarily mean that your developers are too slow - rather, you might find out you've bitten off more than your team can chew and that it's time to look for extra staff to manage the growing workload.
      </p>
      <p>
        OK, but that's just the time tactics - things get a whole lot more interesting when you start looking at time costs on a strategic level.
      </p>
      <p>
    <h2 class="ah__subtitle _lower">
      The Hidden Cost of "one more thing"
    </h2>
    <p>
      If you’re charging your client solely by the hour then, well, congrats! Because however long a project takes, you'll at least be compensated for all your hours (though yes, get a reputation for being too slow and expensive and pretty soon you'll be swimming in a very dry client pool, alone).
    </p>
    <p>
      But that's a story for another time - where strategy gets really interesting, is when you have to work with a budget.
    </p>
    <p>
      If you’re working off a retainer, you’ll want to have really good estimates in your back pocket - sell your services for too cheap, and it won’t be long until you’re dealing with an angry mob of underpaid and overworked developers, slipping deadlines and bug-riddled deliverables. Coming up with a budget that satisfies both you and your client alone is a science. Add to that the fact that development <i>never</i> goes exactly as planned, and boom - we're in quantum mechanics territory.
    </p>
    <p>
      So, here's your core problem - <strong>how do you account for all the potential unexpectancies when coming up with your price offer?</strong>
    </p>
    <p>
      You might say the answer is <i>“experience”</i>. This is basically correct, with one amendement - it has to be <i>“measured experience"</i>.
    </p>
    <p>
      Any software development project is a sum of many different moving parts. In addition to variations in technical difficulty, you’re also dealing with tasks of varying complexity as well as your different employees and their different work skills and habits. You might even need to bring in extra help midway, in the shape of a freelance developer with a very particular skillset.
    </p>
    <p>
      The problem is, while you might have “experience” with how long one task or the other should take, or how long one employee or the other takes to complete something, it’s nearly impossible to add it up into an accurate big picture. This is where <a href="http://searchdatamanagement.techtarget.com/definition/business-intelligence" target="_blank">“business intelligence”</a> comes in.
    </p>
    <p>
      Successful companies never <i>“wing it”</i> - they act consciously according to a plan based on measurable metrics.
    </p>
    <p>
      So <i>kill the guesswork.</i> It's not in your business vocabulary anymore.
    </p>
    <p>
      The only way to have good estimates is to know exactly how long specific tasks have taken to complete in the past. The only way to know how long things take, is to track them. Why so?
    </p>
    <p>
      Because time is a treacherous thing - how we perceive it is highly subjective and depends on many different factors. Imagine, for example the following scenario. You go to the cinema and see two movies of equal length - one you absolutely love, and the other one so agonizingly dull that makes you wish you were dead. Without knowing their exact runtimes, you would most likely estimate that the film you liked was shorter than the second, boring one.
    </p>
    <p>
      We don't really have a sense of time - rather, <a href="https://blog.bufferapp.com/the-science-of-time-perception-how-to-make-your-days-longer" target="_blank">we perceive time</a> through a myriad of external factors. As such, our internal clocks aren't terribly reliable.
    </p>
    <p>
      The effect can have a catastrophic effect on business decisions, as lost minutes here and there slowly add up to horribly distorted data and grossly miscalculated estimates.
    </p>
    <p>
      In the worst case scenario, these estimates turn into "official statistics".
    </p>
    <p>
      <i>*Shudder*</i>
    </p>
    <h2 class="ah__subtitle _lower">
      OK, so how do I measure my time?
    </h2>
    <p>
      In short - accurately.
    </p>
    <p>
      Because our brains are terrible with time, you can't really leave them unattended for even a second. This is why we made damn sure that the timer in Toggl is as simple to use as possible. It does a lot of compiling, reporting and analysing under the hood, but we knew from the start that the UX had to be absolutely, ridiculously and uncompromisingly simple.
    </p>
    <p>
      The reason should be clear to any software developer - if an app is difficult to use, people won't use it.
    <p>
      If time tracking is difficult to the user, they will likely resort to filling in their hours later, which decreases the accuracy of your reports. There's no sense in getting a time tracking app and using it like a timesheet. That'd be like buying a chair to go jogging.
    </p>
    <p>
      By the way, this qualitative difference between tracking in real time and filling in timesheets isn’t something we’ve just made up. We recently did a survey among 1,000 business leaders using Toggl (you can see some of key results <a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">on Slideshare</a>), asking about their business models, work methods and the role time tracking plays in their business.
    </p>
    <p>
      Going through the results, we found that teams that typed in their hours manually saved on average $3,519 per year thanks to increased efficiency (not bad!). But - get ready for the kicker - <strong>teams that tracked their hours in real time, saved a whopping average of $15,064.</strong>
    </p>
    <p>
      But enough about the savings, the point here is this - real-time tracking is accurate, but if it’s not simple to do, people get lazy, the money dries up and everybody loses their job.
    </p>
    <h2 class="ah__subtitle _lower">
      Pulling reports & drawing conclusions
    </h2>
    <p>
      We've managed to build some impressive reporting, exporting and integration features into Toggl - if you want to learn about how these can work for software teams, hit that neat little CTA button after the jump.
    </p>
    <p>
      For now, let's spell out what you get from tracking time on a strategic level.
    <p>
      Namely this - having good business intelligence means you can walk into a meeting with a new potential client with a very clear understanding of how much your time costs, and how much of your precious time the new client will be asking for.
    </p>
    <p>
      Chances are they will say something like <i>“yeah, and I guess if we have some suggestions you can make some changes later?”</i>
    </p>
    <p>
      Now, there’s nothing wrong with that question - for agile teams, development is about constant cooperation and feedback. But when you’re armed with accurate time tracking data about exactly how long different kinds of development work takes for your team, you’ll be in a much better position to judge how your client’s requests and ideas match the offer on the table.
    </p>
    <p>
      Also, you’ll be in a much better position when (re)negotiating fees - it’s hard to argue with an actual minute-by-minute report of your work. We’ve also seen a few cases of people sending out regular Toggl reports as a preemptive strike (you know, to avoid that pesky <i>“how hard can it be?”</i> question).
    </p>
    <p>
      Just make sure you’re tracking time with discipline - but also, with respect towards your team. Your developers must know that time tracking isn't used for penalizing them for their inevitably varying work methods, but that it serves a more strategic purpose.
    </p>
    <p>
      Remember that time tracking isn't about putting people in boxes - it's about knowing the boxes you work with.
    </p>
  </div>
  <div class="ah__cta">
    <a href="https://toggl.com/web-development-companies/" class="cta-button cta-button--empty">What can Toggl do for my team?</a>
  </div>
  <div class="ah__discover cf">
    <div class="ah__discover--container">
      <div class="ah__discover--title">
        Discover more great stuff
      </div>
      <div class="cf">
        <div class="ah__discover--item">
          <a href="https://toggl.com" target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Free Time Tracking Software
          </a>
          <a href="https://toggl.com/tools" target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Toggl integrations page
          </a>
          <a href="https://toggl.com/trello-time-tracking" target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Time Tracking in Trello
          </a>
        </div>
        <div class="ah__discover--item">
          <a href="https://toggl.com/best-software-development-management-tools-2016" target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Best Tools for Developers 2016
          </a>
          <a href="https://support.toggl.com/video-overview/ target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Toggl Reporting Overview
          </a>
          <a href="https://blog.toggl.com/ target="_blank">
            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Toggl Blog
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ah__happy cf">
    <div class="ah__happy--text">
      Toggl has over <strong>1 M happy users</strong>
    </div>
  </div>
</section>
{{> footer }}
