<header>
  <div class="wrapper">
    <a href="/" class="logo">Toggl</a>
  </div>
</header>
<section class="hero hero--landing hero--dynamic-height">
  <div class="hero__background" style="background-image: url(photos/dog.jpg)"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1>Best time tracking software for lawyers</h1>
      <p>Manage your time keeping with Toggl - real time tracking, rounding of time logs, custom billable rates and powerful time reporting. Toggl Pro is the best choice for lawyers and attorneys. </p>
      <a href="https://toggl.com/signup" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Let me try the free account</a>
      <footer>.</footer>
    </div>
  </div>
</section>
<section class="content-section content-section--landing-features">
  <div class="wrapper cf">
    <div class="landing-feature">
     <img src="photos/work-management-software.jpg" alt="Toggl iPhone app in black and white">
     <h2>Always in sync with the mobile apps</h2>
     <p>Start the timer on web and end it on your mobile app - or the other way around. All the time logs are synced and stored in the cloud. </p>
   </div>
   <div class="landing-feature">
     <img src="photos/landing-2.jpg" alt="Working in a team in black and white">
     <h2>Use it in a team and get combined time reports</h2>
     <p>Ask the whole office to join your Toggl workspace to get more information about your team's time management. </p>
   </div>
   <div class="landing-feature">
     <img src="photos/type-2.jpg" alt="Type in black and white">
     <h2>Round all the time logs according to your needs</h2>
     <p>The most critical feature for lawyers is the option to round all the time entries. This can easily be set up with Toggl Pro plan.</p>
   </div>
   <footer>
     <a href="https://toggl.com/features" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Explore Toggl & sign up</a>
   </footer>
 </div>
</section>
{{> pricing-boxes }}
<section class="content-section content-section--centered content-section--twitter">
  <div class="wrapper">
    <h2>And this is what twitter has to say:</h2>
    <a class="twitter-timeline" href="https://twitter.com/search?q=toggl%20lawyer" data-widget-id="596612627985506304">Tweets about toggl lawyer</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <p>
      <a href="https://www.twitter.com/toggl" class="twitter-btn">
        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" height="15px" width="19px" >
          <path fill="currentColor"
         d="M19,2 C18,2 17,2 17,2 C17,2 18,1 18,0 C17,1 17,1 16,1 C15,0 14,0 13,0 C11,0 10,2 10,4 C10,4 10,4 10,5 C7,4 4,3 2,1 C2,1 2,2 2,3 C2,4 2,5 3,6 C3,6 2,6 2,5 C2,5 2,5 2,5 C2,7 3,9 5,9 C4,9 4,9 4,9 C3,9 3,9 3,9 C3,11 5,12 6,12 C5,13 4,13 2,13 C2,13 1,13 1,13 C3,14 5,15 7,15 C13,15 17,9 17,4 C17,4 17,4 17,4 C18,3 18,3 19,2 Z "/>
        </svg>
        Follow toggl on twitter
      </a>
    </p>
  </div>
</section>
{{> 'toggler-grid' }}

{{> 'footer' }}
