<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/bg_login_page.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Are your <br /> employees messing up your timesheets? We got this.</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="_lower">
          <p>
            The biggest problem with traditional timesheets is that they don’t give you accurate picture of your team’s time spending. Toggl fixes this with real-time tracking and advanced reporting options.
          </p>
          <p>
            Our survey has shown that teams using real-time tracking are saving on average <a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">four times more money per year</a> than teams who fill in their timesheets manually.
          </p>
          <p>
            Not only is Toggl’s real-time tracking more accurate, but its reports offer loads of detailed information that can be used for a variety of things like strategy planning, payroll calculations and client billing.
          <p>
            While this kind of detailed data can provide invaluable business intelligence, it is also vulnerable to human error. Few things are more frustrating than having an employee change their hours after you've already sent a report to your client (or worse - your accountant).
          </p>
          <p>
            To address this issue we’ve added a feature that lets you lock all time data submitted by users before a specified date.
          </p>
          <p>
            This feature is part of the Toggl Business package, but you can also use it by signing up for the Toggl Pro Plus plan.
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-locking-timesheets.jpg" alt="Locking timesheets in Toggl workspace settings"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>How does</span> Toggl protect my timesheets?</h2>
          <p>
            Timesheets can be locked to prevent editing in your Workspace settings.
          </p>
          <p>
            When you enable the locking option, a calendar will pop up letting you specify a date before which all time will be locked.
          </p>
          <p>
            Once enabled, your employees won't be able to edit their time after a certain point, meaning that you can send your reports to your clients or accountant knowing the data will stay accurate!
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-sign-up-image.jpg" alt="Signing up for Toggl Pro Plus"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>How do </span> I sign up for this?</h2>
          <p>
            Locking timesheets is available as a bonus feature option for Toggl Pro Plus users. You can <a href="https://toggl.com/signup/pro_plus" target="_blank">sign up for it by following this link.</a>
          </p>
          <p>
            To start using the timesheet locking option, sign up for Toggl Pro Plus and pick the "locking timesheets" as your bonus feature when prompted to do so.
          </p>
        </div>
      </article>
    </section><!-- end posts -->

    <a href="https://toggl.com/pricing" class="btn btn-big-cta">Sign up with a free trial</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="/">Free Time Tracking Software</a></li>
              <li><a href="https://blog.toggl.com/" target="_blank">Time Management Blog</a></li>
              <li><a href="https://blog.toggl.com/2015/09/track-costs-earnings-toggl/" target="_blank">How to track your costs & earnings</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://support.toggl.com/category/basics/" target="_blank">A quick guide to Toggl</a></li>
              <li><a href="https://support.toggl.com/video-overview/" target="_blank">Toggl reporting basics</a></li>
              <li><a href="https://support.toggl.com/category/team-management/" target="_blank">Toggl team features guide</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
