<link rel="stylesheet" href="stylesheets/media-coverage.css">
{{> header }}
<section class="mc__landing cf" id="mc__landing">
  <div class="mc__landing--head cf">
    <div class="main__container">
      <h1 class="mc__landing--h1">&quot;Toggl is a great tool that helps you understand where your time is going - a must if you&apos;re going to be productive remotely.&quot;
      <span>Entrepreneur</span></h1>
      <a href="https://blog.toggl.com/media-kit/" target="_blank" class="cta-button cta-button--filled">Check our media kit</a>
    </div>
  </div>

  <div class="mc__landing--content">
    <div class="main__container">
      <div class="mc__landing--title">Toggl has been featured in:</div>
      <div class="mc__landing--partners">
        <a>
          <img src="images/landing-pages/mc__featured_1.png" alt="Fast Company Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_2.png" alt="Inc. Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_3.png" alt="Lifehacker Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_4.png" alt="Entrepreneur Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_5.png" alt="theguardian Logo">
        </a>
      </div>

      <div class="mc__landing--news">
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/mc__news_img_1.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Well, we created the tool to solve our own problem - time tracking for a software consultancy we were running before starting Toggl. We needed a solution to help us track time spent on projects and better plan our future commitments. That's how Toggl was born.
              </p>
              <a href="http://despreneur.com/startup-of-the-week-toggl/ " target="_blank">
                Startup of the Week: Toggl
                <br>10 July 2015 Despreneur
            </a>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf _left">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/mc__news_img_2.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Alari Aho, CEO and Founder, says that half of Toggl&apos;s employees are located in Tallinn, while the rest work remotely in countries such as Poland, Scotland, Germany, Brazil, Spain, USA, Czech Republic, The Netherlands, Norway, Belarus, and France. The reason: <strong>&quot;Everyone works from where they’re most comfortable because we think awesome people do epic stuff anywhere,&quot;</strong> says Aho.
              </p>
              <a href="https://remote.co/2-companies-that-went-from-an-office-to-working-remotely/" target="_blank">
                2 Companies that Went from an Office to Working Remotely
                <br>27 July 2015 Remote.co
              </a>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/mc__news_img_3.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                &quot;Toggl works great with groups so you can set up your entire project team and track their hours using the app. Plus, Toggl easily integrates with other productivity tools like Trello and Asana.&quot;
              </p>
              <a href="http://socialmediaweek.org/blog/2015/06/top-5-mobile-apps-workplace-productivity/" target="_blank">
                Top 5 Mobile Apps For Workplace Productivity
                <br>9 June 2015, Social Media Week
              </a>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mc__landing--mentions">
      <div class="main__container">
        <div class="mc__landing--mentions_inner">
          <div class="mc__landing--mentions_title">
            More press mentions:
          </div>
          <a href="http://www.entrepreneur.com/article/252059" target="_blank">
            Track Your Time to Get More Done, Entrepreneur
            <span>18 Nov 2015</span>
          </a>

          <a href="http://socialmediaweek.org/blog/2015/06/top-5-mobile-apps-workplace-productivity/" target="_blank">
            10 Incredible Tools Every Freelancer Should Use Now, Social Media Week
            <span>30 Oct 2015</span>
          </a>

          <a href="http://www.smallbizdaily.com/23205/continuous-improvement-can-make-productive/" target="_blank">
            How Continuous Improvement Can Make You More Productive, Smallbizdaily.com
            <span>26 Oct 2015</span>
          </a>

          <a href="http://www.inc.com/travis-wright/why-you-should-say-no-to-monday-meetings.html" target="_blank">
            Why You Should Say No To Monday Meetings, Inc.com
            <span>21 Sept 2015</span>
          </a>

          <a href="http://blog.maqtoob.com/11-essential-time-saving-apps-for-freelancers" target="_blank">
            11 Essential Time Saving Apps for Freelancers, Maqtoob.com
            <span>18 Sept 2015</span>
          </a>

          <a href="http://www.businessnewsdaily.com/8331-most-productive-work-time.html" target="_blank">
            What's Your Most Productive Work Time? How to Find Out, Business News Daily
            <span>31 Aug 2015</span>
          </a>

          <a href="http://www.theguardian.com/business/2015/aug/18/time-management-apps-work-life-balance-productivity" target="_blank">
            Do time management apps really make people more productive? The Guardian 
            <span>18 Aug 2015</span>
          </a>
        </div>

        <a href="/signup" class="cta-button cta-button--empty mc__landing--cta">
          SIGN UP FOR A FREE TOGGL ACCOUNT
        </a>
      </div>
    </div>
  </div>
</section>
{{> footer }}
