<link rel="stylesheet" href="stylesheets/media-coverage.css">
{{> header }}
<section class="mc__landing cf" id="mc__landing">
  <div class="mc__landing--head cf">
    <div class="main__container">
      <h1 class="mc__landing--h1">&quot;Toggl is a great tool that helps you understand where your time is going - a must if you&apos;re going to be productive remotely.&quot;
      <span>Entrepreneur</span></h1>
      <a href="https://blog.toggl.com/media-kit/" target="_blank" class="cta-button cta-button--filled">Check our media kit</a>
    </div>
  </div>

  <div class="mc__landing--content">
    <div class="main__container">
      <div class="mc__landing--title">Toggl has been featured in:</div>
      <div class="mc__landing--partners">
        <a>
          <img src="images/landing-pages/mc__featured_1.png" alt="Fast Company Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_2.png" alt="Inc. Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_3.png" alt="Lifehacker Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_4.png" alt="Entrepreneur Logo">
        </a>

        <a>
          <img src="images/landing-pages/mc__featured_5.png" alt="theguardian Logo">
        </a>
      </div>

      <div class="mc__landing--news">
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/business-tools.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Looking to track your time but tired of using pen and paper? Toggl is a great tool that helps you understand where your time is going — a must if you’re going to be productive remotely.
              </p>
              <a href="http://fortune.com/2016/01/30/business-tools/ " target="_blank">
                Use These 24 Tools to Run Your Business From Anywhere in the World
                <br>30 Janurary 2016, Fortune
            </a>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf _left">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/home-business.png" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Always keep track of the number of hours you are working, more specifically the number of hours you are productive. Apps like Toggl can help you track your time. Tracking is necessary if you charge based on work hours like consultants. Otherwise, it can help you keep track of time and hence, work with more discipline.
              </p>
              <a href="http://www.business.com/productivity/maximize-productivity-when-working-from-home/" target="_blank">
                No Distraction Zone: How to Maximize Productivity When Working from Home
                <br>16 Feb 2016, Business.com
              </a>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/media-coverage.jpeg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                &quot;Toggl: A website and app that lets you track how long your tasks take. So those reports that will “only take a minute” can actually be counted in real time. This is also a good way for your freelancers to log their time as well. That way they know how long it takes to finish projects, and you can see how much you owe them if you pay by the hour.&quot;
              </p>
              <a href="http://www.entrepreneur.com/article/252059" target="_blank">
                Track Your Time to Get More Done
                <br>18 Nov 2015, Entrepreneur
              </a>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>

    <div class="mc__landing--mentions">
      <div class="main__container">
        <div class="mc__landing--mentions_inner">
          <div class="mc__landing--mentions_title">
            More press mentions:
          </div>
          <a href="http://www.business.com/productivity/maximize-productivity-when-working-from-home/" target="_blank">
            No Distraction Zone: How to Maximize Productivity When Working from Home, Business.com
            <span>16 Feb 2016</span>
          </a>

          <a href="http://fortune.com/2016/01/30/business-tools/" target="_blank">
            Use These 24 Tools to Run Your Business From Anywhere in the World, Fortune
            <span>30 Jan 2016</span>
          </a>

          <a href="http://successiswhat.com/beat-procrastination/" target="_blank">
            Beating Procrastination: 72 Successful People Reveal their Most Powerful Tips, SuccessisWhat
            <span>3 Dec 2015</span>
          </a>

          <a href="http://www.entrepreneur.com/article/252059" target="_blank">
            Track Your Time to Get More Done, Entrepreneur
            <span>18 Nov 2015</span>
          </a>

          <a href="https://www.cloudswave.com/blog/10-incredible-tools-every-freelancer-should-use-now/" target="_blank">
            10 Incredible Tools Every Freelancer Should Use Now, Social Media Week
            <span>30 Oct 2015</span>
          </a>

          <a href="http://www.smallbizdaily.com/23205/continuous-improvement-can-make-productive/" target="_blank">
            How Continuous Improvement Can Make You More Productive, Smallbizdaily.com
            <span>26 Oct 2015</span>
          </a>

          <a href="http://www.inc.com/travis-wright/why-you-should-say-no-to-monday-meetings.html" target="_blank">
            Why You Should Say No To Monday Meetings, Inc.com
            <span>21 Sept 2015</span>
          </a>

          <a href="http://blog.maqtoob.com/11-essential-time-saving-apps-for-freelancers" target="_blank">
            11 Essential Time Saving Apps for Freelancers, Maqtoob.com
            <span>18 Sept 2015</span>
          </a>

          <a href="http://www.businessnewsdaily.com/8331-most-productive-work-time.html" target="_blank">
            What's Your Most Productive Work Time? How to Find Out, Business News Daily
            <span>31 Aug 2015</span>
          </a>

          <a href="http://www.theguardian.com/business/2015/aug/18/time-management-apps-work-life-balance-productivity" target="_blank">
            Do time management apps really make people more productive? The Guardian 
            <span>18 Aug 2015</span>
          </a>

          <a href="http://despreneur.com/startup-of-the-week-toggl/" target="_blank">
            Startup of the Week: Toggl,  Despreneur
            <span>10 July 2015</span>
          </a>
        </div>

        <a href="/signup" class="cta-button cta-button--empty mc__landing--cta">
          SIGN UP FOR A FREE TOGGL ACCOUNT
        </a>
      </div>
    </div>
  </div>
</section>
{{> footer }}
