<link rel="stylesheet" href="stylesheets/media-coverage.css">
{{> header }}
<section class="mc__landing cf" id="mc__landing">
  <div class="mc__landing--head cf">
    <div class="main__container">
      <h1 class="mc__landing--h1">&quot;Toggl is a great tool that helps you understand where your time is going - a must if you&apos;re going to be productive remotely.&quot;
      <span>Entrepreneur</span></h1>
      <a href="#" class="cta-button cta-button--filled">Check our media kit</a>
    </div>
  </div>
  <div class="mc__landing--content">
    <div class="main__container">
      <div class="mc__landing--title">Toggl has been featured in:</div>
      <div class="mc__landing--partners">
        <a href="#">
          <img src="images/landing-pages/mc__featured_1.png" alt="Fast Company Logo">
        </a>
        <a href="#">
          <img src="images/landing-pages/mc__featured_2.png" alt="Inc. Logo">
        </a>
        <a href="#">
          <img src="images/landing-pages/mc__featured_3.png" alt="Lifehacker Logo">
        </a>
        <a href="#">
          <img src="images/landing-pages/mc__featured_4.png" alt="Entrepreneur Logo">
        </a>
        <a href="#">
          <img src="images/landing-pages/mc__featured_5.png" alt="theguardian Logo">
        </a>
      </div>
      <div class="mc__landing--news">
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a href="#">
              <img src="images/landing-pages/mc__news_img_1.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Well, we created the tool to solve our own problem - time tracking for a software consultancy we were running before starting Toggl. We needed a solution to help us track time spent on projects and better plan our future commitments. That's how Toggl was born.
              </p>
              <a href="#">
                Startup of the Week: Toggl 10 July 2015 Despreneur
            </a>
            </div>
            <div></div>
          </div>
        </div>
        <div class="mc__landing--news_item cf _left">
          <div class="mc__landing--news_img">
            <a href="#">
              <img src="images/landing-pages/mc__news_img_2.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                Alari Aho, CEO and Founder, says that half of Toggl&apos;s employees are located in Tallinn, while the rest work remotely in countries such as Poland, Scotland, Germany, Brazil, Spain, USA, Czech Republic, The Netherlands, Norway, Belarus, and France. The reason: <strong>&quot;Everyone works from where they’re most comfortable because we think awesome people do epic stuff nywhere,&quot;</strong> says Aho.
              </p>
              <a href="#">
                2 Companies that Went from an Office to Working Remotely 10 Sept 2015 Remote.co
              </a>
            </div>
            <div></div>
          </div>
        </div>
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a href="#">
              <img src="images/landing-pages/mc__news_img_3.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
              <p>
                &quot;Toggl works great with groups so you can set up your entire project team and track their hours using the app. Plus, Toggl easily integrates with other productivity tools like Trello and Asana.&quot;
              </p>
              <a href="#">
                Top 5 Mobile Apps For Workplace Productivity, 9 June 2015, Social Media Week
              </a>
            </div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <div class="mc__landing--mentions">
      <div class="main__container">
        <div class="mc__landing--mentions_inner">
          <div class="mc__landing--mentions_title">
            More press mentions:
          </div>
          <a href="#">
            2 Companies that Went from an Office to Working Remotely,  Remote.co
            <span>18 Sept 2015</span>
          </a>
          <a href="#">
            How Continuous Improvement Can Make You More Productive, Smallbizdaily.com
            <span>18 Sept 2015</span>
          </a>
          <a href="#">
            10 Incredible Tools Every Freelancer Should Use Now, Social Media Week
            <span>18 Sept 2015</span>
          </a>
          <a href="#">
            Why You Should Say No To Monday Meetings, Inc.com
            <span>18 Sept 2015</span>
          </a>
        </div>
        <a href="#" class="cta-button cta-button--empty mc__landing--cta">
          SIGN UP FOR A FREE TOGGL ACCOUNT
        </a>
      </div>
    </div>
  </div>
</section>
{{> footer }}
