<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">How to motivate your employees<br />to track their time and productivity</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="col-1">
          <a href="/" target="_blank"><img src="images/landing-pages/motivate-team-time-tracking-main-image.jpg" alt="Getting your employees to use time tracking" /></a>
        </div>
        <div class="col-2">
          <p class="top-margin-25">
            As a general rule, people don't enjoy filling in their timesheets. We have found through our surveys and client meetings, that getting employees to track time and productivity is the biggest challenge managers face when adopting a time tracking system.
          </p>
          <p>
            Why? Because lost time costs time - and money.
          </p>
          <p>
            According to Harvard Business Review, untracked work hours could be costing the US economy <a href="https://hbr.org/2015/01/workers-are-bad-at-filling-out-timesheets-and-it-costs-billions-a-day" target="_blank">7.4 billion dollars per day.</a> When every minute has real value, tracking employee hours can have a big impact on your business. In our 2015 user survey we found that teams using Toggl save an <a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">average of 12,441$ per year</a> - that's without counting the profits from accurately tracked and billed employee hours.
          </p>
          <p>
            Time is a business metric as important as any other, but getting your team to see time tracking as a productive activity rather than a chore can be difficult.
          <p>
            To help you tackle this common problem, we have put together this short guide on how to convince your employees to track their time properly. The tips we share here are based on the experiences of our customers, as well as those of our own team.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-01.jpg" alt="communicate with your team" />
        </div>
        <div class="col-2">
          <h2><span>1. Communicate</span> the benefit of time tracking</h2>
          <p>
            <a href="https://blog.toggl.com/2015/08/share-knowledge-build-trust/" target="_blank">Trust</a> is crucial for successful cooperation. Forcing your employees to track their time without any explanation will breed a culture of suspicion, and can lead to people cheating with their time logs.
          </p>
          <p>
            To avoid this, make sure everyone in your team understands what you need time tracking data for and how it benefits your employees, your company or your clients. Honesty and clear communication goes a long way in establishing trust and if you do it right, you might not even need the following tips.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-02.jpg" alt="have clear guidelines" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>2. Make sure</span> you have clear guidelines</h2>
          <p>
            If you want time tracking to work in a meaningful way, you will need a system. Your reports will be rendered useless if people don’t track their time under the correct projects, or if they use the wrong tasks or labels. Before your team starts tracking, explain to all involved what is the proper way to track their time.
          </p>
          <p>
          As with the first point, explaining why something has to be done in a specific way will make adopting the system easier.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-03.jpg" alt="help out your employees with set up" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>3. Help</span> every employee with basic set-up</h2>
          <p>
            With Toggl, basic setup is extremely simple and requires hardly any guidance. But keep in mind that if you want your employees to use time tracking, it’s important that they feel you're meeting them half way.
          </p>
          <p>
            Also, keep in mind that the fewer obsticles you have between the user and the system, the more likely they are to adopt it successfully. If people don't understand something, they are not going to use it.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-04.jpg" alt="share your reports with the team" />
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>4. Share</span> the reports on the office TV</h2>
          <p>
            Unless the time logs need to be kept private, sharing the reports with your team is a great way to build trust.
          </p>
          <p>
            If you have a TV screen on the office wall, use it to display the team's tracking data. This way people can see the impact of their work in real time - they might even think about new, more efficient ways of doing things.
          </p>
          <p>
            The only thing to keep in mind here, is to not use the data for public shaming if you're unhappy with an employee's work habits. Remember that trust is difficult to build, and easy to break.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-05.jpg" alt="ask for feedback" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>5. Follow-up</span> and ask for feedback</h2>
          <p>
            Your employees are the biggest experts on your business. Because they work with the finer points of your business day after day, their feedback is invaluable to making good decisions and adjustments.
          </p>
          <p>
            Keep checking in with them to see how your team is adapting to time tracking. If they have any problems, concerns or suggestions, use that feedback to improve your system. The easier it is for them, the more likely it is that they'll stick with the habit!
          </p>
          <p>
            This is also a great opportunity to show your team that their opinions and input is valued by the management. Also, when you start analysing the time tracking data, include your employees in the process. Together you'll have a better chance of discovering things that could be done differently.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/time-tracking-team-motivation-06.jpg" alt="reward your employees for tracking" />
        </div>
        <div class="col-2">
          <h2 class="top-margin"><span>6. Offer rewards</span> for accurate tracking </h2>
          <p>
            Using rewards is a powerful way to modify people’s behaviour. The key concept here is what psychologists call <a href="http://psychology.about.com/od/operantconditioning/f/positive-reinforcement.htm" target="_blank">"positive reinforcement"</a> - rewarding someone for showing desired behaviour, making them more likely to repeat that behaviour in the future. 
          </p>
          <p>
            People are more likely to adopt a new habit when they feel their progress is tied to specific rewards. If you don’t have the resources to pay people bonuses based on their time logs, you can use other sorts of benefits - like days off or small gifts.
          </p>
          <p>
            Another potentially effective tactic is to turn time tracking into a competition. For example by posting people's timesheets on the office wall for everyone to see can lead to more disciplined tracking as the employees seek to out-perform their colleagues and friends.
        </div>
      </article>

    </section><!-- end posts -->

    <a href="/signup" class="btn btn-big-cta">Let me try Toggl for free</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="/best-productivity-tools-2016">Best productivity tools of 2016</a></li>
              <li><a href="https://jobs.toggl.com" target="_blank">Remote job openings in Toggl</a></li>
              <li><a href="/web-development-companies" target="_blank">Kanban time tracking system</a></li>
              <li><a href="http://www.slideshare.net/Toggl/how-much-money-does-time-tracking-save" target="_blank">Time tracking saves $12 441 per team </a></li>
              <li><a href="/best-time-tracking-software-windows" target="_blank">Time tracking software for Windows</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="/trello-time-tracking" target="_blank">Free Trello timer add-on</a></li>
              <li><a href="/time-reports" target="_blank">Overview of Toggl reports</a></li>
              <li><a href="/how-to-calculate-billable-hours" target="_blank">Calculating billable hours with Toggl</a></li>
              <li><a href="/salesforce-time-tracking" target="_blank">Free Salesforce timer add-on</a></li>
              <li><a href="/pomodoro-timer-toggl" target="_blank">Pomodoro add-on for Toggl timer</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
