<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/header-bg1.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Definition of a<br />part time employee<br />in the U.S.</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="col-1">
          <p><img src="images/landing-pages/part-time-employee-05-definitions.jpg" alt="Defining a part time employee in the US" /></p>
        </div>
        <div class="col-2">
          <p>
            US federal law doesn't make a practical distinction between a full-time employee and a part-time employee. Employers can freely choose which type of contract they wish to offer their employees.
          </p>
          <p>
            Part-time workers are a good choice for work that is seasonal, project-based or simply not substantial enough to justify a full position.
          </p>
          <p>
            However, it's important to keep in mind that part-time employees are protected by the Fair Labor Standards Act (FLSA) the same way as full-time workers are. Below we offer explanations about rules and regulations to keep in mind when hiring a part-time employee.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/part-time-employee-01-minimum-wage.jpg" alt="Minimum salary of part time workers" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>1. Minimum wage</span> of part-time employees</h2>
          <p>
            A part-time worker's salary is subject to an agreement with the employer, but it's important to know that since part-time employees are protected under the FSLA, they must at least be paid minimum wage.
          </p>
          <p>
            As of July 24th, 2009, <strong>federal minimum wage in the US is 7.25$ per hour.</strong>
          <p>
            In states where the state minimum wage is higher than the federal minimum, employers must pay the higher rate.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/part-time-employee-04-overtime-pay.jpg" alt="Calculating overtime pay for part time workers" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>2. Overtime pay</span> for part-time workers</h2>
          <p>
            As with minimum wage, overtime pay for part-time employees is also dictated by the FLSA. Overtime has to be compensated when the weekly working hours of the part-time employee exceed the normal 40 weekly working hours of a full-time employee. <strong>Pay for the overtime hours is 1.5 times the employee's regular hourly pay.</strong>
          </p>
          <p>
            Some states may have higher overtime pay multipliers - in those cases, employers have to use the higher standard.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/part-time-employee-02-working-hours.jpg" alt="Working hours of part time employees" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>3. Working hours</span> of a part-time employee</h2>
          <p>
            As mentioned before, in the US, part-time workers are not defined by the number of their working hours. As such, they may work as much or more as full-time workers, given that they are compensated for the overtime hours in the way described above.
          </p>
          <p>
            The benefit for the employer then, is in the flexibility of a part-time workforce, as it helps companies save money in situations where the upkeep of a full-time workforce would be too costly or impractical.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/part-time-employee-03-benefits.jpg" alt="Benefits for part time workers" />
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>4. Benefits</span> for part-time employees</h2>
          <p>
            Generally, employers have considerably more flexibility in choosing which benefits their part-time employees receive.
          </p>
          <p>
            In fact, it might be tempting for employers to save money by cutting back on part-time contract benefits as much as possible, but it's worth keeping in mind that such a strategy might negatively affect your reputation, and may reduce your competitive edge when looking for highly qualified part-time workers.
          </p>
        </div>
      </article>
    </section><!-- end posts -->

    <a href="#" class="btn btn-big-cta">Let me try the Free Account</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="/">Free Time Tracking Software</a></li>
              <li><a href="https://blog.toggl.com/" target="_blank">Time Management Blog</a></li>
              <li><a href="https://blog.toggl.com/2015/09/track-costs-earnings-toggl/" target="_blank">How to track your costs & earnings</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://blog.toggl.com/2015/09/faking-timesheets/" target="_blank">Why employees cheat with timesheets</a></li>
              <li><a href="https://blog.toggl.com/2015/09/set-better-goals/" target="_blank">Why setting goals matters</a></li>
              <li><a href="https://blog.toggl.com/2015/08/share-knowledge-build-trust/" target="_blank">How does trust build success</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
