{{> header }}
<section id="r__landing" class="r__landing cf">
  <div class="r__landing--head cf">
    <div class="main__container cf">
      <div class="r__landing--head_inner">
        <div class="r__landing--head_title"><span>Real Data,</span> Actionable timesheets</div>
        <div class="r__landing--head_text">
          Make informed decisions based on the time your team has tracked. Toggl displays data in a way that makes employee timesheet collaboration actually useful. Knowledge is power - and you’ll know right away how profitable your clients, employees or projects really are.
        </div>
        <a href="#" class="cta-button cta-button--empty">SIGN UP FOR A FREE ACCOUNT</a>
      </div>
    </div>
  </div>
  <div class="r__landing--content">
    <div class="main__container">
      <div class="r__landing--reports cf">
        <div class="r__landing--reports_left">
          Robust reports<br><br>transparent<br>collaboration
        </div>
        <div class="r__landing--reports_right">
          <img src="images/landing-pages/r__webapp.png" alt="Web App">
        </div>
      </div>
      <div class="r__landing--features cf">
        <a href="#" class="r__landing--feature">
          <span class="r__landing--feature_box _dashboard">
            1
          </span>
          <span class="r__landing--feature_title">
            Dashboard
          </span>
          <span class="r__landing--feature_text">
            Get a visual understanding of how much time is being spent on non-billable work and which projects are taking up the most resources. Motivate your team with the employee of the week award and see what they’re tracking right now.
          </span>
        </a>
        <a href="#" class="r__landing--feature">
          <span class="r__landing--feature_box _weekly">
            2
          </span>
          <span class="r__landing--feature_title">
            WEEKLY REPORT
          </span>
          <span class="r__landing--feature_text">
            Get a daily table-style overview of time logged to projects by each team member. Let Toggl calculate the totals so that you can spot gaps in your team’s work tracking at a glance.
          </span>
        </a>
        <a href="#" class="r__landing--feature">
          <span class="r__landing--feature_box _mail">
            3
          </span>
          <span class="r__landing--feature_title">
            REPORTS TO EMAIL
          </span>
          <span class="r__landing--feature_text">
            Schedule your office team timesheets to regularly arrive on your email so that you’re in the loop even when you can’t log in to Toggl. Then share those reports easily with clients or colleagues.
          </span>
        </a>
      </div>
      <a href="#" class="r__landing--cta cta-button cta-button--empty">SIGN UP FOR A FREE ACCOUNT</a>
      <div class="r__landing--details">
        <div class="r__landing--details_title">
          DIG INTO MORE DETAIL
        </div>
        <div class="r__landing--details_text">
          Export detailed reports and open them as Excel timesheets. Now you can really drill into the time that has been captured - run pivot tables, compare time logs with budgets, and see your profit margins and estimation skills improve over time.
        </div>
      </div>
    </div>
  </div>
</section>
{{> footer }}
