<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/bg_login_page.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Tired of sending out timesheets?<br />We'll do it for you.</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="_lower">
          <p>
            Data is king, and those who know how to use it will rule tomorrow’s business landscape.
          </p>
          <p>
            Traditional timesheets lack depth, and are difficult to analyse. They fail to turn time data into meaningful business inteligence.
          </p>
          <p>
            The need for software with strong analytics capabilities is on the rise. To cater to that need, we have built Toggl around two core principles - simplicity and power.
          </p>
          <p>
            Simplicity means that Toggl’s time tracking is simple to use and easy to learn. This helps make sure your employees actually use the service.
          </p>
          <p>
            Power means that the time tracked is turned into data that can be flexibly sorted into different, robust reports.
          </p>
          <p>
            In short - simplicity ensures that your data is collected in a correct way and the power means you can use the data in however way you see fit.
          </p>
          <p>
            For Toggl Pro Plus users we have also made it easier to share all that data with the people that need it the most.
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-scheduled-timesheet.jpg" alt="Scheduling timesheets for sharing with Toggl Pro Plus"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>How does</span> scheduling reports work?</h2>
          <p>
            To schedule a report, you'll first need to save your report as a bookmark. Bookmarked reports let you pull recurring reports faster and make it easier to share them with others.
          </p>
          <p>
            When saving your report, you'll see an option to email it periodically to your individual team members or even entire user groups. When and who is up to you!
          </p>
          <p>
            That's it - now you've got one less thing to worry about.
          </p>
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-sign-up-image.jpg" alt="Signing up for Toggl Pro Plus"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>How do</span> I sign up for this?</h2>
          <p>
            To start using this feature, you simply need to sign up for Toggl Pro Plus and tick "Scheduled reports" when prompted to choose your extra feature.
          </p>
          <p>
            You can sign up for <a href="https://toggl.com/signup/pro_plus" target="_blank">a whole month of free trial by clicking here.</a>
          </p>
          <p>
            Once you've signed up and have your team tracking their time, you can start pulling all kinds of reports and choosing which ones need to be sent out and when!
        </div>
      </article>
    </section><!-- end posts -->

    <a href="https://toggl.com/signup/pro_plus" class="btn btn-big-cta">Sign up for a free trial</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="/">Free Time Tracking Software</a></li>
              <li><a href="/media-coverage" target="_blank">Toggl in the media</a></li>
              <li><a href="https://blog.toggl.com/2015/09/track-costs-earnings-toggl/" target="_blank">How to track your costs & earnings</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://support.toggl.com/category/basics/" target="_blank">A quick guide to Toggl</a></li>
              <li><a href="https://support.toggl.com/video-overview/" target="_blank">Toggl reporting basics</a></li>
              <li><a href="/locking-timesheets" target="_blank">Locking timesheets with Toggl Pro Plus</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
