<header>
  <div class="wrapper">
    <a href="/" class="logo">Toggl</a>
  </div>
</header>
<section class="hero hero--landing hero--dynamic-height">
  <div class="hero__background" style="background-image: url(photos/dog.jpg)"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1>Best task tracking tool</h1>
      <p>Manage your daily work hours with Toggl - real time tracking, powerful time usage reports and much more makes this the ultimate productivity tracker.</p>
      <a href="https://www.toggl.com/signup" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Improve time management & start tracking</a>
      <footer>.</footer>
    </div>
  </div>
</section>
<section class="content-section content-section--landing-features">
  <div class="wrapper cf">
    <div class="landing-feature">
     <img src="photos/landing-feature-2.jpg" alt="">
     <h2>How much time I'm spending on a project?</h2>
     <p>Set up projects and tasks inside Toggl and track in real time how much time in total these really take out of your day, week, month or a year. Combined time usage reports will give lots of insights into your work management.</p>
   </div>
   <div class="landing-feature">
     <img src="photos/landing-feature-3.jpg" alt="">
     <h2>Am I billing my client for all the work?</h2>
     <p>Lots of small tasks here and there that are not tracked inside the project will add up to lost revenues. Make sure that every client's call, e-mail response and meeting time gets tracked.</p>
   </div>
   <div class="landing-feature">
     <img src="photos/landing-feature-1.jpg" alt="">
     <h2>What time management habits should I change?</h2>
     <p>Toggl reports will show you how many hours a day you and your team are really being productive. Analizing this information gives you the opportunity to shift priorities and maximise the productive time.</p>
   </div>
   <footer>
     <a href="https://www.toggl.com" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Explore Toggl & sign up</a>
   </footer>
 </div>
</section>
<section class="pricing" id="pricing">
  <h1>Team time tracking<em>With Pro Plan</em></h1>
  <div class="pricing__blocks">
    <div class="pricing__block pricing__block--free">
      <h2>Free</h2>
      <ul>
        <li>teams up to 5</li>
        <li>tracking time</li>
        <li>reports</li>
        <li>unlimited projects/clients</li>
      </ul>
    </div>
    <div class="pricing__block pricing__block--pro">
      <h2>Pro</h2>
      <strong>Everything in Free plus:</strong>
      <ul>
        <li>unlimited team size</li>
        <li>billable rates</li>
        <li>rounding/decimals</li>
        <li>project and task estimates</li>
        <li>$5 per month per user</li>
      </ul>
    </div>
  </div>
  <div class="pricing__footnote">You can upgrade to pro once you have created your free toggl account.</div>
</section>
<section class="content-section content-section--centered content-section--twitter">
  <div class="wrapper">
    <h2>And this is what twitter has to say:</h2>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%40toggl%20management" data-widget-id="573409633060179968">Tweets about @toggl management</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <p>
      <a href="https://www.twitter.com/toggl" class="twitter-btn">
        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" height="15px" width="19px" >
          <path fill="currentColor"
         d="M19,2 C18,2 17,2 17,2 C17,2 18,1 18,0 C17,1 17,1 16,1 C15,0 14,0 13,0 C11,0 10,2 10,4 C10,4 10,4 10,5 C7,4 4,3 2,1 C2,1 2,2 2,3 C2,4 2,5 3,6 C3,6 2,6 2,5 C2,5 2,5 2,5 C2,7 3,9 5,9 C4,9 4,9 4,9 C3,9 3,9 3,9 C3,11 5,12 6,12 C5,13 4,13 2,13 C2,13 1,13 1,13 C3,14 5,15 7,15 C13,15 17,9 17,4 C17,4 17,4 17,4 C18,3 18,3 19,2 Z "/>
        </svg>
        Follow toggl on twitter
      </a>
    </p>
  </div>
</section>
{{> 'toggler-grid' }}

{{> 'footer' }}
