<script> document.head.insertAdjacentHTML('afterbegin', '<link rel="stylesheet" href="stylesheets/bootstrap.min.css">'); </script>
<link rel="stylesheet" href="stylesheets/slalom.css">

{{> 'header' navLight=true }}

<section class="hero hero--landing hero--dynamic-height slalom-header">
  <div class="hero__background" style="background-image: url(images/landing-pages/bg_login_page.jpg);"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1 class="align-center">Team not tracking<br /> their time? <br />We'll remind them.</h1>
    </div>
  </div>
</section>

<div class="slalom">
  <div class="container">
    <section class="posts">
      <article class="row variant2 main-article">
        <div class="_lower">
          <p>
            Timesheets can provide you with invaluable business intelligence - but only if they’re accurate.
          </p>
          <p>
            Accuracy is the reason why Toggl uses real-time tracking. Traditional timesheets might work for calculating payroll, but they give little insight to how an employee spent their work hours.
          </p>
          <p>
            Instead of simply telling you how many hours an employee has spent working on a given day, Toggl uses a system of projects, tasks and tags to break the recorded data into smaller categories. That data can then easily be turned into different reports.
          </p>
          <p>
            This allows the user to get detailed insight into exactly how much time different employees spend on different activities, and how much it’s costing (or earning) you.
          </p>
          <p>
            The value of all that business intelligence is obvious. There is only one problem - your team has to remember to track their time.
          </p>
          <p>
            There are a few things you can do yourself to help people with that. You absolutely should <a href="https://blog.toggl.com/2015/11/make-people-use-timesheets/" target="_blank">communicate</a> the value of time tracking to your team. Also you can help them with onboarding, and even <a href="https://toggl.com/motivate-employee-time-tracking" target="_blank">offer rewards.</a>
          </p>
          <p>
            Toggl has a few solutions to deal with this problem - both the desktop apps and the Toggl Button Chrome extension have optional reminder features.
          </p>
          <p>
            But with Toggl Pro Plus, you can also set up custom tracking reminders for your teams.
        </div>
      </article>

      <article class="row variant1">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-timesheet-reminder.jpg" alt="Setting timesheet tracking reminders in Toggl Pro Plus"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-25"><span>How do</span> the reminders work?</h2>
          <p>
            You can set custom tracking reminders to single employees and whole teams - as many as you like.
          </p>
          <p>
            Once set, Toggl will alert the user (or a team) if they haven’t tracked enough hours for a given week or day by sending them a stern (yet kindly worded) e-mail to fill in their hours.
          </p>
          <p>
            Time tracking is a habit - and habits take time and effort to form. Sending your team reminders when they need them is the best way to reinforce the habit, making sure your tracking data stays accurate.
          </p>
        </div>
      </article>

      <article class="row variant2">
        <div class="col-1">
          <img src="images/landing-pages/toggl-pro-plus-sign-up-image.jpg" alt="Signing up for Toggl Pro Plus"/>
        </div>
        <div class="col-2">
          <h2 class="top-margin-15"><span>How can</span> I get it?</h2>
          <p>
            To start using the reminders, you'll simply need to sign up for Toggl Pro Plus and select "Tracking reminders" as an extra feature.
          </p>
          <p>
            You can <a href="https://toggl.com/signup/pro_plus" target="_blank">sign up for a whole month of free trial here.</a>
          </p>
          <p>
            Once you've signed up and invited your team to join, you can start setting traking reminders for them on your workspace settings page.
          </p>
        </div>
      </article>
    </section><!-- end posts -->

    <a href="https://toggl.com/signup/pro_plus" class="btn btn-big-cta">Sign Up For a Free Trial</a>

  </div><!-- end container -->

  <section class="discover">
    <div class="container">
      <div class="discover-content">
        <h2>Discover More Great Stuff</h2>
        <div class="row">
          <div class="col-sm-6">
            <ul class="list-unstyled discover-list1">
              <li><a href="/">Free Time Tracking Software</a></li>
              <li><a href="/kanban-time-tracking" target="_blank">Time tracking for agile development</a></li>
              <li><a href="/media-coverage" target="_blank">Toggl in the media</a></li>
            </ul>
          </div>
          <div class="col-sm-6 pull-right">
            <ul class="list-unstyled discover-list2">
              <li><a href="https://support.toggl.com/category/basics/" target="_blank">A quick guide to Toggl</a></li>
              <li><a href="https://support.toggl.com/track-reminders/" target="_blank">Tracking reminders in Toggl</a></li>
              <li><a href="https://support.toggl.com/category/team-management/" target="_blank">Toggl team features guide</a></li>
            </ul>
          </div>
        </div>
      </div><!-- end discover-content -->
    </div><!-- end container -->
  </section><!-- end discover -->

  <section class="insight">
    <div class="container">
      <div class="insight-box">
        <h3>Toggl Has Over <span>1 M Happy Users</span></h3>
      </div>
    </div><!-- end container -->
  </section><!-- end insight -->

</div><!-- end .slalom -->

{{> 'footer' }}
