<link rel="stylesheet" href="stylesheets/developer-challenge.css">
{{> header }}
<section class="mc__landing cf" id="mc__landing">
  <div class="mc__landing--head cf">
    <div class="main__container">
      <h1 class="ah__title"">The EPIC <br> TOGGL TIMER DEVELOPER <br> CHALLENGE </b> OF 2016</span>
      </h1>
    </div>
  </div>

  <div class="mc__landing--content">
    <div class="main__container">
      <div class="mc__landing--news">
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/toggl-developer-challenge-01.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
             <h2>BUILD A TIMER, WIN PRIZES</h2>
              <p>
                We are giving away one iPad, two Raspberry Pi’s and Toggl swag if you put our Toggl Button timer inside another webpage.
              </p>
              <p>
                “What is the Toggl Button,” you ask?
              </p>
              <p>
                The <a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank">Toggl Button</a> is a Chrome extension that adds a small Toggl timer to your browser window. It also adds a timer inside 50+ other tools and services, including Trello, Asana, Salesforce, Google Calendar, GitHub and more.
              </p>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf _left">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/toggl-developer-challenge-02.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
             <h2>HOW DO I PARTICIPATE?</h2>
              <p>
                Toggl Button is an open source project - so all you need is moderate h4xxx0r skillz.
              </p>
              <p>
                Simply head to our public GitHub “Toggl Button” repository, fork the project, pick whatever site or app you want to put a timer into and hack away!
              </p>
              <p>
                You can submit your pull requests <b>until February 14th.</b>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/toggl-developer-challenge-04.jpg" alt="How our noob artist thinks the cloud works">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
             <h2>What is Toggl?</h2>
              <p>
                Toggl is a time tracker built for doing more, with less.
              </p>
              <p>
                Since no business tool can (nor should) do everything, we have focused on building a timer that is easy to use, while also having powerful reporting features and openness to allow for customization and integrability.
              </p>
              <p>
                With 70,000+ users, the Toggl Button is our biggest open source success story.
              </p>
            </div>
            <div></div>
          </div>
        </div>

        <div class="mc__landing--news_item cf _left">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/toggl-developer-challenge-03.jpg" alt="and Git Police is always watching">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
             <h2>Rules? Rules.</h2>
              <p>
                Before you start, check this <a href="https://github.com/toggl/toggl-button">list of existing integrations!</a>
              </p>
              <p>
                This might backfire horribly, but we don’t really want to limit your imagination, so just make sure to follow these basic rules:
              </p>
              <p>
               <ul>
                <li>We will only consider integrations that work with the Toggl Button Chrome extension</li>
                <li>Your integration has to be approved (read: actually working, not “theoretical”, not FUBAR) by our staff</li>
                <li>That’s because integrations that pass the bar become officially featured Toggl Button integrations</li>
                <li>You can submit your pull requests <b>until February 14th.</b></li>
                <li>Grand prize (iPad + Raspberry Pi) awarded to one lucky random contributor for approved integration.</li>
                <li>Second prize (Raspberry Pi) awarded to the weirdest/coolest/most useful integration as voted by our staff.</li>
                <li>Winners will be announced on February 22nd on our <a href="https://www.facebook.com/Toggl" target="_blank">Facebook</a>, <a href="https://twitter.com/Toggl" target="_blank">Twitter</a> and GitHub.</li>
                <li>We do reserve the right to not add an integration if it makes us go “NO JUST NO”</li>
                <li>We will not add integrations with porn sites</li>
                <li>We <i>might</i> add integrations with FarmVille</li>
               </ul>
              </p>
              <p>
                For a step-by-step on how to build your integration, check out <a href="https://github.com/toggl/toggl-button/wiki/Adding-new-integrations" target="_blank">this tutorial here.</a>
            </div>
            <div></div>
          </div>
        </div>
      </div>

      <a href="https://github.com/toggl/toggl-button" class="cta-button cta-button--empty mc__landing--cta">
        TAKE ME TO GITHUB!
      </a>
    </div> <!-- /main__container -->
  </div> <!-- /mc__landing-content -->

  <div class="mc__landing--mentions">
    <div class="main__container">
      <div class="mc__landing--mentions_inner">
        <div class="mc__landing--mentions_title">
          Latest News:
        </div>
         <a class="twitter-timeline" href="https://twitter.com/hashtag/TogglButton" data-widget-id="679612616843628544">#TogglButton Tweets</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </a>
      </div>
    </div>
</section>
{{> footer }}
