<link rel="stylesheet" href="stylesheets/developer-challenge.css">
{{> header }}
<section class="mc__landing cf" id="mc__landing">
  <div class="mc__landing--head cf">
    <div class="main__container">
      <h1 class="ah__title"">The EPIC <br> TOGGL TIMER DEVELOPER <br> CHALLENGE </b> OF 2016</span>
      </h1>
    </div>
  </div>

  <div class="mc__landing--content">
    <div class="main__container">
      <div class="mc__landing--news">
        <div class="mc__landing--news_item cf ">
          <div class="mc__landing--news_img">
            <a>
              <img src="images/landing-pages/toggl-developer-challenge-01.jpg" alt="">
            </a>
          </div>
          <div class="mc__landing--news_content">
            <div>
             <h2>OH NO, YOU ARE TOO LATE :(</h2>
              <p>
                The contest is over for this time. But feel free to grab the Toggl Button timer from the <a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank">Chrome web store</a> and try it out!
              </p>
              <p>
                You can also follow Toggl on <a href="https://twitter.com/Toggl" target="_blank">Twitter</a> and <a href="https://www.facebook.com/Toggl/" target="_blank">Facebook</a> to learn about our future contests and Toggl updates.
              </p>
              <p>
                <a href="https://blog.toggl.com/2016/02/toggl-button-developer-challenge-winners/" target="_blank">(Who won the contest?)</a>
              </p>
            </div>
            <div></div>
          </div>
        </div>
      </div>

      <a href="/signup" class="cta-button cta-button--empty mc__landing--cta">
        SIGN UP FOR A FREE ACCOUNT
      </a>
    </div> <!-- /main__container -->
  </div> <!-- /mc__landing-content -->

  <div class="mc__landing--mentions">
    <div class="main__container">
      <div class="mc__landing--mentions_inner">
        <div class="mc__landing--mentions_title">
          Latest News:
        </div>
         <a class="twitter-timeline" href="https://twitter.com/hashtag/TogglButton" data-widget-id="679612616843628544">#TogglButton Tweets</a>
         <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
        </a>
      </div>
    </div>
</section>
{{> footer }}
