{{> header }}
<section class="airport-hacks">
  <div class="ah__head">
    <div class="ah__container">
      <h1 class="ah__title">
        Terrible Clients<span> explained with pirates</br></span>
      </h1>
    </div>
  </div>
  <div class="ah__container _inner">
    <div class="ah__social">
      <a href="https://twitter.com/home?status=Terrible%20Clients%20Explained%20with%20Pirates%20(infographic)%3A%20https%3A//toggl.com/worst-client-types-infographic%20%23designerproblems" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="24.015px" height="20.003px" viewBox="0 0 24.015 20.003" enable-background="new 0 0 24.015 20.003" xml:space="preserve"><path fill="#ED1C24" d="M24.015,2.369c-0.884,0.402-1.833,0.673-2.83,0.795c1.017-0.624,1.798-1.614,2.166-2.793 c-0.952,0.579-2.006,0.999-3.129,1.225C19.324,0.614,18.043,0,16.626,0C13.906,0,11.7,2.262,11.7,5.05 c0,0.397,0.043,0.782,0.128,1.152C7.732,5.99,4.102,3.98,1.672,0.925C1.247,1.671,1.005,2.538,1.005,3.464 c0,1.752,0.869,3.297,2.191,4.203C2.389,7.64,1.629,7.413,0.965,7.035C0.964,7.056,0.964,7.077,0.964,7.098 c0,2.446,1.699,4.487,3.952,4.951c-0.413,0.115-0.849,0.177-1.298,0.177c-0.318,0-0.626-0.031-0.927-0.09 c0.627,2.005,2.447,3.466,4.602,3.505c-1.687,1.355-3.81,2.163-6.119,2.163c-0.398,0-0.789-0.024-1.175-0.071 c2.18,1.433,4.77,2.269,7.552,2.269c9.063,0,14.019-7.694,14.019-14.368c0-0.219-0.005-0.436-0.014-0.652 C22.519,4.271,23.354,3.381,24.015,2.369z"/></svg>
      </a>
      <a href="https://www.facebook.com/sharer/sharer.php?u=https%3A//toggl.com/worst-client-types-infographic" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.009px" height="19.994px" viewBox="0 0 20.009 19.994" enable-background="new 0 0 20.009 19.994" xml:space="preserve"><path fill="#ED1C24" d="M17.51,0H2.501C1.126,0,0,1.125,0,2.499v14.996c0,1.375,1.126,2.497,2.501,2.497h7.591v-7.168H7.694V9.702 h2.397V8.138c0-2.412,1.782-4.301,4.058-4.301h2.209v3.526H14.38c-0.516,0-0.668,0.297-0.668,0.706V9.7h2.645v3.124h-2.645v7.17 h3.796c1.377,0,2.5-1.124,2.5-2.498V2.499C20.012,1.125,18.887,0,17.51,0z"/></svg>
      </a>
      <a href="https://plus.google.com/share?url=https%3A//toggl.com/worst-client-types-infographic" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.012px" height="19.994px" viewBox="0 0 20.012 19.994" enable-background="new 0 0 20.012 19.994" xml:space="preserve"><path fill="#ED1C24" d="M10.535,16.065c0-0.168-0.018-0.331-0.054-0.487c-0.036-0.155-0.074-0.3-0.114-0.433c-0.04-0.132-0.11-0.27-0.211-0.414c-0.1-0.145-0.184-0.267-0.252-0.367c-0.068-0.1-0.174-0.218-0.319-0.354c-0.144-0.136-0.255-0.238-0.331-0.306c-0.076-0.068-0.205-0.17-0.385-0.306c-0.181-0.136-0.305-0.228-0.373-0.276c-0.068-0.049-0.2-0.14-0.397-0.277c-0.196-0.136-0.319-0.22-0.367-0.253c-0.136-0.015-0.336-0.023-0.601-0.023c-0.433,0-0.858,0.028-1.275,0.084c-0.417,0.056-0.85,0.157-1.299,0.301c-0.449,0.144-0.842,0.329-1.179,0.552C3.043,13.73,2.766,14.03,2.55,14.407c-0.217,0.377-0.325,0.805-0.325,1.286c0,0.545,0.142,1.032,0.427,1.46c0.285,0.429,0.657,0.765,1.118,1.009c0.462,0.245,0.945,0.427,1.45,0.547c0.505,0.12,1.014,0.18,1.527,0.18c0.473,0,0.924-0.05,1.353-0.151c0.429-0.1,0.832-0.256,1.209-0.468c0.377-0.212,0.676-0.506,0.897-0.883C10.425,17.01,10.535,16.569,10.535,16.065z M9.092,5.707c0-0.48-0.066-0.991-0.198-1.532c-0.132-0.541-0.32-1.063-0.565-1.568c-0.244-0.505-0.581-0.922-1.01-1.25C6.89,1.029,6.41,0.865,5.881,0.865c-0.746,0-1.323,0.276-1.731,0.828C3.74,2.246,3.536,2.908,3.536,3.677c0,0.376,0.046,0.772,0.139,1.19c0.092,0.416,0.234,0.832,0.426,1.249c0.193,0.416,0.417,0.791,0.674,1.123C5.031,7.572,5.344,7.842,5.712,8.05C6.082,8.259,6.47,8.363,6.88,8.363c0.777,0,1.341-0.243,1.69-0.727C8.918,7.151,9.092,6.509,9.092,5.707z M7.516,0h5.256l-1.623,0.949H9.525c0.569,0.361,1.01,0.865,1.323,1.514c0.313,0.649,0.469,1.326,0.469,2.031c0,0.593-0.092,1.12-0.276,1.58c-0.185,0.46-0.409,0.831-0.674,1.112c-0.265,0.28-0.529,0.539-0.794,0.775C9.308,8.197,9.084,8.441,8.9,8.693C8.715,8.946,8.623,9.216,8.623,9.505c0,0.208,0.066,0.412,0.199,0.612c0.132,0.2,0.304,0.392,0.516,0.577c0.213,0.184,0.448,0.376,0.704,0.577c0.256,0.2,0.513,0.422,0.77,0.667c0.256,0.244,0.491,0.508,0.704,0.792c0.212,0.285,0.385,0.625,0.517,1.021c0.132,0.397,0.198,0.823,0.198,1.28c0,1.282-0.562,2.411-1.684,3.389c-1.219,1.049-2.902,1.573-5.051,1.573c-0.473,0-0.952-0.04-1.438-0.12c-0.485-0.08-0.974-0.214-1.467-0.403c-0.493-0.188-0.928-0.42-1.305-0.696c-0.377-0.276-0.686-0.634-0.926-1.069C0.12,17.268,0,16.782,0,16.245c0-0.489,0.149-1.029,0.445-1.621c0.256-0.513,0.641-0.956,1.154-1.328c0.513-0.372,1.094-0.657,1.744-0.853c0.649-0.196,1.27-0.341,1.864-0.432c0.594-0.093,1.195-0.146,1.804-0.162c-0.513-0.665-0.769-1.262-0.769-1.79c0-0.096,0.008-0.191,0.023-0.282c0.016-0.092,0.037-0.17,0.06-0.235C6.35,9.476,6.382,9.39,6.422,9.282c0.04-0.108,0.069-0.194,0.084-0.258c-0.321,0.04-0.601,0.06-0.842,0.06c-1.195,0-2.219-0.393-3.073-1.178C1.738,7.121,1.311,6.135,1.311,4.95c0-1.121,0.381-2.124,1.143-3.009c0.761-0.885,1.7-1.452,2.814-1.7C6.021,0.08,6.771,0,7.516,0z M20.012,3.076v1.539h-3.078V7.69h-1.54V4.614h-3.078V3.076h3.078V0h1.54v3.076H20.012z"/></svg>
      </a>
      <a href="https://www.linkedin.com/shareArticle?mini=true&url=https%3A//toggl.com/worst-client-types-infographic&title=Terrible%20Clients%20Explained%20with%20Pirates%20(infographic)&summary=These%20problem%20clients%20will%20rob%20you%20of%20your%20most%20precious%20asset%20-%20your%20time.&source=" target="_blank">
        <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="20.012px" height="20.015px" viewBox="0 0 20.012 20.015" enable-background="new 0 0 20.012 20.015" xml:space="preserve"><path fill="#ED1C24" d="M4.532,2.17c0,1.198-0.873,2.169-2.308,2.169C0.873,4.339,0,3.369,0,2.17C0,0.943,0.902,0,2.28,0 C3.659,0,4.504,0.943,4.532,2.17z M0.113,20.014V6.054h4.279v13.96H0.113z M6.952,10.507c0-1.742-0.056-3.197-0.113-4.453h3.716 l0.198,1.942h0.084c0.562-0.915,1.943-2.256,4.25-2.256c2.814,0,4.925,1.913,4.925,6.024v8.251h-4.278v-7.737 c0-1.798-0.62-3.027-2.168-3.027c-1.182,0-1.884,0.828-2.194,1.627c-0.113,0.285-0.141,0.685-0.141,1.085v8.052H6.952V10.507z"/></svg>
      </a>
    </div>
    <h2 class="ah__subtitle">
      An Epic Visual Guide to the Worst Clients
    </h2>
    <p>
      You can’t blame your clients for not knowing that negative space is supposed to be empty, or that comic sans is an abomination.
    </p>
    <p>
      But you can't forgive them for assuming that your time is free. Here is our rundown of the worst offenders:
    </p>
    <div class="ah__main--image">
      <img src="/large-assets/images/terrible-clients-explained-with-pirates-toggl-infographic-mart-virkus.jpg" alt="Terrible clients that waste your time - Toggl infographic">
    </div>

    <p>
      How do you protect yourself against these fiendish customers? Because your time is your most precious resource, you need to track every minute to see where it's going.
    </p>
    <p>
      Toggl was actually built for doing just that - <b><a href="https://toggl.com/signup" target="_blank">just follow this link to sign up and give it a try.</a></b> You'll like it (and your accountant will too).
    </p>
    <p>
      Once you've got an idea of where your time is really going, you'll be in a much better position to deal with clients who try to steal it.
    <p>
      Below, we've picked out some common client problems agencies run into, and a few solutions we’ve learned along the way.
    </p>

    <h3 class="ah__subtitle--low">
      So who's giving you trouble?
    </h3>

    <ol class="ah__contents">
      <li>
        <a href="/worst-client-types-infographic#section-1">
          My client is really good at haggling
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-2">
          My client keeps changing their mind
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-3">
          I’m eating the costs and I need to negotiate for more money
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-4">
          My client won’t stop calling/emailing/talking to me
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-5">
          My client thinks everything is urgent
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-6">
          My client keeps interfering with my work
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-7">
          My client is asking for impossible things
        </a>
      </li>
      <li>
        <a href="/worst-client-types-infographic#section-8">
          My client is my friend, but they're holding me back
        </a>
      </li>
    </ol>


    <h2 class="ah__subtitle _lower" id="section-1">
      1. My client is really good at haggling!
    </h2>

    <div class="cf">
      <div class="ah__img--left">
        <img src="images/landing-pages/agency-problem-clients-01-negotiator.jpg" alt="This guy looks like he can negotiate the earth to spin backwards">
      </div>
      <p>
        Every argument they make seems like it's coming from a Harvard economist (and probably is), while your arguments come off as <i>“I like money”.</i>
      </p>
      <p>
        The reason why people come to you is that they <i>a.)</i> don’t know how to do something or <i>b.)</i> don’t have the time to do it. Most clients know this. Some, however, adopt a <i>“how hard can it be?”</i> approach.
      </p>
      <p>
        Some clients - particularly the bigger ones - are really good at negotiating. But when it comes to negotiating design or development contracts remember that you’re the expert, not them - and your expertise isn't cheap.
      </p>
      <p>
        Know your worth - have you ever measured how long it takes for your team to deliver different projects? Track it. This will give you a pretty solid idea of what your time costs. Once you have that baseline, it'll be a lot easier to come up with reasonable offers.
      </p>
      <p>
        Tracking your time also helps with haggling clients - if they keep trying to cheat you, <a href="https://support.toggl.com/summary-report/" target="_blank">pull a report</a> and give them a by-the-task breakdown of why you can't build their site in just two hours (even though "their mate Dave from the pub" totally could).
      </p>
    </div>


    <h2 class="ah__subtitle _lower" id="section-2">
      2. My client keeps changing their mind!
    </h2>

    <div class="cf">
      <div class="ah__img--right">
        <img src="images/landing-pages/agency-problem-clients-02-client-changing-mind.jpg" alt="Clients that keep changing their minds">
      </div>
      <p>
        So you agree on a fixed fee project, only to see your budget chewed up by an endless stream of revisions and requests. Before you know it you’re paying the client to work for them.
      </p>
      <p>
        Clients can be a little undecisive. After all, they've got money vested in your project and they are anxious about the outcome. And feedback is crucial to getting it right. But where do you draw the line?
      </p>
      <p>
        Again - know your worth. When you agree on a budget, you should know how many hours of work you can afford on the project (a buffer for revisions included). Track your time against the estimate to stay profitable.
      </p>
      <p>
        When it starts going into red, let your client know. More often than not they're be making revisions for the sake of it and will stop once you remind them that it can't go on forever.
      <p>
        On the other side of the spectrum is the client who says little during development, approves every element but once you're ready to deliver the project, <i>BOOM</i> - they've had a revelation, and everything needs to be rebuilt!
      </p>
      <p>
        It's the ultimate dick move. To put a rotten cherry on that turd of a cake, the client probably thinks that since they paid you, you owe them work until he signs off on it. You have to know better - <strong>as an agency you sell time, not products.</strong> When the client restarts the development process with no warning, they must either increase the budget, or switch to an hourly fee.
      </p>
      <p>
        And boy, nothing gets the ball rolling like billing by the hour.
    </div>

    <h2 class="ah__subtitle _lower" id="section-3">
      3. I’m eating the costs and I need to negotiate for more money!
    </h2>

    <div class="cf">
      <div class="ah__img--left">
        <img src="images/landing-pages/agency-problem-clients-03-increasing-budget.jpg" alt="How to ask for more money from a client">
      </div>
      <p>
        Asking the client for more money - you'd rather run into a lion's den dressed in Lady Gaga's meat suit than do that. Never a great thing, what's the best way to go about it?
      </p>
      <p>
        The most important thing is this - never let it come as a last minute surprise! Clients don't like those.
      <p>
        First, track your project time - it's great for spotting bottlenecks in your workflow. If your estimate was poor or your team messed up, you'll just have to eat into your margins and plan better in the future. If it's not your fault, how do you get more money?
      </p>
      <p>
        Try this thing called "communicating" - it's fantastic. Make sure you have a system in place for dealing with runaway projects - have a fixed hourly billable rate that you charge for overtime. Mention this upfront. Have a buffer (don't mention that one).
      </p>
      <p>
        if the client starts changing the scope of the project and you've been properly tracking your time against your estimate, you should have a solid idea of how much money you have left to spend. If you've spent 70% of your team's hours on the project and it starts morphing into something completely different, you'll need to have the budget talk. Just make sure you have the talk <i>before</i> you run out of time, not after.
      </p>
    </div>


    <h2 class="ah__subtitle _lower" id="section-4">
      4. My client won’t stop calling/emailing/talking to me!
    </h2>

    <div class="cf">
      <div class="ah__img--right">
        <img src="images/landing-pages/agency-problem-clients-04-too-many-meetings.jpg" alt="Clients that love to have too many meetings">
      </div>
      <p>
        It's 4:50 PM. Your phone rings - it's your client: <i>"Hey, I just met you, and I'm going crazy, so how's my poster, call me maybe?"</i>
      </p>
      <p>
        It might be just another Wordpress site to you, but for your client, it's the difference between life and death. It’s only natural that people get anxious when investing money into something they have no control over.
      </p>
      <p>
        They will want to know that everything is going OK - all the time, <i>every day</i>. Ironically this makes you do your job worse as you end up doing more meetings and calls than, you know, whatever you were hired to do.
      </p>
      <p>
        The best defence is offence - don’t wait for you client to start pulling their hair. Anticipate their questions and offer to arrange regular status checks. <a href="https://blog.toggl.com/2015/04/how-to-manage-client-expectations/" target="_blank">One Toggl user</a> gave us this simple strategy - promise your client a regular status check email every week. Then keep sending it every week until the project’s done. The client will be a little bit more at ease, and you'll have fewer interruptions.
      </p>
      <p>
        A popular solution for consultants is billing meeting time (and even phone calls) - <a href="https://support.toggl.com/category/toggl-app-for-ios-android/" target="_blank">just pop a timer on your phone</a>, and let them talk. Remember that speaking is silver, but listening is green and crisp and looks like Andrew Jackson.
      </p>
    </div>

    <h2 class="ah__subtitle _lower" id="section-5">
      5. My client thinks everything is urgent!
    </h2>

    <div class="cf">
      <div class="ah__img--left">
        <img src="images/landing-pages/agency-problem-clients-05-everything-is-urgent.jpg" alt="Clients who think everything is urgent">
      </div>
      <p>
        They crash in through the door, shoving a proposal in your face - it’s on fire. They need a website and they needed it yesterday - if possible, by last weekend. You do work on weekends, don't you?
      </p>
      <p>
        Mr. Urgent could be trying to squeeze more work out of you in fewer hours, but it’s more likely that they simply suck at planning - so it’s super important that you don’t.
      </p>
      <p>
        taking on a client who demands unreasonable results with impossible deadlines, you’ll risk compromising the work you do for your other clients.
      </p>
      <p>
        You need to have a great understanding of your team’s capacity to work. Know how long it takes them to do things and it’ll be easier to spot tricky deals. When you do spot one, either turn it down, or if you really need the client, bring out your charts and show them - in no uncertain terms - exactly how many hours of work they are asking for.
      </p>
      <p>
        And always remember that poor planning on their part does not constitute an emergency response on yours.
      </p>
    </div>

    <h2 class="ah__subtitle _lower" id="section-6">
      6. My client keeps interfering with my work!
    </h2>

    <div class="cf">
      <div class="ah__img--right">
        <img src="images/landing-pages/agency-problem-clients-06-client-interfering.jpg" alt="Clients that ruin the project by wanting to work together on it">
      </div>
      <p>
        You sign the deal, shake hands and get up to show the client out. Instead of leaving, they take your seat at the desk, roll up their sleeves and say <i>"oh man, I can't wait to learn Photoshop!"</i>
      </p>
      <p>
        It's like that guy who goes to the mechanic saying: <i>"Yeah, I did some bodywork on my own,"</i> which is why their Mercedes looks like a Fiat Panda had a love child with the neighbourhood tractor.
      </p>
      <p>
        The worst thing about working with a "hands on" client is that it absolutely destroys productivity. Designers and developers make countless micro-decisions every hour. It's second nature stuff that stems from their experience. Explaining why green text won't work on a bright orange background is like explaining why looking directly into the sun is bad (these two are actually the same thing).
      </p>
      <p>
        Every such explanation is an interruption. According to one study, <a href="https://www.washingtonpost.com/news/inspired-life/wp/2015/06/01/interruptions-at-work-can-cost-you-up-to-6-hours-a-day-heres-how-to-avoid-them/" target="_blank">it takes about 23 minutes</a> for someone to get back on task after being interrupted. If this happens many times a day, it's easy to see the problem.
      </p>
      <p>
        Do whatever you can to keep the client from breathing down your neck. Offer regular feedback cycles, or spend extra time on the initial brief to make sure you understand the client's needs.
      </p>
      <p>
        If they <i>still</i> insist on helping out, double the price.
      </p>
    </div>

    <h2 class="ah__subtitle _lower" id="section-7">
      7. My client is asking for impossible things
    </h2>

    <div class="cf">
      <div class="ah__img--left">
        <img src="images/landing-pages/agency-problem-clients-07-dumb-requests.jpg" alt="Clients that make impossible requests">
      </div>
      <p>
        They want a black that looks like white. They want a video that stands still. They want a website as a printed hardcover - but with clickable links.
      </p>
      <p>
        Designing something isn't about translating someone's vision into a working solution, as it is about interpreting it. Taking things literally can lead to huge misunderstandings down the road - and chances are they're not gonna be happy paying for massive revisions.
      </p>
      <p>
        To spare yourself the trouble, spend more time on the inital brief. When they make ludicrous requests, focus on what the client wants to achieve, rather than on how they want to do it. Then politely offer an alternative solution.
      </p>
        It's hard to avoid dealing with silly requests once a project is already underway, but the solution is similar to dealing with undecisive clients - keep an eye on your estimates and when the needle starts going into red, remind them that time is money too, and it's starting to run low.
    </div>

    <h2 class="ah__subtitle _lower" id="section-8">
      8. My client is my friend, but they're holding me back!
    </h2>

    <div class="cf">
      <div class="ah__img--right">
        <img src="images/landing-pages/agency-problem-clients-03-letting-go-of-poor-client.jpg" alt="Dealing with a loyal client that is holding you back">
      </div>
      <p>
        Ah, here comes Marvin - you’ve known him since you started out 20 years ago. He needs a website for his dog shelter, but his budget is thin. And you’ve got a business to run, and a team to feed. Marvin has brought a cake - every bite tastes like betrayal.
      </p>
      <p>
        Scaling an agency is tough, and since you can't get more free hours, often your only option is to put a bigger price tag on the time you have - this means letting go of old business.
      </p>
      <p>
        With that in mind, there's a few things you can do to ease the transition. You can let them know as early as possible, so they'd have time to look for a new partner. Recommend freelancers and other agencies. Help them out how you can, but don't lose sight of your own growth.
      </p>
      <p>
        If you've got a good relationship with them, it'll probably be OK. If there ever was a good pirate, then Marvin is the best one.
      </p>
    </div>

      <p>
        That's it for this time. There's of course many more pitfalls your shop can hit, but remember that the easiest way to avoid squandering time is to know where it's going.
      </p>

  </div>
  <div class="ah__cta">
    <a href="/signup" class="cta-button cta-button--empty">Start tracking time now</a>
  </div>
  <div class="ah__discover cf">
    <div class="ah__discover--container">
      <div class="ah__discover--title">
        Discover more great stuff
      </div>
      <div class="cf">
        <div class="ah__discover--item">
          <a href="/web-development-companies" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Time tracking for agile teams
          </a>
          <a href="/best-free-time-tracking-app-for-iphone" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Time Tracking for iPhone
          </a>
          <a href="/best-free-time-tracking-app-for-android" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Time Tracking for Android
          </a>
        </div>
        <div class="ah__discover--item">
          <a href="/developer-methods-infographic" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Software Development Explained with Cars
          </a>
          <a href="/tools" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            List of Toggl integrations
          </a>
          <a href="https://blog.toggl.com/" target="_blank">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="12px" height="9.001px" viewBox="0 0 12 9.001" enable-background="new 0 0 12 9.001" xml:space="preserve"><path d="M0,4.958c0.429-0.385,0.865-0.775,1.314-1.177C2.237,4.6,3.157,5.417,4.11,6.264 c0.036-0.051,0.062-0.102,0.101-0.141c2.009-2.005,4.02-4.009,6.029-6.016c0.081-0.08,0.159-0.113,0.274-0.105 C10.996,0.03,11.479,0.051,12,0.076C9.362,3.058,6.795,6.063,4.151,9.001C2.759,7.645,1.384,6.306,0,4.958z"/></svg>
            Toggl Blog
          </a>
        </div>
      </div>
    </div>
  </div>
  <div class="ah__happy cf">
    <div class="ah__happy--text">
      Toggl has over <strong>1 M happy users</strong>
    </div>
  </div>
</section>
{{> footer }}
