<header>
  <div class="wrapper">
    <a href="/" class="logo">Toggl</a>
  </div>
</header>
<section class="hero hero--landing hero--dynamic-height">
  <div class="hero__background" style="background-image: url(images/landing-pages/zendesk-bg.jpg)"></div>
  <div class="hero__content content--light">
    <div class="wrapper">
      <h1>Free Chrome based time tracking integration for Zendesk</h1>
      <p>This simple Chrome extension adds a timer button inside your Zendesk account and syncs time logs in real time to your Toggl account. It's all free and you'll gain valuable business intelligence from Toggl reports.</p>
      <a href="https://chrome.google.com/webstore/detail/toggl-button/oejgccbfbmkkpaidnkphaiaecficdnfn?hl=en" target="_blank" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Get it now from Chrome store</a>
      <footer>Zendesk time tracking integration via Toggl Button Chrome extension</footer>
    </div>
  </div>
</section>
<section class="content-section content-section--landing-features">
  <div class="wrapper cf">
    <div class="landing-feature">
     <img src="photos/toggl-chrome-download.jpg" alt="">
     <h2>Step 1: Add the extension to Chrome</h2>
     <p>This extension only works in the Chrome browser and also includes integrations with many other tools like Trello, Todoist, Gmail and Salesforce.</p>
   </div>
   <div class="landing-feature">
     <img src="photos/login-toggl-button.jpg" alt="">
     <h2>Step 2: Log in to Toggl</h2>
     <p>You'll need a free Toggl account for this integration to work. All your time tracking data will be synced in real time and stored on your Toggl account.</p>
   </div>
   <div class="landing-feature">
     <img src="images/landing-pages/zendesk.jpg" alt="">
     <h2>Step 3: Click "Start timer"</h2>
     <p>Use the timer button to start logging your time spent in Zendesk. Check out time reports later in Toggl.</p>
   </div>
   <footer>
     <a href="https://toggl.com/signup" target="_blank" class="cta-button cta-button--filled cta-button--inline js-ripple-button">Sign up for a free Toggl account</a>
   </footer>
 </div>
</section>
<section class="content-section content-section--centered content-section--twitter">
  <div class="wrapper">
    <h2>And this is what twitter has to say about Toggl:</h2>
    <a class="twitter-timeline" href="https://twitter.com/search?q=%40toggl" data-widget-id="572371784167866368">Tweets about @toggl</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
    <p>
      <a href="https://www.twitter.com/toggl" class="twitter-btn">
        <svg version="1.1" baseProfile="full" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:ev="http://www.w3.org/2001/xml-events" height="15px" width="19px" >
          <path fill="currentColor"
         d="M19,2 C18,2 17,2 17,2 C17,2 18,1 18,0 C17,1 17,1 16,1 C15,0 14,0 13,0 C11,0 10,2 10,4 C10,4 10,4 10,5 C7,4 4,3 2,1 C2,1 2,2 2,3 C2,4 2,5 3,6 C3,6 2,6 2,5 C2,5 2,5 2,5 C2,7 3,9 5,9 C4,9 4,9 4,9 C3,9 3,9 3,9 C3,11 5,12 6,12 C5,13 4,13 2,13 C2,13 1,13 1,13 C3,14 5,15 7,15 C13,15 17,9 17,4 C17,4 17,4 17,4 C18,3 18,3 19,2 Z "/>
        </svg>
        Follow toggl on twitter
      </a>
    </p>
  </div>
</section>
<section class="content-section">
  <section class="content-section__centered-block">
    <img src="images/toggl-logo-icon.svg?1" alt="">
    <h2>70 000+ users and growing</h2>
    <p>Time tracking is supposed to be simple and quick. With the Toggl Button it can be.</p>
  </section>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/makeable.jpg?1');">
    <div class="content-section__background-tile-content">
      One break per hour recharges willpower
      <footer>Emily, Toggler from Makeable</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/webhomes.jpg?1');">
    <div class="content-section__background-tile-content">
      Do one thing at a time.
      <footer>Raine, Toggler from Station</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/offerpop.jpg?1');">
    <div class="content-section__background-tile-content">
      Define priorities, assign focus.
      <footer>Melissa, Toggler from Offerpop</footer>
    </div>
  </blockquote>
  <blockquote class="content-section__background-tile" style="background-image: url('photos/matt_alexander.jpg');">
    <div class="content-section__background-tile-content">
      Measure it, improve it.
      <footer>Matt, Toggler from Chicago</footer>
    </div>
  </blockquote>
</section>

{{> 'footer' }}
